<!doctype html>
<html lang="{{ request.locale.iso_code }}" data-cart-currency="{{ localization.country.currency.iso_code }}">
  <head>

    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PZMXP9C');
    </script>
    <!-- End Google Tag Manager -->

    <meta name="google-site-verification" content="zUtBnN4CAagvEN8QHMyArQawp1pfW4AVCX7CtNNZrO4">

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ page_title }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% assign seo_canonical = canonical_url
      | remove: '/en-us'
      | remove: '/en-ca'
      | remove: '/en-gb'
      | remove: '/en-au'
      | remove: '/en-dk'
      | remove: '/en-no'
    %}
    <link rel="canonical" href="{{ seo_canonical }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 96, height: 96 }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180, height: 180 }}">
    {%- endif -%}

    {{ content_for_header }}



    <!-- Self-hosted fonts -->
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0686/9581/8505/files/ClashGrotesk-Semibold.woff2?v=1777485035" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0686/9581/8505/files/dm-sans-v17-latin-regular.woff2?v=1777484823" as="font" type="font/woff2" crossorigin>

    <style>
      @font-face {
        font-family: 'DM Sans';
        src: url('https://cdn.shopify.com/s/files/1/0686/9581/8505/files/dm-sans-v17-latin-regular.woff2?v=1777484823') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'DM Sans';
        src: url('https://cdn.shopify.com/s/files/1/0686/9581/8505/files/dm-sans-v17-latin-600.woff2?v=1777484823') format('woff2');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Clash Grotesk';
        src: url('https://cdn.shopify.com/s/files/1/0686/9581/8505/files/ClashGrotesk-Medium.woff2?v=1777485035') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Clash Grotesk';
        src: url('https://cdn.shopify.com/s/files/1/0686/9581/8505/files/ClashGrotesk-Semibold.woff2?v=1777485035') format('woff2');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Playfair Display';
        src: url('https://cdn.shopify.com/s/files/1/0686/9581/8505/files/playfair-display-v40-latin-regular.woff2?v=1777485122') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Playfair Display';
        src: url('https://cdn.shopify.com/s/files/1/0686/9581/8505/files/playfair-display-v40-latin-italic.woff2?v=1777485121') format('woff2');
        font-weight: 400;
        font-style: italic;
        font-display: swap;
      }
    </style>

    <!-- Global CSS -->
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'components-buttons.css' | asset_url | stylesheet_tag }}
    {{ 'header-new.css' | asset_url | stylesheet_tag }}

    {% if request.design_mode %}
      {{ 'editor-guard.css' | asset_url | stylesheet_tag }}
    {% endif %}

    <!-- Microsoft Clarity -->
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);
        t.async=1;
        t.src="https://www.clarity.ms/tag/" + i;
        y=l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "r99kaui2gr");
    </script>

    {% if template.name == 'blog' and current_tags %}
      <meta name="robots" content="noindex, follow">
    {% endif %}
  </head>

  <body class="template-{{ template.name }} page-type-{{ request.page_type }}{% if page.template_suffix != blank %} {{ page.template_suffix }}__page{% endif %}">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZMXP9C"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Header -->
    {%- sections 'header-group' -%}

    <!-- Main content -->
    {{ content_for_layout }}

    <!-- Footer -->
    <footer>
      {%- sections 'footer-group' -%}
    </footer>

    <!-- Body assets / variables -->
    {%- render 'theme-variables-script' -%}

    <!-- Drawers / body-end sections -->
    {% section 'drye-cart-drawer' %}
    {% section 'drye-size-guide-drawer' %}

    <!-- DRYE section tracker (drop-off measurement) -->
    {% render 'drye-section-tracker' %}
    {% render 'junip-store-key' %}
  </body>
</html>