{%- if section.settings.footer -%}
  <style>
    #shopify-section-{{ section.id }} .container {
      margin-bottom: 5vw;
    }
  </style>
{%- endif -%}
<style>
  @media screen and (min-width: 1025px) {
    #shopify-section-{{ section.id }} .title {
      font-size: {{ section.settings.title_font_size_desktop }}px;
      line-height: {{ section.settings.title_line_height_desktop }}px;
    }
    #shopify-section-{{ section.id }} .article-title {
      font-size: {{ section.settings.article_title_font_size_desktop }}px;
      line-height: {{ section.settings.article_title_line_height_desktop }}px;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    #shopify-section-{{ section.id }} .title {
      font-size: {{ section.settings.title_font_size_tablet }}px;
      line-height: {{ section.settings.title_line_height_tablet }}px;
    }
    #shopify-section-{{ section.id }} .article-title {
      font-size: {{ section.settings.article_title_font_size_tablet }}px;
      line-height: {{ section.settings.article_title_line_height_tablet }}px;
    }
  }
  @media screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} .title {
      font-size: {{ section.settings.title_font_size_mobile }}px;
      line-height: {{ section.settings.title_line_height_mobile }}px;
      font-weight: 300;
    }
    #shopify-section-{{ section.id }} .article-title {
      font-size: {{ section.settings.article_title_font_size_mobile }}px;
      line-height: {{ section.settings.article_title_line_height_mobile }}px;
    }
  }
</style>

<div class="container">
  {%- if section.settings.title -%}
    <h2 class="title">
      {{ section.settings.title }}
    </h2>
  {%- endif -%}
  {%- if section.settings.blog != blank -%}
    <div class="slider-wrapper">
      <swiper-container class="blog-slider" init="false">
        {%- for article in section.settings.blog.articles -%}
          <swiper-slide>
            <div class="slide-wrapper">
              {%- if article.image != blank -%}
                <a class="image" href="{{ article.url }}" title="{{ article.title }}">
                  {{ article.image | image_url: height: '500' | image_tag: loading: 'lazy' }}
                </a>
              {%- endif -%}
              <div class="content">
                <div class="date">{{ article.created_at | date: "%d.%m.%Y" }}</div>
                <a href="{{ article.url }}" class="article-title">{{ article.title }}</a>
                <a href="{{ article.url }}" class="read-more">
                  {{ 'blog.read_more' | t }}
                  {%- render 'icon', type: 'arrow-right' -%}
                </a>
              </div>
            </div>
          </swiper-slide>
        {%- endfor -%}
      </swiper-container>
      <prev-next-buttons>
        <div class="prev">
          {%- render 'icon', type: 'arrow-left' -%}
        </div>
        <div class="pagination"></div>
        <div class="next">
          {%- render 'icon', type: 'arrow-right' -%}
        </div>
      </prev-next-buttons>
    </div>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Blog slider(New)",
    "tag": "section",
    "class": "blog-slider-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "header",
        "content": "Title Settings"
      },
      {
        "type": "range",
        "id": "title_font_size_desktop",
        "label": "Title Font Size(Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 48,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "title_line_height_desktop",
        "label": "Title Line Height(Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 55,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "title_font_size_tablet",
        "label": "Title Font Size(Tablet)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 42,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "title_line_height_tablet",
        "label": "Title Line Height(Tablet)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 50,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "title_font_size_mobile",
        "label": "Title Font Size(Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 24,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "title_line_height_mobile",
        "label": "Title Line Height(Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 30,
        "unit": "px"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },
      {
        "type": "header",
        "content": "Article Settings"
      },
      {
        "type": "range",
        "id": "article_title_font_size_desktop",
        "label": "Article Title Font Size(Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 24,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "article_title_line_height_desktop",
        "label": "Article Title Line Height(Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 32,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "article_title_font_size_tablet",
        "label": "Article Title Font Size(Tablet)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 23,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "article_title_line_height_tablet",
        "label": "Article Title Line Height(Tablet)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 32,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "article_title_font_size_mobile",
        "label": "Article Title Font Size(Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 22,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "article_title_line_height_mobile",
        "label": "Article Title Line Height(Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 30,
        "unit": "px"
      },
      {
        "type": "checkbox",
        "id": "footer",
        "label": "Section above footer (additional bottom margin needed)",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Blog slider(New)",
        "settings": {
        }
      }
    ]
  }
{% endschema %}