{%- if section.settings.footer -%}
  <style>
    #shopify-section-{{ section.id }} .container {
      margin-bottom: 5vw;
    }
  </style>
{%- endif -%}

<div class="container">
  {%- if section.settings.title -%}
    <h2 class="title">
      {{ section.settings.title }}
    </h2>
  {%- endif -%}
  {%- assign blog_path = article.comment_post_url | split: '/' -%}
  {%- assign blog_handle = blog_path[2] -%}
    <div class="slider-wrapper">
      <swiper-container class="blog-slider" init="false">
        {%- for art in blogs[blog_handle].articles reversed -%}
          <swiper-slide>
            <div class="slide-wrapper">
              {%- if art.image != blank -%}
                <a class="image" href="{{ art.url }}" title="{{ art.title }}">
                  {{ art.image | image_url: height: '500' | image_tag: loading: 'lazy' }}
                </a>
              {%- endif -%}
              <div class="content">
                <div class="date">{{ art.created_at | date: "%d.%m.%Y" }}</div>
                <a href="{{ art.url }}" class="article-title">{{ art.title }}</a>
                <a href="{{ art.url }}" class="read-more">
                  {{ 'blog.read_more' | t }}
                  {%- render 'icon', type: 'arrow-right' -%}
                </a>
              </div>
            </div>
          </swiper-slide>
        {%- endfor -%}
      </swiper-container>
      <prev-next-buttons>
        <div class="prev">
          {%- render 'icon', type: 'arrow-left' -%}
        </div>
        <div class="pagination"></div>
        <div class="next">
          {%- render 'icon', type: 'arrow-right' -%}
        </div>
      </prev-next-buttons>
    </div>
</div>

{% schema %}
  {
    "name": "Related articles",
    "tag": "section",
    "class": "blog-slider-section related-articles",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "checkbox",
        "id": "footer",
        "label": "Section above footer (additional bottom margin needed)",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Related articles",
        "settings": {
        }
      }
    ]
  }
{% endschema %}