{%- assign ss = section.settings -%}
<style>
  .before-after .container .before-after-slider {
    border-radius: {{ section.settings.image_border_radius }}px;
  }
  @media screen and (min-width: 1025px) {
    #shopify-section-{{ section.id }} .container {
      margin-block: {{ section.settings.section_top_padding_desktop }}px {{ section.settings.section_bottom_padding_desktop }}px;
    }
    #shopify-section-{{ section.id }} .container .before-after-slider {
      max-width: 768px;
      margin: auto;
    }
    #shopify-section-{{ section.id }} .container .before-after-slider img {
      max-width: 768px;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    #shopify-section-{{ section.id }} .container {
      margin-block: {{ section.settings.section_top_padding_tablet }}px {{ section.settings.section_bottom_padding_tablet }}px;
    }
  }
  @media screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} .container {
      margin-block: {{ section.settings.section_top_padding_mobile }}px {{ section.settings.section_bottom_padding_mobile }}px;
    }
  }
</style>
<div class="container">
  {%- if ss.title != blank -%}
    <div class="h2 title">{{ ss.title }}</div>
  {%- endif -%}
  {%- if ss.image_before != blank and ss.image_after != blank -%}
    <div class="before-after-slider">
      <div class="before-image">
        {{ section.settings.image_before | image_url: width: '1000' | image_tag }}
      </div>
    
      <div class="after-image">
        {{ section.settings.image_after | image_url: width: '1000' | image_tag }}
      </div>
  
      <div class="resizer">
        <div class="resizer-trigger">
          {%- render 'icon', type: 'two-carets' -%}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Before-After",
    "tag": "section",
    "class": "before-after",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "image_before",
        "label": "Image Before"
      },
      {
        "type": "image_picker",
        "id": "image_after",
        "label": "Image after"
      },
      {
        "type": "range",
        "id": "image_border_radius",
        "label": "Image Border Radius",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 40,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Section Padding Settings"
      },
      {
        "type": "range",
        "id": "section_top_padding_desktop",
        "label": "Top(Desktop)",
        "min": 0,
        "max": 160,
        "step": 4,
        "default": 120,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "section_bottom_padding_desktop",
        "label": "Bottom(Desktop)",
        "min": 0,
        "max": 160,
        "step": 4,
        "default": 120,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "section_top_padding_tablet",
        "label": "Top(Tablet)",
        "min": 0,
        "max": 160,
        "step": 4,
        "default": 80,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "section_bottom_padding_tablet",
        "label": "Bottom(Tablet)",
        "min": 0,
        "max": 160,
        "step": 4,
        "default": 80,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "section_top_padding_mobile",
        "label": "Top(Mobile)",
        "min": 0,
        "max": 160,
        "step": 4,
        "default": 64,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "section_bottom_padding_mobile",
        "label": "Bottom(Mobile)",
        "min": 0,
        "max": 160,
        "step": 4,
        "default": 64,
        "unit": "px"
      }
    ],
    "presets": [
      {
        "name": "Before-After",
        "settings": {
        }
      }
    ]
  }
{% endschema %}