{%- assign ss = section.settings -%}

  <style>
    #shopify-section-{{ section.id }} {
      {%- if ss.background != blank -%}
      background: url('{{ ss.background | image_url: width: '1920' }}');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      {%- endif -%}
      {%- if ss.bottom_overlap -%}
        position: relative;
        z-index: 1;
        margin-bottom: -5vw;
        padding-bottom: calc(160px + 5vw);
        @media screen and (max-width: 767px) {
          margim-bottom: -30px;
          padding-bottom: calc(60px + 30px);
        }
      {%- endif -%}
    }
  </style>


<div class="container">
  <div class="title-wrapper">
    {%- if ss.title != blank -%}
      <h2 class="title">{{ ss.title }}</h2>
    {%- endif -%}
  </div>
  {%- if section.blocks.size > 0 -%}
    <div class="benefits">
      {%- for block in section.blocks -%}
        <div class="benefit-wrapper">
          {%- assign bs = block.settings -%}
          <div class="checkbox">{%- render 'icon', type: 'checkbox-circle' -%}</div>
          <div class="benefit">
            {%- if bs.title != blank -%}
              <div class="benefit-title">{{ bs.title }}</div>
            {%- endif -%}
            {%- if bs.subtitle != blank -%}
              <div class="benefit-subtitle">
                {{ bs.subtitle }}
              </div>
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Benefits",
    "tag": "section",
    "class": "section-benefits",
    "settings": [
      {
        "type": "image_picker",
        "id": "background",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "checkbox",
        "id": "bottom_overlap",
        "label": "Bottom section will overlap current",
        "default": true
      }
    ],
    "blocks": [
      {
        "name": "Item",
        "type": "item",
        "settings": [
           {
             "type": "text",
             "id": "title",
             "label": "Title"
           },
           {
             "type": "text",
             "id": "subtitle",
             "label": "Subtitle"
           }
        ]
      }
    ],
    "presets": [
      {
        "name": "Benefits",
        "settings": {
        }
      }
    ]
  }
{% endschema %}