<div class="__instant iOtXCdmQS01QL7Dn6" data-instant-id="OtXCdmQS01QL7Dn6" data-instant-version="3.0.5" data-instant-layout="SECTION" data-section-id="{{ section.id }}">
  {%- style -%}
    .__instant[data-section-id='{{ section.id }}'] div[data-instant-type='root'] {
    	padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    	padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 769px) {
    	.__instant[data-section-id='{{ section.id }}'] div[data-instant-type='root'] {
    		padding-top: {{ section.settings.padding_top }}px;
    		padding-bottom: {{ section.settings.padding_bottom }}px;
    	}
    }

    .__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text h3{
font-family: 'ClashGrotesk-Variable'!important;
      font-weight: 300!important;
      font-size: 50px!important;
    }
@media only screen 
and (max-device-width: 600px)
 { 
        .__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text h3{
      font-size: 40px!important;
    }}
    .__instant.iOtXCdmQS01QL7Dn6 *,.__instant.iOtXCdmQS01QL7Dn6:after,.__instant.iOtXCdmQS01QL7Dn6:before {
  border:0 solid;
  box-sizing:border-box
}
.__instant {
  display:flex;
  flex:1;
  flex-direction:column;
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-family:system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  letter-spacing:normal;
  line-height:1.15;
  -webkit-text-size-adjust:100%;
  -moz-tab-size:4;
  tab-size:4
}
.__instant.iOtXCdmQS01QL7Dn6 hr {
  border-top-width:1px;
  color:inherit;
  height:0
}
.__instant.iOtXCdmQS01QL7Dn6 abbr[title] {
  text-decoration:underline dotted
}
.__instant.iOtXCdmQS01QL7Dn6 h1,.__instant.iOtXCdmQS01QL7Dn6 h2,.__instant.iOtXCdmQS01QL7Dn6 h3,.__instant.iOtXCdmQS01QL7Dn6 h4,.__instant.iOtXCdmQS01QL7Dn6 h5,.__instant.iOtXCdmQS01QL7Dn6 h6 {
  font-size:inherit;
  font-weight:inherit
}
.__instant.iOtXCdmQS01QL7Dn6 a {
  color:inherit;
  text-decoration:inherit
}
.__instant.iOtXCdmQS01QL7Dn6 b,.__instant.iOtXCdmQS01QL7Dn6 strong {
  font-weight:bolder
}
.__instant.iOtXCdmQS01QL7Dn6 small {
  font-size:80%
}
.__instant.iOtXCdmQS01QL7Dn6 sub,.__instant.iOtXCdmQS01QL7Dn6 sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}
.__instant.iOtXCdmQS01QL7Dn6 sub {
  bottom:-.25em
}
.__instant.iOtXCdmQS01QL7Dn6 sup {
  top:-.5em
}
.__instant.iOtXCdmQS01QL7Dn6 table {
  border-collapse:collapse;
  border-color:inherit;
  text-indent:0
}
.__instant.iOtXCdmQS01QL7Dn6 button,.__instant.iOtXCdmQS01QL7Dn6 input,.__instant.iOtXCdmQS01QL7Dn6 optgroup,.__instant.iOtXCdmQS01QL7Dn6 select,.__instant.iOtXCdmQS01QL7Dn6 textarea {
  color:inherit;
  font-family:inherit;
  font-size:100%;
  line-height:inherit;
  margin:0;
  padding:0
}
.__instant.iOtXCdmQS01QL7Dn6 button,.__instant.iOtXCdmQS01QL7Dn6 select {
  text-transform:none
}
.__instant.iOtXCdmQS01QL7Dn6 [type=button],.__instant.iOtXCdmQS01QL7Dn6 [type=reset],.__instant.iOtXCdmQS01QL7Dn6 [type=submit],.__instant.iOtXCdmQS01QL7Dn6 button {
  -webkit-appearance:none;
  background-color:transparent;
  background-image:none
}
.__instant.iOtXCdmQS01QL7Dn6:-moz-focusring {
  outline:auto
}
.__instant.iOtXCdmQS01QL7Dn6:-moz-ui-invalid {
  box-shadow:none
}
.__instant.iOtXCdmQS01QL7Dn6 progress {
  vertical-align:baseline
}
.__instant.iOtXCdmQS01QL7Dn6::-webkit-inner-spin-button,.__instant.iOtXCdmQS01QL7Dn6::-webkit-outer-spin-button {
  height:auto
}
.__instant.iOtXCdmQS01QL7Dn6 [type=search] {
  -webkit-appearance:textfield;
  outline-offset:-2px
}
.__instant.iOtXCdmQS01QL7Dn6::-webkit-search-decoration {
  -webkit-appearance:none
}
.__instant.iOtXCdmQS01QL7Dn6::-webkit-file-upload-button {
  -webkit-appearance:button;
  font:inherit
}
.__instant.iOtXCdmQS01QL7Dn6 summary {
  display:list-item
}
.__instant.iOtXCdmQS01QL7Dn6 blockquote,.__instant.iOtXCdmQS01QL7Dn6 dd,.__instant.iOtXCdmQS01QL7Dn6 dl,.__instant.iOtXCdmQS01QL7Dn6 figure,.__instant.iOtXCdmQS01QL7Dn6 h1,.__instant.iOtXCdmQS01QL7Dn6 h2,.__instant.iOtXCdmQS01QL7Dn6 h3,.__instant.iOtXCdmQS01QL7Dn6 h4,.__instant.iOtXCdmQS01QL7Dn6 h5,.__instant.iOtXCdmQS01QL7Dn6 h6,.__instant.iOtXCdmQS01QL7Dn6 hr,.__instant.iOtXCdmQS01QL7Dn6 p,.__instant.iOtXCdmQS01QL7Dn6 pre {
  margin:0
}
.__instant.iOtXCdmQS01QL7Dn6 fieldset {
  margin:0;
  padding:0
}
.__instant.iOtXCdmQS01QL7Dn6 legend {
  padding:0
}
.__instant.iOtXCdmQS01QL7Dn6 ol,.__instant.iOtXCdmQS01QL7Dn6 ul {
  list-style:none;
  margin:0;
  padding:0
}
.__instant.iOtXCdmQS01QL7Dn6 textarea {
  resize:vertical
}
.__instant.iOtXCdmQS01QL7Dn6 input::placeholder,.__instant.iOtXCdmQS01QL7Dn6 textarea::placeholder {
  color:inherit;
  opacity:1
}
.__instant.iOtXCdmQS01QL7Dn6 [role=button],.__instant.iOtXCdmQS01QL7Dn6 button {
  cursor:pointer
}
.__instant.iOtXCdmQS01QL7Dn6:disabled {
  cursor:default
}
.__instant.iOtXCdmQS01QL7Dn6 audio,.__instant.iOtXCdmQS01QL7Dn6 canvas,.__instant.iOtXCdmQS01QL7Dn6 embed,.__instant.iOtXCdmQS01QL7Dn6 iframe,.__instant.iOtXCdmQS01QL7Dn6 img,.__instant.iOtXCdmQS01QL7Dn6 object,.__instant.iOtXCdmQS01QL7Dn6 svg,.__instant.iOtXCdmQS01QL7Dn6 video {
  display:block;
  vertical-align:middle
}
.__instant.iOtXCdmQS01QL7Dn6 img,.__instant.iOtXCdmQS01QL7Dn6 video {
  height:auto;
  max-width:100%
}
.__instant.iOtXCdmQS01QL7Dn6 [hidden] {
  display:none
}
.__instant {
  --instant-overflow-clip:clip
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-editor__link,.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text a {
  text-decoration:underline
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text,.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text h1,.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text h2,.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text h3,.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text h4,.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text h5,.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text h6,.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text p,.__instant.iOtXCdmQS01QL7Dn6 [data-instant-dynamic-content-source^=COUNTDOWN_] span {
  background:var(--instant-text-color-gradient);
  background-clip:var(--instant-text-color-clip);
  color:inherit;
  display:block;
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
  font-weight:inherit;
  letter-spacing:inherit;
  line-height:inherit;
  overflow-wrap:inherit;
  text-decoration:inherit;
  text-transform:inherit;
  text-wrap:inherit;
  word-break:inherit;
  -webkit-text-fill-color:var(--instant-text-color-fill)
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text h1:before,.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text h2:before,.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text h3:before,.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text h4:before,.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text h5:before,.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text h6:before,.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text p:before {
  content:"\200B"
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text ol,.__instant.iOtXCdmQS01QL7Dn6 .instant-rich-text ul {
  list-style:revert;
  padding-left:1.5em
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-visually-hidden {
  border:0;
  clip-path:inset(100%);
  height:1px;
  margin:-1px;
  padding:0;
  position:absolute;
  white-space:nowrap;
  width:1px;
  clip:rect(0,0,0,0);
  outline:0;
  outline-offset:unset;
  overflow:hidden
}
.__instant.iOtXCdmQS01QL7Dn6 a[data-instant-disabled=true]:not(.instant-custom-variant-picker),.__instant.iOtXCdmQS01QL7Dn6 button[data-instant-disabled=true]:not(.instant-custom-variant-picker) {
  cursor:not-allowed
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-variant-picker input[type=radio] {
  clip:rect(0,0,0,0);
  height:1px;
  overflow:hidden;
  position:absolute;
  width:1px
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-custom-variant-picker,.__instant.iOtXCdmQS01QL7Dn6 .instant-variant-picker input[type=radio]+label,.__instant.iOtXCdmQS01QL7Dn6 .instant-variant-picker select {
  cursor:pointer
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-variant-picker input[type=radio]+label:before {
  bottom:-1px;
  content:"";
  left:-1px;
  position:absolute;
  right:-1px;
  top:-1px;
  z-index:-1
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-variant-picker--select select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border:0;
  height:100%;
  left:0;
  opacity:0;
  outline:none;
  overflow:hidden;
  padding:inherit;
  position:absolute;
  top:0;
  width:100%
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-variant-picker--select:not(select) {
  pointer-events:none
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-variant-picker--select select:focus {
  outline:none
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-variant-picker--select select:focus-visible {
  box-shadow:none
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-selling-plan-selector {
  cursor:pointer
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-quantity-input {
  -moz-appearance:textfield;
  appearance:textfield;
  background:transparent;
  box-shadow:inherit;
  outline:none;
  outline-offset:unset;
  text-align:center
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-quantity-input::-webkit-inner-spin-button,.__instant.iOtXCdmQS01QL7Dn6 .instant-quantity-input::-webkit-outer-spin-button {
  -webkit-appearance:none;
  margin:0
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-image__fallback {
  background-image:url(https://cdn.instant.so/static/templates/assets/placeholder-image-icon.svg)
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-image__fallback,.__instant.iOtXCdmQS01QL7Dn6 .instant-media__fallback {
  background-color:rgba(0,0,0,.2);
  background-position:50%;
  background-repeat:no-repeat;
  background-size:clamp(0px,calc(100% - 4px),48px) clamp(0px,calc(100% - 4px),48px)
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-video__container {
  overflow:hidden;
  position:relative
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-tiktok__overlay,.__instant.iOtXCdmQS01QL7Dn6 .instant-video__iframe,.__instant.iOtXCdmQS01QL7Dn6 .instant-video__player,.__instant.iOtXCdmQS01QL7Dn6 .instant-video__wrapper {
  background-color:#000;
  background-position:50%;
  background-repeat:no-repeat;
  background-size:cover;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  z-index:1
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-tiktok__overlay {
  opacity:50%
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-video__fallback {
  align-items:center;
  background-color:rgba(0,0,0,.2);
  border-radius:inherit;
  color:#fff;
  display:flex;
  font-size:14px;
  height:100%;
  justify-content:center;
  left:0;
  padding:16px;
  position:absolute;
  top:0;
  width:100%
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-video__fallback-external:before {
  background-color:hsla(0,0%,100%,.2);
  border-radius:99px;
  content:"";
  height:48px;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  width:48px
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-video__fallback-vimeo:before {
  background-color:hsla(0,0%,100%,.2);
  border-radius:4px;
  content:"";
  height:48px;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  width:84px
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-tiktok__fallback-icon {
  background-image:url(https://cdn.instant.so/static/templates/assets/placeholder-tiktok-icon.svg)
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-video__sizer {
  display:block;
  height:auto;
  max-height:100%;
  max-width:100%;
  width:auto
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-video__button {
  border-radius:6px;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  transition:background-color .24s ease-in-out,color .24s ease-in-out,opacity .24s ease-in-out,box-shadow .24s
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-youtube__button {
  color:#212121;
  opacity:.8
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-video__wrapper:hover .instant-youtube__button--red {
  color:#bf171d;
  opacity:1
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-video__wrapper:hover .instant-youtube__button--white {
  color:#fff;
  opacity:1
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-youtube__button-play {
  color:#fff;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  transition:color .24s ease-in-out
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-video__wrapper:hover .instant-youtube__button--white .instant-youtube__button-play {
  color:#212121
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-vimeo__button {
  align-items:center;
  background-color:#000;
  border-radius:4px;
  color:#fff;
  display:flex;
  height:48px;
  justify-content:center;
  width:84px
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-external__button {
  align-items:center;
  background-color:#000;
  border-radius:99px;
  border-style:inset;
  color:#fff;
  display:flex;
  height:48px;
  justify-content:center;
  width:48px
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-video__wrapper:hover .instant-external__button,.__instant.iOtXCdmQS01QL7Dn6 .instant-video__wrapper:hover .instant-vimeo__button {
  background-color:var(--video-button-color);
  color:#000
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-tiktok__button {
  background-image:url(https://cdn.instant.so/static/templates/assets/play-button.svg);
  height:72px;
  width:72px
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-video-fill__wrapper {
  border-radius:inherit;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-video-fill__overlay,.__instant.iOtXCdmQS01QL7Dn6 .instant-video-fill__video {
  border-radius:inherit;
  display:block;
  height:100%;
  left:0;
  object-fit:cover;
  position:absolute;
  top:0;
  width:100%
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-video-fill__controls {
  background-color:#fff;
  border:1px inset rgba(0,0,0,.1);
  border-radius:99px;
  bottom:32px;
  padding:8px;
  position:absolute;
  right:32px
}
@media only screen and (max-width:768px) {
  .__instant.iOtXCdmQS01QL7Dn6 .instant-video-fill__controls {
  bottom:20px;
  right:20px
}
}.__instant.iOtXCdmQS01QL7Dn6 .instant-video-fill__controls .instant-video-fill__pause,.__instant.iOtXCdmQS01QL7Dn6 .instant-video-fill__controls .instant-video-fill__play {
  display:none;
  opacity:0;
  transition:opacity .2s ease-in-out
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-video-fill__wrapper[data-paused=false] .instant-video-fill__controls .instant-video-fill__play,.__instant.iOtXCdmQS01QL7Dn6 .instant-video-fill__wrapper[data-paused=true] .instant-video-fill__controls .instant-video-fill__pause {
  display:block;
  opacity:1
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-horizontal {
  touch-action:pan-y
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-horizontal>.instant-slider-wrapper {
  flex-direction:row
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-vertical {
  touch-action:pan-x
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-vertical>.instant-slider-wrapper {
  flex-direction:column
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-free-mode>.instant-slider-wrapper {
  transition-timing-function:ease-out
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-auto-slides .instant-slider-slide {
  max-width:none;
  min-width:unset
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-thumbs>.instant-slider-wrapper>.instant-slider-slide {
  cursor:pointer
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-wrapper {
  align-items:inherit;
  align-self:stretch;
  box-sizing:content-box;
  display:flex;
  height:inherit;
  order:1;
  transform:translateZ(0);
  transition-property:transform;
  transition-timing-function:ease;
  width:100%
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-slide {
  flex-shrink:0;
  transition-property:transform
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-button-disabled:not(.__instant_builder_element) {
  opacity:.35
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-button-lock {
  display:none!important
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active,.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-main {
  display:flex;
  transform:scale(1)
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-next,.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-prev {
  display:flex;
  transform:scale(.66)
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-next-next,.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-prev-prev {
  display:flex;
  transform:scale(.33)
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-slider-pagination-bullet {
  cursor:pointer;
  flex-shrink:0
}
@keyframes instant-loading-__instant-iOtXCdmQS01QL7Dn6 {
  0% {
  opacity:1
}
50% {
  opacity:.7
}
to {
  opacity:1
}
}.__instant.iOtXCdmQS01QL7Dn6 .instant-loading {
  animation:instant-loading-__instant-iOtXCdmQS01QL7Dn6 1s infinite
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-image__main {
  aspect-ratio:inherit;
  border-radius:inherit;
  height:100%;
  max-height:inherit;
  object-fit:inherit;
  object-position:inherit;
  width:100%
}
@media only screen and (min-width:1025px) {
  .__instant.iOtXCdmQS01QL7Dn6 .instant-responsive:not(.instant-responsive--desktop) {
  display:none
}
}@media only screen and (min-width:769px) and (max-width:1024px) {
  .__instant.iOtXCdmQS01QL7Dn6 .instant-responsive:not(.instant-responsive--laptop) {
  display:none
}
}@media only screen and (min-width:576px) and (max-width:768px) {
  .__instant.iOtXCdmQS01QL7Dn6 .instant-responsive:not(.instant-responsive--tablet) {
  display:none
}
}@media only screen and (max-width:575px) {
  .__instant.iOtXCdmQS01QL7Dn6 .instant-responsive:not(.instant-responsive--mobile) {
  display:none
}
}.__instant.iOtXCdmQS01QL7Dn6 .instant-icon,.__instant.iOtXCdmQS01QL7Dn6 .instant-image__fill {
  border-radius:inherit;
  height:100%;
  left:0;
  object-fit:cover;
  position:absolute;
  top:0;
  width:100%
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-fill[data-trigger],.__instant.iOtXCdmQS01QL7Dn6 .instant-icon[data-trigger],.__instant.iOtXCdmQS01QL7Dn6 .instant-image[data-trigger] {
  opacity:0
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-icon,.__instant.iOtXCdmQS01QL7Dn6 .instant-image__main {
  transition-delay:inherit;
  transition-duration:inherit;
  transition-property:opacity;
  transition-timing-function:inherit
}
.__instant.iOtXCdmQS01QL7Dn6 div[href],.__instant.iOtXCdmQS01QL7Dn6 form[href] {
  cursor:pointer
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-ticker-container {
  display:flex;
  flex-direction:row;
  overflow:hidden;
  position:relative;
  width:100%
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-ticker-container:hover div {
  animation-play-state:var(--pause-on-hover)
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-ticker-container:active div {
  animation-play-state:var(--pause-on-click)
}
@keyframes instant-ticker-instant-scroll-__instant-iOtXCdmQS01QL7Dn6 {
  0% {
  transform:translateZ(0)
}
to {
  transform:translate3d(calc(-100% - var(--gap)),0,0)
}
}.__instant.iOtXCdmQS01QL7Dn6 .instant-ticker {
  animation:instant-ticker-instant-scroll-__instant-iOtXCdmQS01QL7Dn6 var(--duration) linear infinite;
  animation-delay:0s;
  animation-direction:var(--direction);
  animation-play-state:var(--play);
  transform:translateZ(0)
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-ticker,.__instant.iOtXCdmQS01QL7Dn6 .instant-ticker-initial-child-container {
  align-items:inherit;
  column-gap:inherit;
  display:flex;
  flex:0 0 auto;
  flex-direction:row;
  min-width:auto
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-scroll--transform,.__instant.iOtXCdmQS01QL7Dn6 .instant-scroll--transform-fade {
  transform:var(--instant-scroll-from-translate,var(--instant-scroll-to-translate,translate(0,0))) var(--instant-scroll-from-scale,var(--instant-scroll-to-scale,scale(1))) var(--instant-scroll-to-rotate,rotateZ(0)) var(--instant-scroll-from-rotate,rotateX(0) rotateY(0))
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-scroll--fade,.__instant.iOtXCdmQS01QL7Dn6 .instant-scroll--fade:not(.instant-scroll-trigger--hidden),.__instant.iOtXCdmQS01QL7Dn6 .instant-scroll--transform-fade:not(.instant-scroll-trigger--hidden),.__instant.iOtXCdmQS01QL7Dn6 .instant-scroll--transform:not(.instant-scroll-trigger--hidden) {
  transform:var(--instant-scroll-to-translate,translate(0,0)) var(--instant-scroll-to-scale,scale(1)) var(--instant-scroll-to-rotate,rotate(0))
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-scroll--fade,.__instant.iOtXCdmQS01QL7Dn6 .instant-scroll--transform-fade {
  opacity:0
}
.__instant.iOtXCdmQS01QL7Dn6 .instant-scroll--fade:not(.instant-scroll-trigger--hidden),.__instant.iOtXCdmQS01QL7Dn6 .instant-scroll--transform-fade:not(.instant-scroll-trigger--hidden) {
  opacity:1
}
.__instant.iOtXCdmQS01QL7Dn6 .igcNOENZTIJRt3kRt {
  align-items:center;
  background:#fff;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  overflow:var(--instant-overflow-clip,hidden);
  position:relative
}
.__instant.iOtXCdmQS01QL7Dn6 .iqSMFUKciabFhPKoe {
  align-items:center;
  align-self:stretch;
  border-radius:0 0 30px 30px;
  border-style:solid;
  border-width:0;
  column-gap:0;
  display:flex;
  flex-direction:column;
  height:800px;
  justify-content:center;
  min-height:auto;
  padding:80px;
  position:relative
}
.__instant.iOtXCdmQS01QL7Dn6 .ioKcsskg0H06zfwOo {
  align-items:flex-start;
  column-gap:4px;
  display:flex;
  flex-basis:0%;
  flex-direction:column;
  flex-grow:1;
  flex-shrink:1;
  justify-content:flex-end;
  max-width:100%;
  min-height:100px;
  position:relative;
  row-gap:4px;
  width:1300px
}
.__instant.iOtXCdmQS01QL7Dn6 .iL9CMfEvC2oC4x3PJ {
  font-size:36px;
  font-weight:600;
  letter-spacing:-.02em;
  line-height:1.2;
  max-width:600px
}
.__instant.iOtXCdmQS01QL7Dn6 .iL9CMfEvC2oC4x3PJ,.__instant.iOtXCdmQS01QL7Dn6 .itNsWIWHtBQj7wQSH {
  align-self:stretch;
  color:#fff;
  display:flex;
  flex-direction:column;
  font-family:Inter;
  justify-content:flex-start;
  position:relative
}
.__instant.iOtXCdmQS01QL7Dn6 .itNsWIWHtBQj7wQSH {
  font-size:18px;
  font-weight:400;
  letter-spacing:-.01em;
  max-width:450px;
  padding:0
}
.__instant.iOtXCdmQS01QL7Dn6 .ibUnK5S92EUeKaVBZ {
  align-items:flex-start;
  column-gap:16px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  margin:10px 0;
  padding:0;
  position:relative;
  row-gap:16px;
  width:auto
}
.__instant.iOtXCdmQS01QL7Dn6 .iqQlYxY7VJwg8q83D {
  align-items:center;
  background:#fff;
  border-radius:10px 10px 10px 10px;
  border-width:0;
  column-gap:10px;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  height:auto;
  justify-content:center;
  margin:0;
  padding:16px 50px;
  position:relative;
  row-gap:10px;
  transition-duration:125ms;
  transition-property:color,background-color,fill,opacity,transform,border,box-shadow,left;
  transition-timing-function:ease-in-out
}
.__instant.iOtXCdmQS01QL7Dn6 .iqQlYxY7VJwg8q83D:hover {
  background:#e8e9eb
}
.__instant.iOtXCdmQS01QL7Dn6 .iqQlYxY7VJwg8q83D .instant-fill {
  transition-duration:125ms;
  transition-property:opacity;
  transition-timing-function:ease-in-out
}
.__instant.iOtXCdmQS01QL7Dn6 .iqQlYxY7VJwg8q83D:hover .instant-fill[data-trigger=hover] {
  opacity:1
}
.__instant.iOtXCdmQS01QL7Dn6 .iqQlYxY7VJwg8q83D:hover .instant-fill:not([data-trigger=hover]) {
  opacity:0
}
.__instant.iOtXCdmQS01QL7Dn6 .i2CKlYrDHLlFaPuTH {
  color:#000;
  display:flex;
  flex-direction:column;
  font-family:Inter;
  font-size:14px;
  justify-content:flex-start;
  line-height:.7;
  margin:0;
  max-width:100%;
  padding:0 40px;
  position:relative
}
.__instant.iOtXCdmQS01QL7Dn6 .iPbET9GWS2AS6Cncv {
  align-items:flex-start;
  column-gap:16px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  margin:10px 0;
  padding:0;
  position:relative;
  row-gap:16px;
  width:auto
}
.__instant.iOtXCdmQS01QL7Dn6 .idcoCtCXpdtbnIzKG {
  align-items:stretch;
  align-self:stretch;
  column-gap:24px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  overflow:var(--instant-overflow-clip,hidden);
  position:relative;
  row-gap:24px
}
@media (max-width:1024px) {
  .__instant.iOtXCdmQS01QL7Dn6 .iqSMFUKciabFhPKoe {
  align-self:stretch;
  padding:64px;
  width:auto
}
.__instant.iOtXCdmQS01QL7Dn6 .iL9CMfEvC2oC4x3PJ,.__instant.iOtXCdmQS01QL7Dn6 .itNsWIWHtBQj7wQSH {
  align-self:stretch;
  max-width:100%;
  width:auto
}
}@media (max-width:768px) {
  .__instant.iOtXCdmQS01QL7Dn6 .iqSMFUKciabFhPKoe {
  align-self:stretch;
  padding:32px;
  width:auto
}
.__instant.iOtXCdmQS01QL7Dn6 .iL9CMfEvC2oC4x3PJ {
  align-self:stretch;
  font-size:32px;
  width:auto
}
.__instant.iOtXCdmQS01QL7Dn6 .itNsWIWHtBQj7wQSH {
  align-self:stretch;
  font-size:18px;
  width:auto
}
}@media (max-width:575px) {
  .__instant.iOtXCdmQS01QL7Dn6 .iqSMFUKciabFhPKoe {
  align-self:stretch;
  padding:32px 24px;
  width:auto;
      height:650px;
}
.__instant.iOtXCdmQS01QL7Dn6 .iL9CMfEvC2oC4x3PJ {
  align-self:stretch;
  font-size:32px;
  width:auto
}
.__instant.iOtXCdmQS01QL7Dn6 .itNsWIWHtBQj7wQSH {
  align-self:stretch;
  font-size:18px;
  width:auto
}
.__instant.iOtXCdmQS01QL7Dn6 .ibUnK5S92EUeKaVBZ {
  align-self:stretch;
  flex-direction:column;
  padding:0;
  width:auto
}
.__instant.iOtXCdmQS01QL7Dn6 .iqQlYxY7VJwg8q83D {
  align-self:stretch;
  padding:14px 24px
}
.__instant.iOtXCdmQS01QL7Dn6 .iPbET9GWS2AS6Cncv {
  align-self:stretch;
  flex-direction:column;
  padding:0;
  width:auto
}
.__instant.iOtXCdmQS01QL7Dn6 .idcoCtCXpdtbnIzKG {
  align-self:stretch;
  flex-direction:column-reverse;
  width:auto
}
}
  {%- endstyle -%}
  <!--  -->
  {{ 'instant-OtXCdmQS01QL7Dn6.css' | asset_url | stylesheet_tag }}
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&amp;display=swap" rel="stylesheet">
  <div data-instant-type="root" class="igcNOENZTIJRt3kRt">
    <div class="iqSMFUKciabFhPKoe" data-instant-type="container" id="iqSMFUKciabFhPKoe">
      <div class="instant-fill instant-video-fill__wrapper" data-paused="false">
        <div class="instant-video__fallback instant-media__fallback">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="rgba(255, 255, 255, 1)" viewBox="0 0 256 256" class="instant-video-fill__pause">
            <path d="M232,208a8,8,0,0,1-8,8H32a8,8,0,0,1,0-16H224A8,8,0,0,1,232,208Zm0-152V168a16,16,0,0,1-16,16H40a16,16,0,0,1-16-16V56A16,16,0,0,1,40,40H216A16,16,0,0,1,232,56Zm-68,56a8,8,0,0,0-3.71-6.75l-44-28A8,8,0,0,0,104,84v56a8,8,0,0,0,12.29,6.75l44-28A8,8,0,0,0,164,112Z"></path>
          </svg>
        </div>
        {% if section.settings.video_qSMFUKciabFhPKoe and section.settings.video_qSMFUKciabFhPKoe != blank %}
          {{ section.settings.video_qSMFUKciabFhPKoe | video_tag: class: 'instant-video-fill__video', autoplay: true, loop: true, muted: true, playsinline: true, preload: 'metadata' }}
        {% else %}
          <video preload="metadata" src="https://cdn.shopify.com/videos/c/o/v/39785eb868694f4eb3a6ae39bcfa48c1.mp4?v=0" playsinline="" autoplay="" muted="" loop="" class="instant-video-fill__video"></video>
        {% endif %}
        <div class="instant-video-fill__overlay"></div>
      </div>
      <div class="ioKcsskg0H06zfwOo" data-instant-type="container">
        <div data-instant-type="text" class="instant-rich-text iL9CMfEvC2oC4x3PJ">
          <div>{{ section.settings.text_L9CMfEvC2oC4x3PJ }}</div>
        </div>
        <div data-instant-type="text" class="instant-rich-text itNsWIWHtBQj7wQSH">
          <div>{{ section.settings.text_tNsWIWHtBQj7wQSH }}</div>
        </div>
        <div class="ibUnK5S92EUeKaVBZ" data-instant-type="container">
          <a class="iqQlYxY7VJwg8q83D" data-instant-type="container" href="{{ section.settings.url_qQlYxY7VJwg8q83D | default: 'https://drye.se/products/eczema-sweat-guard-liner' }}" rel="noopener noreferrer">
            <div data-instant-type="text" class="instant-rich-text i2CKlYrDHLlFaPuTH">
              <div>{{ section.settings.text_2CKlYrDHLlFaPuTH }}</div>
            </div>
          </a>
          <div class="iPbET9GWS2AS6Cncv" data-instant-type="container"></div>
        </div>
      </div>
    </div>
    <div class="instant-slider-container idcoCtCXpdtbnIzKG" data-instant-type="slider-container" id="idcoCtCXpdtbnIzKG"></div>
  </div>
</div>
{% schema %}
{
  "name": "Header-hero-video",
  "tag": "section",
  "enabled_on": { "templates": ["*"] },
  "settings": [
    {
      "type": "video",
      "id": "video_qSMFUKciabFhPKoe",
      "label": "Header"
    },
    {
      "type": "richtext",
      "id": "text_L9CMfEvC2oC4x3PJ",
      "label": "Text",
      "default": "<h3>Comfort, Protective &amp; Care</h3>"
    },
    {
      "type": "richtext",
      "id": "text_tNsWIWHtBQj7wQSH",
      "label": "Text",
      "default": "<p>The new innovative glove liner that protects your skin against sweat and itching whileproviding superior comfort, precision, and durability.</p>"
    },
    {
      "type": "url",
      "id": "url_qQlYxY7VJwg8q83D",
      "label": "Button URL"
    },
    {
      "type": "richtext",
      "id": "text_2CKlYrDHLlFaPuTH",
      "label": "Text",
      "default": "<p>Buy now</p>"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Header-hero-video",
      "settings": {
        "text_L9CMfEvC2oC4x3PJ": "<h3>Comfort, Protective &amp; Care</h3>",
        "text_tNsWIWHtBQj7wQSH": "<p>The new innovative glove liner that protects your skin against sweat and itching whileproviding superior comfort, precision, and durability.</p>",
        "url_qQlYxY7VJwg8q83D": "https://drye.se/products/eczema-sweat-guard-liner",
        "text_2CKlYrDHLlFaPuTH": "<p>Buy now</p>"
      }
    }
  ]
}
{% endschema %}