{%- assign ss = section.settings -%}
{% comment %}
  additional classes for header:
  - inversed - white color, white svg
  - transparent - zero background
{% endcomment %}
<header class="">
  <style>
      {%- if request.page_type == 'product' -%}
        /* .announce {
          display: block;
        } */
      {%- else -%}
      .announce {
        display: none !important;
      }
    {%- endif -%}
  </style>
  {%- if request.page_type == 'product' -%}
    <div
      class="announce"
      style="background: {{ ss.ann_bg }}; color: {{ ss.ann_tx }}"
      country="{{ request.locale.iso_code }}"
    >
      <swiper-container class="announce-slider" init="false">
        {%- for i in (1..30) -%}
          <swiper-slide>
            <div class="slide-wrapper">
              <svg width="48" height="27" viewBox="0 0 48 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.09531 0.409679C8.90781 0.475304 8.54218 0.822179 8.41093 1.04718C8.34531 1.15968 8.27968 1.84405 8.25156 2.6878L8.20468 4.14093L6.37656 4.19718C5.37343 4.2253 4.53906 4.25343 4.52031 4.2628C4.50156 4.27218 4.43593 4.4128 4.37031 4.58155C4.19218 4.99405 4.30468 5.33155 4.69843 5.52843C4.98906 5.67843 5.38281 5.6878 9.73281 5.66905L14.4578 5.64093L14.6828 5.37843C14.9547 5.05968 14.9734 4.75968 14.7109 4.43155L14.5234 4.1878H12.1328H9.75156V3.01593V1.84405H22.1734H34.5953L34.5766 11.6128L34.5484 21.3909L29.0828 21.4191C24.7609 21.4378 23.6172 21.4191 23.5797 21.3253C23.1484 20.0691 22.7547 19.4691 21.9859 18.8878C20.7672 17.9597 19.0234 17.8191 17.6172 18.5409C16.7641 18.9722 15.9859 19.9191 15.6391 20.9222L15.4797 21.3909L12.6203 21.4191L9.75156 21.4378V19.2816V17.1253H11.0172C12.1609 17.1253 12.3016 17.1066 12.4703 16.9378C12.7516 16.6566 12.7516 16.1597 12.4609 15.8597C12.2828 15.6722 12.1516 15.6722 7.21093 15.6722H2.13906L1.91406 15.9347C1.64218 16.2534 1.62343 16.5534 1.88593 16.8816L2.07343 17.1253H5.16718H8.25156V19.7878C8.25156 22.2628 8.26093 22.4597 8.42968 22.6659L8.60781 22.8909L12.0578 22.9378L15.4984 22.9847L15.6109 23.3597C16.0422 24.8222 17.3266 25.9472 18.8922 26.2284C20.7766 26.5753 22.8859 25.2909 23.4203 23.4816L23.5797 22.9378H30.3859H37.1828L37.3047 23.4066C37.5672 24.4191 38.4391 25.4128 39.4984 25.8909C41.7109 26.9128 44.2797 25.8066 45.0859 23.5003L45.2641 22.9847L46.1453 22.9378C47.1203 22.8816 47.4109 22.7597 47.7297 22.2534C47.9078 21.9722 47.9172 21.8128 47.8891 19.1878C47.8609 16.4691 47.8609 16.4128 47.6266 15.8597C47.4953 15.5503 46.4453 13.6097 45.3016 11.5472C43.1078 7.60031 42.8266 7.19718 42.1328 7.00968C41.9078 6.94405 40.6703 6.90655 38.9359 6.90655H36.1047L36.0766 4.06593C36.0484 1.27218 36.0484 1.23468 35.8328 0.925304C35.3828 0.297179 36.3859 0.344054 22.1547 0.353429C15.0484 0.353429 9.17031 0.381554 9.09531 0.409679ZM41.8703 8.58468C42.1797 8.94093 46.1359 16.1597 46.2672 16.6003C46.3703 16.9566 46.4078 17.6034 46.4078 19.2534V21.4472L45.8359 21.4191L45.2734 21.3909L45.1141 20.9222C44.4016 18.8222 42.2828 17.6597 40.1734 18.2034C38.8141 18.5597 37.6609 19.6753 37.2672 21.0159C37.1547 21.3909 37.1547 21.3909 36.6203 21.4191L36.0953 21.4472V14.9222V8.40656H38.9078C41.5422 8.40656 41.7297 8.41593 41.8703 8.58468ZM20.3359 19.7128C20.9172 19.8816 21.5734 20.4441 21.8641 21.0066C22.1359 21.5316 22.1922 22.4128 21.9953 23.0034C21.7891 23.6222 21.2828 24.1941 20.6828 24.5034C20.1016 24.8034 19.1172 24.8409 18.5359 24.5878C17.9922 24.3534 17.3922 23.7441 17.1578 23.2003C16.9047 22.6003 16.9234 21.5972 17.2047 21.0159C17.5984 20.2191 18.5828 19.5816 19.4641 19.5722C19.6703 19.5628 20.0641 19.6284 20.3359 19.7128ZM42.1234 19.7503C43.9047 20.4159 44.3641 22.8159 42.9578 24.0816C42.4141 24.5691 41.9734 24.7472 41.2516 24.7472C39.7984 24.7566 38.7391 23.7722 38.6453 22.3378C38.5984 21.5034 38.8234 20.9034 39.4141 20.3222C40.1453 19.6003 41.1578 19.3847 42.1234 19.7503Z" fill="white"/>
                <path d="M8.67344 7.30049C8.27031 7.53486 8.26094 7.60986 8.25156 9.97236V12.2505H7.12656C6.04844 12.2505 5.98281 12.2599 5.76719 12.4849C5.45781 12.7849 5.45781 13.2161 5.76719 13.5161L5.99219 13.7505H12.8734C19.6984 13.7505 19.7641 13.7505 20.0078 13.5536C20.3547 13.2817 20.3547 12.7192 20.0078 12.4474C19.7641 12.2505 19.6703 12.2505 14.7578 12.2505H9.75156V9.99111V7.73174L9.47969 7.45986C9.18906 7.16924 8.97344 7.13174 8.67344 7.30049Z" fill="white"/>
                <path d="M0.207834 8.46303C-0.110916 8.68803 -0.0827911 9.35366 0.254709 9.62553C0.498459 9.81303 0.573459 9.82241 3.35783 9.79428L6.20783 9.76616L6.38596 9.54116C6.62971 9.24116 6.62033 8.77241 6.34846 8.51928C6.13283 8.31303 6.07658 8.31303 3.27346 8.31303C0.845334 8.31303 0.385959 8.33178 0.207834 8.46303Z" fill="white"/>
              </svg>
              {% assign announce_message = ss.announce %}
              {% if request.locale.iso_code == 'sv' %}
                {% assign announce_message = ss.announce_sv %}
              {% endif %}
              {{ announce_message }}
              <svg width="48" height="27" viewBox="0 0 48 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.09531 0.409679C8.90781 0.475304 8.54218 0.822179 8.41093 1.04718C8.34531 1.15968 8.27968 1.84405 8.25156 2.6878L8.20468 4.14093L6.37656 4.19718C5.37343 4.2253 4.53906 4.25343 4.52031 4.2628C4.50156 4.27218 4.43593 4.4128 4.37031 4.58155C4.19218 4.99405 4.30468 5.33155 4.69843 5.52843C4.98906 5.67843 5.38281 5.6878 9.73281 5.66905L14.4578 5.64093L14.6828 5.37843C14.9547 5.05968 14.9734 4.75968 14.7109 4.43155L14.5234 4.1878H12.1328H9.75156V3.01593V1.84405H22.1734H34.5953L34.5766 11.6128L34.5484 21.3909L29.0828 21.4191C24.7609 21.4378 23.6172 21.4191 23.5797 21.3253C23.1484 20.0691 22.7547 19.4691 21.9859 18.8878C20.7672 17.9597 19.0234 17.8191 17.6172 18.5409C16.7641 18.9722 15.9859 19.9191 15.6391 20.9222L15.4797 21.3909L12.6203 21.4191L9.75156 21.4378V19.2816V17.1253H11.0172C12.1609 17.1253 12.3016 17.1066 12.4703 16.9378C12.7516 16.6566 12.7516 16.1597 12.4609 15.8597C12.2828 15.6722 12.1516 15.6722 7.21093 15.6722H2.13906L1.91406 15.9347C1.64218 16.2534 1.62343 16.5534 1.88593 16.8816L2.07343 17.1253H5.16718H8.25156V19.7878C8.25156 22.2628 8.26093 22.4597 8.42968 22.6659L8.60781 22.8909L12.0578 22.9378L15.4984 22.9847L15.6109 23.3597C16.0422 24.8222 17.3266 25.9472 18.8922 26.2284C20.7766 26.5753 22.8859 25.2909 23.4203 23.4816L23.5797 22.9378H30.3859H37.1828L37.3047 23.4066C37.5672 24.4191 38.4391 25.4128 39.4984 25.8909C41.7109 26.9128 44.2797 25.8066 45.0859 23.5003L45.2641 22.9847L46.1453 22.9378C47.1203 22.8816 47.4109 22.7597 47.7297 22.2534C47.9078 21.9722 47.9172 21.8128 47.8891 19.1878C47.8609 16.4691 47.8609 16.4128 47.6266 15.8597C47.4953 15.5503 46.4453 13.6097 45.3016 11.5472C43.1078 7.60031 42.8266 7.19718 42.1328 7.00968C41.9078 6.94405 40.6703 6.90655 38.9359 6.90655H36.1047L36.0766 4.06593C36.0484 1.27218 36.0484 1.23468 35.8328 0.925304C35.3828 0.297179 36.3859 0.344054 22.1547 0.353429C15.0484 0.353429 9.17031 0.381554 9.09531 0.409679ZM41.8703 8.58468C42.1797 8.94093 46.1359 16.1597 46.2672 16.6003C46.3703 16.9566 46.4078 17.6034 46.4078 19.2534V21.4472L45.8359 21.4191L45.2734 21.3909L45.1141 20.9222C44.4016 18.8222 42.2828 17.6597 40.1734 18.2034C38.8141 18.5597 37.6609 19.6753 37.2672 21.0159C37.1547 21.3909 37.1547 21.3909 36.6203 21.4191L36.0953 21.4472V14.9222V8.40656H38.9078C41.5422 8.40656 41.7297 8.41593 41.8703 8.58468ZM20.3359 19.7128C20.9172 19.8816 21.5734 20.4441 21.8641 21.0066C22.1359 21.5316 22.1922 22.4128 21.9953 23.0034C21.7891 23.6222 21.2828 24.1941 20.6828 24.5034C20.1016 24.8034 19.1172 24.8409 18.5359 24.5878C17.9922 24.3534 17.3922 23.7441 17.1578 23.2003C16.9047 22.6003 16.9234 21.5972 17.2047 21.0159C17.5984 20.2191 18.5828 19.5816 19.4641 19.5722C19.6703 19.5628 20.0641 19.6284 20.3359 19.7128ZM42.1234 19.7503C43.9047 20.4159 44.3641 22.8159 42.9578 24.0816C42.4141 24.5691 41.9734 24.7472 41.2516 24.7472C39.7984 24.7566 38.7391 23.7722 38.6453 22.3378C38.5984 21.5034 38.8234 20.9034 39.4141 20.3222C40.1453 19.6003 41.1578 19.3847 42.1234 19.7503Z" fill="white"/>
                <path d="M8.67344 7.30049C8.27031 7.53486 8.26094 7.60986 8.25156 9.97236V12.2505H7.12656C6.04844 12.2505 5.98281 12.2599 5.76719 12.4849C5.45781 12.7849 5.45781 13.2161 5.76719 13.5161L5.99219 13.7505H12.8734C19.6984 13.7505 19.7641 13.7505 20.0078 13.5536C20.3547 13.2817 20.3547 12.7192 20.0078 12.4474C19.7641 12.2505 19.6703 12.2505 14.7578 12.2505H9.75156V9.99111V7.73174L9.47969 7.45986C9.18906 7.16924 8.97344 7.13174 8.67344 7.30049Z" fill="white"/>
                <path d="M0.207834 8.46303C-0.110916 8.68803 -0.0827911 9.35366 0.254709 9.62553C0.498459 9.81303 0.573459 9.82241 3.35783 9.79428L6.20783 9.76616L6.38596 9.54116C6.62971 9.24116 6.62033 8.77241 6.34846 8.51928C6.13283 8.31303 6.07658 8.31303 3.27346 8.31303C0.845334 8.31303 0.385959 8.33178 0.207834 8.46303Z" fill="white"/>
              </svg>
            </div>
          </swiper-slide>
        {%- endfor -%}
      </swiper-container>
    </div>
  {%- endif -%}
  <div class="container">
    <a class="logo" href="{{ routes.root_url }}">
      {%- if ss.logo != blank -%}
        {{ ss.logo | image_url: width: '120' | image_tag }}
      {%- endif -%}
    </a>
    <div class="menu">
      {%- if ss.menu != blank -%}
        <ul class="main-menu">
          {% for link in ss.menu.links %}
            <li class="menu-item {% if link.links != blank %} has-dropdown {% endif %}">
              {% if link.title == 'Shop' %}
                <a href="{{ link.url }}" class="link centered">{{ link.title }}</a>
              {% else %}
                <a href="{{ link.url }}" class="link centered">{{ link.title }}</a>
              {% endif %}

              {% if link.links != blank %}
                <ul class="dropdown">
                  {% for sublink in link.links %}
                    <li class="submenu-item">
                      <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {%- endif -%}
    </div>
    <div id="liveBubble" class="actives">
      {%- if shop.customer_accounts_enabled and ss.hide_account == false -%}
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="icon"
          title="{{ 'account.login' | t }}"
        >
          {%- render 'icon', type: 'account' -%}
        </a>
      {%- endif -%}
      <div class="cart icon">
        {%- if request.page_type == 'cart' -%}
          <a href="{{ routes.cart_url }}">
            {%- render 'icon', type: 'cart' -%}
          </a>
        {%- else -%}
          {% comment %}
            <div id="triggerSlider" class="dynamic-cart">
              {%- render 'icon', type: 'cart' -%}
            </div>
          {% endcomment %}
          <div
            data-toggle-cart
            class="header__icon header__icon--cart"
            id="cart-icon-bubble"
          >
            {%- render 'icon', type: 'cart' -%}
          </div>
        {%- endif -%}
        {%- if cart.item_count > 0 -%}
          <div class="bubble">{{ cart.item_count }}</div>
        {%- endif -%}
        <div class="cart-count-bubble"></div>
      </div>
      <div class="locale">
        {%- render 'localization' -%}
      </div>
    </div>
    <div id="menuSwitcher" class="menu-switcher">
      {%- render 'icon', type: 'hamburger' -%}
    </div>
  </div>
</header>
<div id="menuDrawer" class="menu-drawer">
  <div class="container">
    <div class="top-wrapper">
      <a
        class="logo"
        title="{{ shop.title }}"
        href="{{ shop.url }}"
      >
        {%- if ss.logo != blank -%}
          {{ ss.logo | image_url: width: '120' | image_tag }}
        {%- endif -%}
      </a>
      <div id="menuClose" class="close">
        {%- render 'icon', type: 'close' -%}
      </div>
    </div>
    <div class="actives">
      {%- if shop.customer_accounts_enabled and ss.hide_account == false -%}
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="icon"
          title="{{ 'account.login' | t }}"
        >
          {%- render 'icon', type: 'account' -%}
        </a>
      {%- endif -%}
      {% comment %}
        <div id="triggerSlider" class="dynamic-cart">
          {%- render 'icon', type: 'cart' -%}
        </div>
      {% endcomment %}
      <a href="/cart" class="header__icon header__icon--cart" id="cart-icon-bubble">
        {%- render 'icon', type: 'cart' -%}
      </a>
      <div class="locale">
        {%- render 'localization' -%}
      </div>
    </div>
    <div class="middle-wrapper">
      <div class="menu">
        {% if ss.menu != blank %}
          <ul class="mobile-menu-list">
            {% for link in ss.menu.links %}
              <li class="mobile-menu-item">
                <a href="{{ link.url }}" class="mobile-link">
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      {%- if ss.button_text != blank -%}
        <div class="button-wrapper">
          <a href="{{ ss.button_url }}" class="button wide">{{ ss.button_text }}</a>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "tag": "section",
  "class": "header-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "hide_account",
      "label": "Hide account",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    },
    {
      "type": "header",
      "content": "Announce"
    },
    {
      "type": "paragraph",
      "content": "Will be visible only on product page"
    },
    {
      "type": "text",
      "id": "announce",
      "label": "Announce text",
      "default": "Free shipping"
    },
    {
      "type": "text",
      "id": "announce_sv",
      "label": "Announce text (Swedish)",
      "default": "Free shipping"
    },
    {
      "type": "color",
      "id": "ann_bg",
      "label": "Announce background",
      "default": "#111111"
    },
    {
      "type": "color",
      "id": "ann_tx",
      "label": "Announce text",
      "default": "#FFFFFF"
    }
  ],
  "presets": [
    {
      "name": "Header",
      "settings": {}
    }
  ]
}
{% endschema %}
