{%- assign ss = section.settings -%}

<style>
  #shopify-section-{{ section.id }} {
    background: {{ ss.bg }} url({{ 'drop.svg' | asset_url }});
    background-repeat: no-repeat;
    background-position: 290px -650px;
    background-size: 120% 120%;
  }

  @media screen and (max-width: 768px) {
    #shopify-section-{{ section.id }} {
      background-position: 154px -538px;
      background-size: 150% 150%;
    }
  }
</style>

{% comment %} <div class="drop">
  {%- render 'icon', type: 'drop' -%}
</div> {% endcomment %}

<div class="container">
  <div class="hero-wrapper">
    {%- if ss.title != blank -%}
      <h1 class="title">
        {{ ss.title }}
      </h1>
    {%- endif -%}
    <div class="review">
      <div class="top-bar">
        <div class="stars">
          <div class="rect" style="width: {{ ss.stars | times: 20 }}%; overflow: hidden">
            <svg width="80" class="top-layer" height="16" viewBox="0 0 80 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.13589 1.48359C7.52162 0.821322 8.47838 0.821321 8.86411 1.48359L10.3645 4.05954C10.5058 4.30214 10.7425 4.47417 11.0169 4.53359L13.9304 5.1645C14.6795 5.3267 14.9752 6.23663 14.4645 6.80814L12.4783 9.03107C12.2912 9.24043 12.2008 9.51877 12.229 9.7981L12.5293 12.764C12.6065 13.5265 11.8325 14.0889 11.1312 13.7798L8.40325 12.5777C8.14634 12.4645 7.85366 12.4645 7.59675 12.5777L4.86883 13.7798C4.16749 14.0889 3.39346 13.5265 3.47067 12.764L3.77096 9.7981C3.79924 9.51878 3.7088 9.24043 3.52174 9.03107L1.5355 6.80814C1.02484 6.23663 1.3205 5.3267 2.06955 5.1645L4.98306 4.53359C5.25745 4.47417 5.49423 4.30214 5.63553 4.05954L7.13589 1.48359Z" fill="#FFC700"/>
              <path d="M23.1359 1.48359C23.5216 0.821322 24.4784 0.821321 24.8641 1.48359L26.3645 4.05954C26.5058 4.30214 26.7425 4.47417 27.0169 4.53359L29.9304 5.1645C30.6795 5.3267 30.9752 6.23663 30.4645 6.80814L28.4783 9.03107C28.2912 9.24043 28.2008 9.51877 28.229 9.7981L28.5293 12.764C28.6065 13.5265 27.8325 14.0889 27.1312 13.7798L24.4032 12.5777C24.1463 12.4645 23.8537 12.4645 23.5968 12.5777L20.8688 13.7798C20.1675 14.0889 19.3935 13.5265 19.4707 12.764L19.771 9.7981C19.7992 9.51878 19.7088 9.24043 19.5217 9.03107L17.5355 6.80814C17.0248 6.23663 17.3205 5.3267 18.0695 5.1645L20.9831 4.53359C21.2575 4.47417 21.4942 4.30214 21.6355 4.05954L23.1359 1.48359Z" fill="#FFC700"/>
              <path d="M39.1359 1.48359C39.5216 0.821322 40.4784 0.821321 40.8641 1.48359L42.3645 4.05954C42.5058 4.30214 42.7425 4.47417 43.0169 4.53359L45.9304 5.1645C46.6795 5.3267 46.9752 6.23663 46.4645 6.80814L44.4783 9.03107C44.2912 9.24043 44.2008 9.51877 44.229 9.7981L44.5293 12.764C44.6065 13.5265 43.8325 14.0889 43.1312 13.7798L40.4032 12.5777C40.1463 12.4645 39.8537 12.4645 39.5968 12.5777L36.8688 13.7798C36.1675 14.0889 35.3935 13.5265 35.4707 12.764L35.771 9.7981C35.7992 9.51878 35.7088 9.24043 35.5217 9.03107L33.5355 6.80814C33.0248 6.23663 33.3205 5.3267 34.0695 5.1645L36.9831 4.53359C37.2575 4.47417 37.4942 4.30214 37.6355 4.05954L39.1359 1.48359Z" fill="#FFC700"/>
              <path d="M55.1359 1.48359C55.5216 0.821322 56.4784 0.821321 56.8641 1.48359L58.3645 4.05954C58.5058 4.30214 58.7425 4.47417 59.0169 4.53359L61.9304 5.1645C62.6795 5.3267 62.9752 6.23663 62.4645 6.80814L60.4783 9.03107C60.2912 9.24043 60.2008 9.51877 60.229 9.7981L60.5293 12.764C60.6065 13.5265 59.8325 14.0889 59.1312 13.7798L56.4032 12.5777C56.1463 12.4645 55.8537 12.4645 55.5968 12.5777L52.8688 13.7798C52.1675 14.0889 51.3935 13.5265 51.4707 12.764L51.771 9.7981C51.7992 9.51878 51.7088 9.24043 51.5217 9.03107L49.5355 6.80814C49.0248 6.23663 49.3205 5.3267 50.0695 5.1645L52.9831 4.53359C53.2575 4.47417 53.4942 4.30214 53.6355 4.05954L55.1359 1.48359Z" fill="#FFC700"/>
              <path d="M71.1359 1.48359C71.5216 0.821322 72.4784 0.821321 72.8641 1.48359L74.3645 4.05954C74.5058 4.30214 74.7425 4.47417 75.0169 4.53359L77.9304 5.1645C78.6795 5.3267 78.9752 6.23663 78.4645 6.80814L76.4783 9.03107C76.2912 9.24043 76.2008 9.51877 76.229 9.7981L76.5293 12.764C76.6065 13.5265 75.8325 14.0889 75.1312 13.7798L72.4032 12.5777C72.1463 12.4645 71.8537 12.4645 71.5968 12.5777L68.8688 13.7798C68.1675 14.0889 67.3935 13.5265 67.4707 12.764L67.771 9.7981C67.7992 9.51878 67.7088 9.24043 67.5217 9.03107L65.5355 6.80814C65.0248 6.23663 65.3205 5.3267 66.0695 5.1645L68.9831 4.53359C69.2575 4.47417 69.4942 4.30214 69.6355 4.05954L71.1359 1.48359Z" fill="#FFC700"/>
            </svg>
          </div>
          
          <svg width="80" class="background-layer" height="16" viewBox="0 0 80 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.13589 1.48359C7.52162 0.821322 8.47838 0.821321 8.86411 1.48359L10.3645 4.05954C10.5058 4.30214 10.7425 4.47417 11.0169 4.53359L13.9304 5.1645C14.6795 5.3267 14.9752 6.23663 14.4645 6.80814L12.4783 9.03107C12.2912 9.24043 12.2008 9.51877 12.229 9.7981L12.5293 12.764C12.6065 13.5265 11.8325 14.0889 11.1312 13.7798L8.40325 12.5777C8.14634 12.4645 7.85366 12.4645 7.59675 12.5777L4.86883 13.7798C4.16749 14.0889 3.39346 13.5265 3.47067 12.764L3.77096 9.7981C3.79924 9.51878 3.7088 9.24043 3.52174 9.03107L1.5355 6.80814C1.02484 6.23663 1.3205 5.3267 2.06955 5.1645L4.98306 4.53359C5.25745 4.47417 5.49423 4.30214 5.63553 4.05954L7.13589 1.48359Z" fill="#FFC700"/>
            <path d="M23.1359 1.48359C23.5216 0.821322 24.4784 0.821321 24.8641 1.48359L26.3645 4.05954C26.5058 4.30214 26.7425 4.47417 27.0169 4.53359L29.9304 5.1645C30.6795 5.3267 30.9752 6.23663 30.4645 6.80814L28.4783 9.03107C28.2912 9.24043 28.2008 9.51877 28.229 9.7981L28.5293 12.764C28.6065 13.5265 27.8325 14.0889 27.1312 13.7798L24.4032 12.5777C24.1463 12.4645 23.8537 12.4645 23.5968 12.5777L20.8688 13.7798C20.1675 14.0889 19.3935 13.5265 19.4707 12.764L19.771 9.7981C19.7992 9.51878 19.7088 9.24043 19.5217 9.03107L17.5355 6.80814C17.0248 6.23663 17.3205 5.3267 18.0695 5.1645L20.9831 4.53359C21.2575 4.47417 21.4942 4.30214 21.6355 4.05954L23.1359 1.48359Z" fill="#FFC700"/>
            <path d="M39.1359 1.48359C39.5216 0.821322 40.4784 0.821321 40.8641 1.48359L42.3645 4.05954C42.5058 4.30214 42.7425 4.47417 43.0169 4.53359L45.9304 5.1645C46.6795 5.3267 46.9752 6.23663 46.4645 6.80814L44.4783 9.03107C44.2912 9.24043 44.2008 9.51877 44.229 9.7981L44.5293 12.764C44.6065 13.5265 43.8325 14.0889 43.1312 13.7798L40.4032 12.5777C40.1463 12.4645 39.8537 12.4645 39.5968 12.5777L36.8688 13.7798C36.1675 14.0889 35.3935 13.5265 35.4707 12.764L35.771 9.7981C35.7992 9.51878 35.7088 9.24043 35.5217 9.03107L33.5355 6.80814C33.0248 6.23663 33.3205 5.3267 34.0695 5.1645L36.9831 4.53359C37.2575 4.47417 37.4942 4.30214 37.6355 4.05954L39.1359 1.48359Z" fill="#FFC700"/>
            <path d="M55.1359 1.48359C55.5216 0.821322 56.4784 0.821321 56.8641 1.48359L58.3645 4.05954C58.5058 4.30214 58.7425 4.47417 59.0169 4.53359L61.9304 5.1645C62.6795 5.3267 62.9752 6.23663 62.4645 6.80814L60.4783 9.03107C60.2912 9.24043 60.2008 9.51877 60.229 9.7981L60.5293 12.764C60.6065 13.5265 59.8325 14.0889 59.1312 13.7798L56.4032 12.5777C56.1463 12.4645 55.8537 12.4645 55.5968 12.5777L52.8688 13.7798C52.1675 14.0889 51.3935 13.5265 51.4707 12.764L51.771 9.7981C51.7992 9.51878 51.7088 9.24043 51.5217 9.03107L49.5355 6.80814C49.0248 6.23663 49.3205 5.3267 50.0695 5.1645L52.9831 4.53359C53.2575 4.47417 53.4942 4.30214 53.6355 4.05954L55.1359 1.48359Z" fill="#FFC700"/>
            <path d="M71.1359 1.48359C71.5216 0.821322 72.4784 0.821321 72.8641 1.48359L74.3645 4.05954C74.5058 4.30214 74.7425 4.47417 75.0169 4.53359L77.9304 5.1645C78.6795 5.3267 78.9752 6.23663 78.4645 6.80814L76.4783 9.03107C76.2912 9.24043 76.2008 9.51877 76.229 9.7981L76.5293 12.764C76.6065 13.5265 75.8325 14.0889 75.1312 13.7798L72.4032 12.5777C72.1463 12.4645 71.8537 12.4645 71.5968 12.5777L68.8688 13.7798C68.1675 14.0889 67.3935 13.5265 67.4707 12.764L67.771 9.7981C67.7992 9.51878 67.7088 9.24043 67.5217 9.03107L65.5355 6.80814C65.0248 6.23663 65.3205 5.3267 66.0695 5.1645L68.9831 4.53359C69.2575 4.47417 69.4942 4.30214 69.6355 4.05954L71.1359 1.48359Z" fill="#FFC700"/>
          </svg>
        </div>
        <div class="vr-line"></div>
        <div class="rating">
          {{ ss.stars }}
        </div>
        <div class="vr-line"></div>
        {%- if ss.reviews_link != blank -%}
          <a href="{{ ss.reviews_link }}" class="see-all">{{ 'reviews.see-all' | t }}</a>
        {%- endif -%}
      </div>
      {%- if ss.review_text != blank -%}
        <div class="review-text">
          {{ ss.review_text }}
        </div>
      {%- endif -%}
      {%- if ss.button_text != blank -%}
        <a href="{{ ss.button_url }}" class="button">{{ ss.button_text }}</a>
      {%- endif -%}
    </div>
    <div class="image">
      {%- if ss.image -%}
        {{ ss.image | image_url: width: '600' | image_tag }}
      {%- endif -%}
  </div>
  </div>
  
</div>

{% schema %}
  {
    "name": "Review Hero",
    "tag": "section",
    "class": "hero-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "range",
        "id": "stars",
        "min": 1,
        "max": 5,
        "step": 0.1,
        "unit": "str",
        "label": "Stars",
        "default": 5
      },
      {
        "type": "richtext",
        "id": "review_text",
        "label": "Review text"
      },
      {
        "type": "url",
        "id": "reviews_link",
        "label": "Reviews link"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button url"
      },
      {
        "type": "color",
        "id": "bg",
        "label": "Background color",
        "default": "#E5E5E5"
      }
    ],
    "presets": [
      {
        "name": "Review Hero",
        "settings": {
        }
      }
    ]
  }
{% endschema %}