{%- assign ss = section.settings -%}

<style>
  #shopify-section-{{ section.id }} {
    background: {{ ss.bg }};
  }
</style>

<div class="container">
  <div class="hero-wrapper">
    {%- if ss.title != blank -%}
      <h1 class="title">
        {{ ss.title }}
      </h1>
    {%- endif -%}
    <div class="review">
      <div class="top-bar">
        <div class="vr-line"></div>
      </div>
      {%- if ss.review_text != blank -%}
        <div class="review-text">
          {{ ss.review_text }}
        </div>
      {%- endif -%}
      {%- if ss.button_text != blank -%}
        <a href="{{ ss.button_url }}" class="button">
          {{ ss.button_text }}
          {%- render 'icon', type: 'arrow-right' -%}
        </a>
      {%- endif -%}
    </div>
    <div class="image">
      {%- if ss.video -%}
        <div class="video-wrapper">
          {{
            ss.video
            | video_tag:
              autoplay: false,
              loop: true,
              muted: true,
              controls: false,
              image_size: '600x',
              preload: 'auto',
              class: 'video'
          }}
        </div>
      {%- endif -%}
    </div>
  </div>
  {% comment %}
    {%- if section.blocks.size > 0 -%}
    <div class="icons-wrapper">
      {%- for block in section.blocks -%}
        <div class="icon">
          {{ block.settings.logo | image_url: width: 400 | image_tag: loading: 'lazy' }}
        </div>
      {%- endfor -%}
    </div>
    {%- endif -%}
  {% endcomment %}
</div>
{%- if section.blocks.size > 0 -%}
  <swiper-container class="hero-slider" init="false">
    {%- for block in section.blocks -%}
      <swiper-slide>
        {{ block.settings.logo | image_url: height: '25' | image_tag: loading: 'lazy' }}
      </swiper-slide>
    {%- endfor -%}
    {%- for block in section.blocks -%}
      <swiper-slide>
        {{ block.settings.logo | image_url: height: '25' | image_tag: loading: 'lazy' }}
      </swiper-slide>
    {%- endfor -%}
  </swiper-container>
{%- endif -%}

{% schema %}
{
  "name": "Homepage Hero",
  "tag": "section",
  "class": "hero-section homepage-hero",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "range",
      "id": "stars",
      "min": 1,
      "max": 5,
      "step": 0.1,
      "unit": "str",
      "label": "Stars",
      "default": 5
    },
    {
      "type": "richtext",
      "id": "review_text",
      "label": "Review text"
    },
    {
      "type": "url",
      "id": "reviews_link",
      "label": "Reviews link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background color",
      "default": "#E5E5E5"
    }
  ],
  "blocks": [
    {
      "name": "Slider image",
      "type": "logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Homepage Hero",
      "settings": {}
    }
  ]
}
{% endschema %}
