{%- assign ss = section.settings -%}
<style>
  #shopify-section-{{ section.id }} .home-hero-container {
    display: flex;
    flex-direction: column;
    gap: {{section.settings.content_gap}}px;
    max-width: 670px;
  }
  #shopify-section-{{ section.id }} .container .content {
    max-width: 100%;
    gap: {{section.settings.content_gap}}px;
  }
  #shopify-section-{{ section.id }} .container .content .pros {
    max-width: 100%;
  }  
  #shopify-section-{{ section.id }} .container .title {
    font-size: {{ section.settings.title_font_size_desktop }}px !important;
    line-height: {{ section.settings.title_line_height_desktop }}px !important;
    max-width: 100%;
    margin-bottom: 0;
  }
  #shopify-section-{{ section.id }} .container .content .subtitle {
    font-size: {{ section.settings.sub_title_font_size_desktop }}px;
    line-height: {{ section.settings.sub_title_line_height_desktop }}px;
  }
  #shopify-section-{{ section.id }} .container .content .pros {
    font-size: {{ section.settings.content_font_size_desktop }}px;
    line-height: {{ section.settings.content_line_height_desktop }}px; 
    letter-spacing: .003rem;
  }
  #shopify-section-{{ section.id }} .container .content .subtitle {
    font-weight: 400;
  }
  #shopify-section-{{ section.id }} .background-image {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #shopify-section-{{ section.id }} .review-link {
    margin-left: -10px;
    display: flex;
  }
  #shopify-section-{{ section.id }} .review-link-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #shopify-section-{{ section.id }} .review-profile-with-button {
    display: flex;
    gap: 32px;
  }
  #shopify-section-{{ section.id }} .review-profile-with-button .link{
    background: {{section.settings.button_color}};
    color: {{section.settings.button_text_color}};
    font-size: {{section.settings.button_font_size}}px;
    line-height: {{section.settings.button_line_height}}px;
    padding: 15px 70px;
  }
  #shopify-section-{{ section.id }} .review-profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #shopify-section-{{ section.id }} .review-profile-image img:not(:first-child){
    margin-left: -10px;
  }
  #shopify-section-{{ section.id }} .review-profile-block {
    display: flex;
    gap: 14px;
  }
  #shopify-section-{{ section.id }} .review-check-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.5px;
    color: {{section.settings.check_review_text_color}};
  }
  #shopify-section-{{ section.id }} .container .divider {
    height: 1px;
    background: {{section.settings.divider_color}};
    width: 100%;
  }
  #shopify-section-{{ section.id }} .desktop {
    display: block;
  }
  #shopify-section-{{ section.id }} .tablet,
  #shopify-section-{{ section.id }} .mobile {
    display: none;
  }
  @media screen and (max-width: 768px) {
    #shopify-section-{{ section.id }} .container {
      padding-block: {{section.settings.padding_y_tablet}}px;
      padding-inline: {{ section.settings.padding_x_tablet }}px;
      justify-content: end;
      height: min(100vh, 1080px);
    }
    #shopify-section-{{ section.id }} .container .title {
      font-size: {{ section.settings.title_font_size_tablet }}px !important;
      line-height: {{ section.settings.title_line_height_tablet }}px !important;
    }
    #shopify-section-{{ section.id }} .container .content .subtitle{
      font-size: {{ section.settings.sub_title_font_size_tablet }}px;
      line-height: {{ section.settings.sub_title_line_height_tablet }}px;
    }
    #shopify-section-{{ section.id }} .container .content .pros {
      font-size: {{ section.settings.content_font_size_tablet }}px;
      line-height: {{ section.settings.content_line_height_tablet }}px;
    }
    #shopify-section-{{ section.id }} .tablet {
      display: block;
    }
    #shopify-section-{{ section.id }} .desktop,
    #shopify-section-{{ section.id }} .mobile {
      display: none;
    }
  }
  @media screen and (max-width: 767px) {    
    #shopify-section-{{ section.id }} .mobile {
      display: block;
    }
    #shopify-section-{{ section.id }} .desktop,
    #shopify-section-{{ section.id }} .tablet {
      display: none;
    }
    #shopify-section-{{ section.id }} .container {
      padding-block: {{section.settings.padding_y_mobile}}px;
      padding-inline: {{ section.settings.padding_x_mobile }}px;
      height: min(100vh, 812px);
    }
    #shopify-section-{{ section.id }} .container .content {
      gap: {{ section.settings.content_gap_mobile }}px;
    }
    #shopify-section-{{ section.id }} .home-hero-container {
      gap: {{section.settings.content_gap_mobile}}px;
    }
    #shopify-section-{{ section.id }} .container .content {
      gap: {{section.settings.content_gap_mobile}}px;
    }
    #shopify-section-{{ section.id }} .container .title {
      font-size: {{ section.settings.title_font_size_mobile }}px !important;
      line-height: {{ section.settings.title_line_height_mobile }}px !important;
      margin-bottom: 0;
    }
    #shopify-section-{{ section.id }} .container .content .subtitle {
      font-size: {{ section.settings.sub_title_font_size_mobile }}px;
      line-height: {{ section.settings.sub_title_line_height_mobile }}px;
    }
    #shopify-section-{{ section.id }} .container .content .pros {
      font-size: {{ section.settings.content_font_size_mobile }}px;
      line-height: {{ section.settings.content_line_height_mobile }}px;
    }
    #shopify-section-{{ section.id }} .review-profile-with-button {
      flex-direction: column-reverse;
    }    
    #shopify-section-{{ section.id }} .review-profile-with-button .link {
      padding: 15px 0;
      justify-content: center;
    }
  }
</style>
{%- if ss.invert -%}
  {%- assign id = 'id="inverseHeader" data-inversed="false"' -%} 
{%- endif -%}
<div class="video-wrapper" {{ id }}>
  <div class="video-overlay"></div>
  {%- if ss.video != blank -%}
    {{ ss.video | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
  {%- endif -%}
  {% assign background_image = ss.background_image %}
  {% assign background_image_tablet = ss.background_image %}
  {% assign background_image_mobile = ss.background_image %}
  {%- if background_image != blank -%}
    <img
      class="background-image desktop"
      src="{{ background_image | img_url: '1920x' }}"
      width="100%"
      height="auto"/>
    {%- if ss.background_image_tablet != blank -%}
      {% assign background_image_tablet = ss.background_image_tablet %}
    {%- endif -%}
    <img
      class="background-image tablet"
      src="{{ background_image_tablet | img_url: '768x' }}"
      width="100%"
      height="auto"/>
    {%- if ss.background_image_mobile != blank -%}
      {% assign background_image_mobile = ss.background_image_mobile %}
    {%- endif -%}
    <img
      class="background-image mobile"
      src="{{ background_image_mobile | img_url: '480x' }}"
      width="100%"
      height="auto"/>
  {%- endif -%}
</div>
<div class="container">
  <div class="home-hero-container">
    {%- if ss.title != blank -%}
      <h1 class="title">
        {{ ss.title }}
      </h1>
    {%- endif -%}
    {% if ss.show_divider %}
      <div class="divider"></div>
    {% endif %}
    <div class="content">
      {%- if ss.subtitle != blank -%}
        <div class="subtitle">{{ ss.subtitle }}</div>
      {%- endif -%}
      {%- if ss.content != blank -%}
        <div class="pros">{{ ss.content }}</div>
      {%- endif -%}
      <div class="review-profile-with-button">
        {%- if ss.button_text != blank -%}
          <a href="{{ ss.button_url }}" class="link">
            {{ ss.button_text }}
            {% if section.settings.show_arrow %}
            {%- render 'icon', type: 'arrow-right' -%}
            {% endif %}
          </a>
        {%- endif -%}
        <div class="review-profile-block">
            {%- if section.blocks.size > 0 -%}
              <div class="review-profile-image">
              {%- for block in section.blocks -%}
                {% if block.type == 'review' %}
                  {% if block.settings.review_url != blank  %}
                    <a href="{{ block.settings.review_url }}" class="review-link">
                  {% endif %}
                  {{ block.settings.review_image | image_url: height: '48' | image_tag: loading: 'lazy' }}
                  {% if block.settings.review_url != blank  %}
                    </a>
                  {% endif %}
                {% endif %}
              {%- endfor -%}
              </div>
            {%- endif -%}
            {%- if section.settings.check_review_text != blank -%}
              {% if section.settings.review_url != blank  %}
                <a href="{{ section.settings.review_url }}" class="review-link-text">
              {% endif %}
                <div class="review-check-text">{{ section.settings.check_review_text }}</div>
              {% if section.settings.review_url != blank  %}
                </a>
              {% endif %}
            {%- endif -%}
          </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Home Hero With Image",
    "tag": "section",
    "class": "page-hero",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "Video background"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "background_image_tablet",
        "label": "Background Image (Tablet)"
      },
      {
        "type": "image_picker",
        "id": "background_image_mobile",
        "label": "Background Image (Mobile)"
      },
      {
        "type": "checkbox",
        "id": "invert",
        "label": "Inverse header colors on scroll",
        "default": true
      },
      {
        "type": "header",
        "content": "Gap Settings"
      },
      {
        "type": "range",
        "id": "content_gap",
        "label": "Gap (Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 32,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "content_gap_mobile",
        "label": "Gap (Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 14,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Title Settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "range",
        "id": "title_font_size_desktop",
        "label": "Title Font Size(Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 50,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "title_line_height_desktop",
        "label": "Title Line Height(Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 60,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "title_font_size_tablet",
        "label": "Title Font Size(Tablet)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 50,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "title_line_height_tablet",
        "label": "Title Line Height(Tablet)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 60,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "title_font_size_mobile",
        "label": "Title Font Size(Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 28,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "title_line_height_mobile",
        "label": "Title Line Height(Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 32,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Line Settings"
      },
      {
        "type": "checkbox",
        "id": "show_divider",
        "label": "Show Line",
        "default": true
      },
      {
        "type": "color",
        "id": "divider_color",
        "label": "Line Color",
        "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "Sub Title Settings"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "range",
        "id": "sub_title_font_size_desktop",
        "label": "Sub Title Font Size(Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 24,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sub_title_line_height_desktop",
        "label": "Sub Title Line Height(Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 32,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sub_title_font_size_tablet",
        "label": "Sub Title Font Size(Tablet)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 24,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sub_title_line_height_tablet",
        "label": "Sub Title Line Height(Tablet)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 32,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sub_title_font_size_mobile",
        "label": "Sub Title Font Size(Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 18,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sub_title_line_height_mobile",
        "label": "Sub Title Line Height(Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 24,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Content Settings"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "range",
        "id": "content_font_size_desktop",
        "label": "Content Font Size(Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 16,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "content_line_height_desktop",
        "label": "Content Line Height(Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 24,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "content_font_size_tablet",
        "label": "Content Font Size(Tablet)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 16,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "content_line_height_tablet",
        "label": "Content Line Height(Tablet)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 24,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "content_font_size_mobile",
        "label": "Content Font Size(Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 16,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "content_line_height_mobile",
        "label": "Content Line Height(Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 24,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Review Block"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Link text"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Link url"
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Button Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "button_text_color",
        "label": "Button Text Color",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "button_font_size",
        "label": "Button Font Size",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 16,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "button_line_height",
        "label": "Button Line Height",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 21,
        "unit": "px"
      },
      {
        "type": "checkbox",
        "id": "show_arrow",
        "label": "Show Arrow",
        "default": false
      },
      {
        "type": "text",
        "id": "check_review_text",
        "label": "Check Review text",
        "default": "Check Reviews"
      },
      {
        "type": "url",
        "id": "review_url",
        "label": "Url"
      },
      {
        "type": "color",
        "id": "check_review_text_color",
        "label": "Text Color",
        "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "padding Settings"
      },
      {
        "type": "range",
        "id": "padding_y",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Top/Bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_x",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Left/Right",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_y_tablet",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Top/Bottom (Tablet)",
        "default": 64
      },
      {
        "type": "range",
        "id": "padding_x_tablet",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Left/Right (Tablet)",
        "default": 48
      },
      {
        "type": "range",
        "id": "padding_y_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Top/Bottom (Mobile)",
        "default": 20
      },
      {
        "type": "range",
        "id": "padding_x_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Left/Right (Mobile)",
        "default": 20
      }
    ],
    "blocks": [
      {
        "name": "Review Image",
        "type": "review",
        "settings":[
          {
            "type": "image_picker",
            "id": "review_image",
            "label": "Review Profile Image"
          },
          {
            "type": "url",
            "id": "review_url",
            "label": "Url"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home Hero With Image",
        "settings": {
        }
      }
    ]
  }
{% endschema %}