{%- style -%}
  .section-{{ section.id }} {
    background: {{ section.settings.background_color }};
  }
  .section-{{ section.id }} .container {
    {% if section.settings.max_fullwidth %}
    max-width: 100%;
    padding-inline: 0;
    {% endif %}
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .section-{{ section.id }}.content-container {
    border-radius: {{ section.settings.border_radius }}px;
  }
  .section-{{ section.id }} .rich-text__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .section-{{ section.id }} .rich-text__blocks {
    display: flex;
    flex-direction: column;
    gap: {{section.settings.content_gap}}px;
    {% if section.settings.use_content_max_width %}
    max-width: {{section.settings.content_max_width}}px;
    {% endif %}
  }
  .section-{{ section.id }} .rich-text__blocks>*+* {
    text-align: {{ section.settings.content_alignment }};
  }
  .section-{{ section.id }} .rich-text__blocks .rich-text__buttons {
    display: flex;
    {% if section.settings.content_alignment == "left" %}
    justify-content: start;
    {% elsif section.settings.content_alignment == "right" %}
    justify-content: end;
    {% else %}
    justify-content: center;
    {% endif %}
  }
  .section-{{ section.id }} .rich-block__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .section-{{ section.id }} .rich-block__wrapper swiper-container {
    width: 100%;
  }
  .section-{{ section.id }} .swiper-pagination {
    width: 110px !important;
    position: relative;
    padding-top: {{ section.settings.slider_pagination_top }}px;
    {% unless section.settings.show_pagination %}
    display: none;
    {% endunless %}
  }  
  .section-{{ section.id }} .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #000;
    opacity: 0.5;
    margin: 0 5px;
    transform: scale(1) !important;
  }  
  .section-{{ section.id }} .swiper-pagination-bullet-active {
    background: #000000;
    opacity: 1;
  }
  .section-{{ section.id }} .rich-block__wrapper prev-next-buttons {
    position: absolute;
    z-index: 1;
    width: calc(100% + 120px);
    {% unless section.settings.show_pagination %}
    display: none;
    {% else %}
    display: flex;
    {% endunless %}
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
  }
  .section-{{ section.id }} .rich-block__wrapper prev-next-buttons .swiper-button-disabled {
    opacity: .2;
  }
  .section-{{ section.id }} .rich-block__wrapper .rich-block-card {
    display: flex;
    flex-direction: column;
    gap: {{ section.settings.padding_between_blocks }}px;
    justify-content: start;
  }
  .section-{{ section.id }} .rich-block__wrapper .rich-block-card .rich-block__image {
    border-radius: {{ section.settings.image_radius}}px;
  }
  .section-{{ section.id }} .rich-block__wrapper .rich-block-card .rich-block__icon {
    width: {{ section.settings.icon_area_size}}px;
    height: {{ section.settings.icon_area_size}}px;
    background: {{ section.settings.icon_area_color}};
    border-radius: {{ section.settings.icon_border_radius}}px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-{{ section.id }} .rich-block__wrapper .rich-block-card .rich-block__icon svg {
    width: {{ section.settings.icon_size}}px;
    height: {{ section.settings.icon_size}}px;
  }
  .section-{{ section.id }} .rich-block__wrapper .rich-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    {% if section.settings.content_alignment == 'left' %}
    align-items: start;
    {% elsif section.settings.content_alignment == 'center' %}
    align-items: center;
    {% else %}
    align-items: end;
    {% endif %}
    padding: 0px 35px;
    max-width: 400px;
  }
  .section-{{ section.id }} .rich-block__wrapper .rich-block h2 {
    font-family: "ClashGrotesk-Variable";
    font-size: {{ section.settings.title_font_size }}px;
    line-height:  {{ section.settings.title_line_height }}px;
    margin-top: {{ section.settings.block_padding_1 }}px;
    margin-bottom: {{ section.settings.block_padding_2 }}px;
    text-align: {{ section.settings.content_alignment }};
  }
  .section-{{ section.id }} .rich-block__wrapper .rich-block span > * {
    font-weight: 300;
    font-size: {{ section.settings.desc_font_size }}px;
    line-height:  {{ section.settings.desc_line_height }}px;
    text-align: {{ section.settings.content_alignment }};
  }
  @media screen and (max-width: 1439px) {    
    .section-{{ section.id }} .rich-block__wrapper prev-next-buttons {
      width: 100%;
      position: relative;
      justify-content: center;
      gap: 30px;
      padding-top: {{ section.settings.slider_pagination_top }}px;
    }
    .section-{{ section.id }} .swiper-pagination {
      display: none;
    }
  }
  @media screen and (max-width: 1024px) {
    .section-{{ section.id }} .rich-block__wrapper .rich-block-card {
      justify-content: center;
    }
  }
  @media screen and (max-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_tablet }}px !important;
      padding-bottom: {{ section.settings.padding_bottom_tablet }}px !important;
    }
    .section-{{ section.id }} .rich-text__blocks .rich-text__buttons,
    .section-{{ section.id }} .rich-text__blocks .rich-text__buttons a{
      width: 100%;
    }
    .section-{{ section.id }} .rich-block__wrapper {
      flex-wrap: wrap;
    }
    .section-{{ section.id }} .rich-block__wrapper .rich-block-card {
      justify-content: start;
      gap: {{ section.settings.padding_between_blocks_tablet }}px;
    }
    .section-{{ section.id }} .rich-block__wrapper .rich-block {
      padding: 0px 12px;
      justify-content: start;
      min-height: 150px;
    }
    .section-{{ section.id }} .rich-block__wrapper .rich-block h2 {
      font-size: {{ section.settings.title_font_size_tablet }}px;
      line-height:  {{ section.settings.title_line_height_tablet }}px;      
      margin-top: {{ section.settings.block_padding_tablet_1 }}px;
      margin-bottom: {{ section.settings.block_padding_tablet_2 }}px;
    }
    .section-{{ section.id }} .rich-block__wrapper .rich-block span {
      font-size: {{ section.settings.desc_font_size_tablet }}px;
      line-height:  {{ section.settings.desc_line_height_tablet }}px;
    }
    .section-{{ section.id }} .rich-block__wrapper .rich-block-card .rich-block__icon {
      width: {{ section.settings.icon_area_size_tablet}}px;
      height: {{ section.settings.icon_area_size_tablet}}px;
    }
    .section-{{ section.id }} .rich-block__wrapper .rich-block-card .rich-block__icon svg {
      width: {{ section.settings.icon_size_tablet}}px;
      height: {{ section.settings.icon_size_tablet}}px;
    }
  }
  @media screen and (max-width: 480px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobile }}px !important;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px !important;
    }    
    .section-{{ section.id }}.content-container {
      border-radius: {{ section.settings.border_radius_mobile }}px;
    }
    .section-{{ section.id }} .rich-text__blocks .rich-text__buttons {
      padding-left: 0;
      padding-right: 0;
    }
    .section-{{ section.id }} .rich-text__blocks .rich-text__buttons a{
      max-width: 100%;
    }
    .section-{{ section.id }} .rich-block__wrapper {
      gap: {{ section.settings.padding_between_blocks_mobile }}px;
    }
    .section-{{ section.id }} .rich-block__wrapper .rich-block-card.rich-block-image {
      margin-bottom: 0;
    }
    .section-{{ section.id }} .rich-block__wrapper .rich-block-card:not(.rich-block-image) {
      width: 100%;
    }
    .section-{{ section.id }} .rich-block__wrapper .rich-block-card {
      width: 100%;
      gap: {{ section.settings.padding_between_blocks_mobile }}px;
    }
    .section-{{ section.id }} .rich-block__wrapper .rich-block {
      min-height:auto;
    }
    .section-{{ section.id }} .rich-block__wrapper .rich-block h2 {
      font-size: {{ section.settings.title_font_size_mobile }}px;
      {% if section.settings.title_line_height_mobile == 0 %}
      line-height: normal;
      {% else %}
      line-height:  {{ section.settings.title_line_height_mobile }}px;
      {% endif %}}
      margin-top: {{ section.settings.block_padding_mobile_1 }}px;
      margin-bottom: {{ section.settings.block_padding_mobile_2 }}px;
    }
    .section-{{ section.id }} .rich-block__wrapper .rich-block span {
      font-size: {{ section.settings.desc_font_size_mobile }}px;
      line-height:  {{ section.settings.desc_line_height_mobile }}px;
      opacity: 0.65;
    }  
    .section-{{ section.id }} .rich-block__wrapper .rich-block-card .rich-block__icon {
      width: {{ section.settings.icon_area_size_mobile}}px;
      height: {{ section.settings.icon_area_size_mobile}}px;
    }
    .section-{{ section.id }} .rich-block__wrapper .rich-block-card .rich-block__icon svg {
      width: {{ section.settings.icon_size_mobile}}px;
      height: {{ section.settings.icon_size_mobile}}px;
    }
  }
{%- endstyle -%}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="rich-text content-container gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }} section-{{ section.id }}-padding">  
    <div class="container">
      <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.content_position }}{% if section.settings.full_width %} page-width{% endif %}">
        <div class="rich-text__blocks">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              {% style %}
                .{{ block.id }}.rich-text__heading {
                  font-family: ClashGrotesk-Variable;
                  font-size: {{ block.settings.heading_font_size }}px;
                  font-weight: 300;
                  color: {{ block.settings.heading_color }};
                  line-height: {{ block.settings.heading_line_height }}px;
                  padding-top: {{ block.settings.heading_top_padding }}px;
                  padding-bottom: {{ block.settings.heading_bottom_padding }}px;
                  text-align: {{ section.settings.content_position }};
                }
                @media screen and (max-width: 768px) {
                  .{{ block.id }}.rich-text__heading {
                    font-size: {{ block.settings.heading_font_size_tablet }}px;
                    line-height: {{ block.settings.heading_line_height_tablet }}px;
                    padding-top: {{ block.settings.heading_top_padding_tablet }}px;
                    padding-bottom: {{ block.settings.heading_bottom_padding_tablet }}px;
                  }
                }
                @media screen and (max-width: 480px) {
                  .{{ block.id }}.rich-text__heading {
                    font-size: {{ block.settings.heading_font_size_mobile }}px;
                    line-height: {{ block.settings.heading_line_height_mobile }}px;
                    padding-top: {{ block.settings.heading_top_padding_mobile }}px;
                    padding-bottom: {{ block.settings.heading_bottom_padding_mobile }}px;
                  }
                }
              {% endstyle %}
              <h2
                class="{{ block.id }} rich-text__heading rte inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} base__text--headline4"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.heading | replace: '®', '<span class="registration-mark">®</span>'}}
              </h2>
            {%- when 'description' -%}
              {% style %}
                .{{ block.id }}.rich-text__text {
                  padding-top: {{ block.settings.text_top_padding }}px;
                  padding-bottom: {{ block.settings.text_bottom_padding }}px;                  
                  text-align: {{ section.settings.content_position }};
                }
                .{{ block.id }}.rich-text__text > *{
                  font-size: {{ block.settings.text_font_size }}px;
                  font-weight: 400;
                  line-height: {{ block.settings.text_line_height }}px;
                  color: {{block.settings.text_color}};
                }
                @media screen and (max-width: 768px) {
                  .{{ block.id }}.rich-text__text {
                    padding-top: {{ block.settings.text_top_padding_tablet }}px;
                    padding-bottom: {{ block.settings.text_bottom_padding_tablet }}px;
                  }
                  .{{ block.id }}.rich-text__text > *{
                    font-size: {{ block.settings.text_font_size_tablet }}px;
                    line-height: {{ block.settings.text_line_height_tablet }}px;
                  }
                }
                @media screen and (max-width: 480px) {
                  .{{ block.id }}.rich-text__text {
                    padding-top: {{ block.settings.text_top_padding_mobile }}px;
                    padding-bottom: {{ block.settings.text_bottom_padding_mobile }}px;
                  }
                  .{{ block.id }}.rich-text__text > * {
                    font-size: {{ block.settings.text_font_size_mobile }}px;
                    line-height: {{ block.settings.text_line_height_mobile }}px;
                    letter-spacing: -0.05em;
                  }
                }
              {% endstyle %}
              <div
                class="{{ block.id }} rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.text }}
              </div>
          {%- endcase -%}
        {%- endfor -%}
        </div>
      </div>
      <div class="rich-block__wrapper">
        <swiper-container class="blog-style-slider" init="false">
        {% for block in section.blocks %}
          {% if block.type == "card" %}
            <swiper-slide>
              <div class="block-{{ block.id }} rich-block-card">
                <img class="rich-block__image" src="{{ block.settings.preview_image | img_url: '480x' }}" width="100%" height="auto">
              </div>
            </swiper-slide>
          {% endif %}
        {% endfor %}
        </swiper-container>
        <prev-next-buttons>
          <div class="prev">
            {%- render 'icon', type: 'arrow-left', color: section.settings.icon_color -%}
          </div>
          <div class="pagination"></div>
          <div class="next">
            {%- render 'icon', type: 'arrow-right', color: section.settings.icon_color -%}
          </div>
        </prev-next-buttons>
      </div>      
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    function initSlider() {
      const sliders = document.querySelectorAll(".section-{{ section.id }} .blog-style-slider");
      sliders.forEach(slider => {
        const swiperParams = {
          spaceBetween: 20,
          centeredSlides: false,
          loop: true,
          slidesPerView: 'auto',
          pagination: {
            el: ".section-{{ section.id }} .swiper-pagination",
            clickable: true,
            dynamicBullets: true
          },
          breakpoints: {
            1150: {
              slidesPerView: {{ section.settings.slider_pagination_count }},
              spaceBetween: 24,
            },
            768: {
               slidesPerView: {{ section.settings.slider_pagination_count_tablet }},
               spaceBetween: 24,
            },
            0: {
               slidesPerView: {{ section.settings.slider_pagination_count_mobile }}
            }
          },
          navigation: {
            nextEl: slider.nextElementSibling.querySelector('.next'),
            prevEl: slider.nextElementSibling.querySelector('.prev'),
          },
        };
        Object.assign(slider, swiperParams);
        slider.initialize();
      });
    }
    initSlider();
  });
</script>

{% schema %}
{
  "name": "Image Slider",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "select",
      "id": "content_position",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "center",
      "label": "Content Position"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "center",
      "label": "Content Alignment"
    },
    {
      "type": "checkbox",
      "id": "max_fullwidth",
      "label": "Use Full Width",
      "default": true
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Border Radius",
      "default": 96
    },
    {
      "type": "range",
      "id": "border_radius_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Border Radius (Mobile)",
      "default": 40
    },
    {
      "type": "header",
      "content": "Block Settings"
    },
    {
      "type": "range",
      "id": "image_radius",
      "min": 0,
      "max": 240,
      "step": 4,
      "unit": "px",
      "label": "Image Raduis",
      "default": 12
    },
    {
      "type": "header",
      "content": "Slider Pagination Settings"
    },
    {
      "type": "range",
      "id": "slider_pagination_count",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Slider Count",
      "default": 5
    },
    {
      "type": "range",
      "id": "slider_pagination_count_tablet",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Slider Count (Tablet)",
      "default": 3
    },
    {
      "type": "range",
      "id": "slider_pagination_count_mobile",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Slider Count (Mobile)",
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "Show Pagination",
      "default": false
    },
    {
      "type": "range",
      "id": "slider_pagination_top",
      "min": 0,
      "max": 240,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 48
    },
    {
      "type": "range",
      "id": "slider_pagination_bottom",
      "min": 0,
      "max": 240,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "padding Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 240,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 240,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "min": 0,
      "max": 240,
      "step": 4,
      "unit": "px",
      "label": "Top(Tablet)",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "min": 0,
      "max": 240,
      "step": 4,
      "unit": "px",
      "label": "Bottom(Tablet)",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 240,
      "step": 4,
      "unit": "px",
      "label": "Top(Mobile)",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 240,
      "step": 4,
      "unit": "px",
      "label": "Bottom(Mobile)",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Header",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading Color",
          "default": "#000000"
        },
        {
          "type": "header",
          "content": "Desktop"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "label": "Font Size",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "heading_line_height",
          "label": "Line Height",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 60,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "heading_top_padding",
          "label": "Top Padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "default": 120,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "heading_bottom_padding",
          "label": "Buttom Padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "default": 120,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "Tablet"
        },
        {
          "type": "range",
          "id": "heading_font_size_tablet",
          "label": "Font Size",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "heading_line_height_tablet",
          "label": "Line Height",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 60,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "heading_top_padding_tablet",
          "label": "Top Padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "default": 120,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "heading_bottom_padding_tablet",
          "label": "Buttom Padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "default": 120,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "range",
          "id": "heading_font_size_mobile",
          "label": "Font Size",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 22,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "heading_line_height_mobile",
          "label": "Line Height",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 24,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "heading_top_padding_mobile",
          "label": "Top Padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "default": 120,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "heading_bottom_padding_mobile",
          "label": "Buttom Padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "default": 120,
          "unit": "px"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text</p>"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#000000"
        },
        {
          "type": "header",
          "content": "Desktop"
        },
        {
          "type": "range",
          "id": "text_font_size",
          "label": "Font Size",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_line_height",
          "label": "Line Height",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 60,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_top_padding",
          "label": "Top Padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "default": 120,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_bottom_padding",
          "label": "Buttom Padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "default": 120,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "Tablet"
        },
        {
          "type": "range",
          "id": "text_font_size_tablet",
          "label": "Font Size",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_line_height_tablet",
          "label": "Line Height",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 60,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_top_padding_tablet",
          "label": "Top Padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "default": 120,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_bottom_padding_tablet",
          "label": "Buttom Padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "default": 120,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "range",
          "id": "text_font_size_mobile",
          "label": "Font Size",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 22,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_line_height_mobile",
          "label": "Line Height",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 24,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_top_padding_mobile",
          "label": "Top Padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "default": 120,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_bottom_padding_mobile",
          "label": "Buttom Padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "default": 120,
          "unit": "px"
        }
      ]
    },
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "preview_image",
          "label": "Preview Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Slider",
      "blocks": [
        {
          "type": "card"
        }
      ]
    }
  ]
}
{% endschema %}
