<style>
  #shopify-section-{{ section.id }} {
    li {
      color: #6b6b69;
      font-family:"Inter", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -.04em;
      text-align: left;
      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
    strong {
      font-weight: 600;
    }
    .container {
      max-width: 980px;
    }
  }
  #shopify-section-{{ section.id }} ul {
    list-style: disc;
    padding-left: 40px;
    margin-block: 1rem;    
  }
  #shopify-section-{{ section.id }} ol {
    list-style: decimal;
    padding-left: 40px;
    margin-block: 1rem;
  }
</style>

<div class="container medium">
  {{ article.content }}
  {%- if article.tags.size > 0 -%}
    <div class="tags-title">Tags</div>
    <div class="tags">
      {%- for tag in article.tags -%}
        <div class="tag">{{ tag }}</div>
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Article",
    "tag": "section",
    "class": "main-article",
    "settings": [
      {
        "type": "image_picker",
        "id": "ul_marker",
        "label": "List marker"
      }
    ],
    "presets": [
      {
        "name": "Article",
        "settings": {

        }
      }
    ]
  }
{% endschema %}