<div class="container">
  <h1 class="title">{{ blog.title }}</h1>
  {%- if section.settings.subtitle != blank -%}
    <div class="subtitle">{{ section.settings.subtitle }}</div>
  {%- endif -%}
  {%- if blog.all_tags.size > 0 -%}
    <div class="tags-wrapper">
      <div class="tag-title">Tags</div>
      <div class="tag-filter">
        {%- for tag in blog.all_tags -%}
          {%- if current_tags contains tag -%}
            <div class="tag active">
              {%- capture tag_title -%}
                {{ tag }}
                {%- render 'icon', type: 'close' -%}
              {%- endcapture -%}
              {{ tag_title | link_to_remove_tag: tag }}
            </div>
          {%- else -%}
            <div class="tag inactive">
              {{ tag  | link_to_add_tag: tag | url_decode }}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
  {%- if blog.articles.size > 0 -%}
    <div class="blog-wrapper">
      {%- for article in blog.articles -%}
        <div class="article-wrapper">
          {%- if article.image != blank -%}
            <a class="image" href="{{ article.url }}" title="{{ article.title }}">
              {{ article.image | image_url: height: '500' | image_tag: loading: 'lazy' }}
            </a>
          {%- endif -%}
          <div class="content">
            <div class="date">{{ article.created_at | date: "%d.%m.%Y" }}</div>
            <a href="{{ article.url }}" class="article-title">{{ article.title }}</a>
            <a href="{{ article.url }}" class="read-more">
              {{ 'blog.read_more' | t }}
              {%- render 'icon', type: 'arrow-right' -%}
            </a>
          </div>
        </div>
      {%- endfor -%}
    </div>
  {%- else -%}
      {{ 'blog.no_articles' | t }}
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Main blog",
    "tag": "section",
    "class": "main-blog",
    "settings": [
      {
        "type": "text",
        "id": "subtitle",
        "label": "Recent blog posts"
      }
    ],
    "presets": [
      {
        "name": "Main blog",
        "settings": {
        }
      }
    ]
  }
{% endschema %}