{%- assign ss = section.settings -%}

<style>
  #shopify-section-{{ section.id }} {
    background: {{ ss.bg }};
    color: {{ ss.tx }};
    fill: {{ ss.tx }};
  }
  {%- if ss.special_title -%}
    @media screen and (max-width: 767px) {
      #shopify-section-{{ section.id }} {
      padding-block: 56px;
      }
    }
  {%- endif -%}
  {%- if ss.overlap -%}
    #shopify-section-{{ section.id }} {
      margin-top: -5vw;
      position: relative;
      z-index: 5;
      @media screen and (max-width: 767px) {
        margin-top: -28px;
        }
      }
  {%- endif -%}
  #shopify-section-{{ section.id }}.multirows-section .container .rows .row .content {
    flex: 1;
  }
  #shopify-section-{{ section.id }}.multirows-section .container .rows .row .image {
    flex: 1;
  }
  #shopify-section-{{ section.id }} .row-title {
    max-width: 430px;
  }
  @media screen and (min-width: 1441px) {
    #shopify-section-{{ section.id }}.multirows-section .container .rows {
      max-width: 1440px;
      margin: auto;
    }
    #shopify-section-{{ section.id }}.multirows-section .container .rows .row {
      gap: 122px;
    }
    #shopify-section-{{ section.id }} .container .rows .row.right .content{
      padding-left: 32px;
    }
  }
  @media (min-width: 1025px) and (max-width: 1440px) {
    #shopify-section-{{ section.id }}.multirows-section .container .rows .row .content {
      flex: none;
      width: 50%;
    }
    #shopify-section-{{ section.id }}.multirows-section .container .rows .row .image {
      flex: none;
      width: 50%;
    }
    #shopify-section-{{ section.id }} .container .rows .row{
      gap: 21px;
    }
    #shopify-section-{{ section.id }} .container .rows .row.left .content{
      padding-left: 27px;
    }
    #shopify-section-{{ section.id }} .container .rows .row.right .content{
      padding-right: 27px;
    }
  }
  @media screen and (min-width: 1025px) {
    #shopify-section-{{ section.id }} .container .rows {
      gap: 200px;
    }
    #shopify-section-{{ section.id }} .container .rows .row .image.desktop{
      display: block;
    }
    #shopify-section-{{ section.id }} .container .rows .row .image.mobile, 
    #shopify-section-{{ section.id }} .container .rows .row .image.tablet{
      display: none;
    }
    #shopify-section-{{ section.id }} .row-title {
      font-size: {{ section.settings.sub_title_font_size_desktop }}px;
      line-height: {{ section.settings.sub_title_line_height_desktop }}px;
      margin-bottom: 42px;
    }
    #shopify-section-{{ section.id }} .row .content .bottom .text {
      font-size: {{ section.settings.sub_body_font_size_desktop }}px;
      line-height: {{ section.settings.sub_body_line_height_desktop }}px;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    #shopify-section-{{ section.id }}.multirows-section .container .rows .row .content {
      flex: none;
      width: 50%;
    }
    #shopify-section-{{ section.id }}.multirows-section .container .rows .row .image {
      flex: none;
      width: 50%;
    }
    #shopify-section-{{ section.id }} .container .rows {
      gap: 80px;
    }
    #shopify-section-{{ section.id }} .container .rows .row{
      gap: 0px;
    }
    #shopify-section-{{ section.id }} .container .rows .row .image.tablet{
      display: block;
    }
    #shopify-section-{{ section.id }} .container .rows .row .image.desktop, 
    #shopify-section-{{ section.id }} .container .rows .row .image.mobile{
      display: none;
    }
    #shopify-section-{{ section.id }} .container .rows .row.right .image{
      padding-left: 32px;
    }
    #shopify-section-{{ section.id }} .container .rows .row.left .image{
      padding-right: 32px;
    }
    #shopify-section-{{ section.id }} .row-title {
      font-size: {{ section.settings.sub_title_font_size_tablet }}px;
      line-height: {{ section.settings.sub_title_line_height_tablet }}px;
      margin-bottom: 10px;
    }
    #shopify-section-{{ section.id }} .row .content .bottom .text {
      font-size: {{ section.settings.sub_body_font_size_tablet }}px;
      line-height: {{ section.settings.sub_body_line_height_tablet }}px;
    }
  }
  @media screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} .container .rows .row {
      gap: 28px;
    }
    #shopify-section-{{ section.id }} .container .rows .row .image.mobile{
      display: block;
    }
    #shopify-section-{{ section.id }} .container .rows .row .image.desktop, 
    #shopify-section-{{ section.id }} .container .rows .row .image.tablet{
      display: none;
    }
    #shopify-section-{{ section.id }} .row-title {
      font-size: {{ section.settings.sub_title_font_size_mobile }}px;
      line-height: {{ section.settings.sub_title_line_height_mobile }}px;
      margin-bottom: 20px;
      padding-bottom: 0;
    }
    #shopify-section-{{ section.id }} .row .content .bottom .text {
      font-size: {{ section.settings.sub_body_font_size_mobile }}px;
      line-height: {{ section.settings.sub_body_line_height_mobile }}px;
    }
  }
</style>

{%- if ss.invert -%}
  {%- assign id = 'id="inverseHeader" data-inversed="false"' -%} 
{%- endif -%}

<div class="container" {{ id }}>
  {%- if ss.title != blank -%}
    <h2 class="title ">{{ ss.title }}</h2>
  {%- endif -%}
  {%- if section.blocks.size > 0 -%}
    <div class="rows">
      {%- for block in section.blocks -%}
        {%- assign bs = block.settings -%}
        <div class="row {% if bs.position == 'row' %}right{% else %}left{% endif %}" style="flex-direction: {{ bs.position }}">
          <div class="content">
            {%- if bs.title != blank -%}
              <h3 class="row-title">{{ bs.title }}</h3>
            {%- endif -%}
            <div class="bottom">
              {%- if bs.content != blank -%}
                <div class="text">
                  {{ bs.content }}
                </div>
              {%- endif -%}
              {%- if bs.button_text != blank -%}
                <a href="{{ bs.button_url }}" class="link">
                  {{ bs.button_text }}
                  {%- render 'icon', type: 'arrow-right' -%}
                </a>
              {%- endif -%}
            </div>
          </div>
{%- if bs.use_video and bs.video_url != blank -%}
  <div class="image desktop">
    <video autoplay muted loop playsinline style="width:100%; height:auto;">
      <source src="{{ bs.video_url }}" type="video/mp4">
    </video>
  </div>
{%- else -%}
  {%- if bs.image -%}
    <div class="image desktop">
      {{ bs.image | image_url: width: '1024' | image_tag: loading: 'lazy' }}
    </div>
  {%- endif -%}
  {%- if bs.image_tablet -%}
    <div class="image tablet">
      {{ bs.image_tablet | image_url: width: '768' | image_tag: loading: 'lazy' }}
    </div>
  {%- endif -%}
  {%- if bs.image_mobile -%}
    <div class="image mobile">
      {{ bs.image_mobile | image_url: width: '630' | image_tag: loading: 'lazy' }}
    </div>
  {%- endif -%}
{%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Multirows(New)",
    "tag": "section",
    "class": "multirows-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "special_title",
        "label": "Special section styling",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "overlap",
        "label": "Overlap top section",
        "default": false
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "checkbox",
        "id": "invert",
        "label": "Inverse header colors on scroll",
        "default": true
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "bg",
        "label": "Background",
        "default": "#111111"
      },
      {
        "type": "color",
        "id": "tx",
        "label": "Text",
        "default": "#FFFFFF"
      },
      {
        "type": "header",
        "content": "Sub Title Settings"
      },
      {
        "type": "range",
        "id": "sub_title_font_size_desktop",
        "label": "Sub Title Font Size(Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 48,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sub_title_line_height_desktop",
        "label": "Sub Title Line Height(Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 55,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sub_title_font_size_tablet",
        "label": "Sub Title Font Size(Tablet)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 34,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sub_title_line_height_tablet",
        "label": "Sub Title Line Height(Tablet)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 40,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sub_title_font_size_mobile",
        "label": "Sub Title Font Size(Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 24,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sub_title_line_height_mobile",
        "label": "Sub Title Line Height(Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 30,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Sub Body Settings"
      },
      {
        "type": "range",
        "id": "sub_body_font_size_desktop",
        "label": "Sub Body Font Size(Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 18,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sub_body_line_height_desktop",
        "label": "Sub Body Line Height(Desktop)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 28,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sub_body_font_size_tablet",
        "label": "Sub Body Font Size(Tablet)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 18,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sub_body_line_height_tablet",
        "label": "Sub Body Line Height(Tablet)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 28,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sub_body_font_size_mobile",
        "label": "Sub Body Font Size(Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 16,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sub_body_line_height_mobile",
        "label": "Sub Body Line Height(Mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 24,
        "unit": "px"
      },
    ],
    "blocks": [
      {
        "name": "Row",
        "type": "row",
        "settings": [
           {
             "type": "text",
             "id": "title",
             "label": "Title"
           },
           {
             "type": "richtext",
             "id": "content",
             "label": "Content"
           },
           {
             "type": "text",
             "id": "button_text",
             "label": "Link text"
           },
           {
             "type": "url",
             "id": "button_url",
             "label": "Link url"
           },
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           },
           {
             "type": "image_picker",
             "id": "image_tablet",
             "label": "Image(Tablet)"
           },
           {
             "type": "image_picker",
             "id": "image_mobile",
             "label": "Image(Mobile)"

             
           },
           {
             "type": "select",
             "id": "position",
             "label": "Image positiom",
             "options": [
               {
                 "value": "row-reverse",
                 "label": "Left"
               },
               {
                "value": "row",
                "label": "Right"
               }
             ],
             "default": "row"
           }
        ]
      }
    ],
    "presets": [
      {
        "name": "Multirows(New)",
        "settings": {
        }
      }
    ]
  }
{% endschema %}