<div
  class="__instant iBnCEOqxY1hnOJUKZ"
  data-instant-id="BnCEOqxY1hnOJUKZ"
  data-instant-version="3.0.5"
  data-instant-layout="SECTION"
  data-section-id="{{ section.id }}"
>
  {%- style -%}
        .__instant[data-section-id='{{ section.id }}'] div[data-instant-type='root'] {
        	padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        	padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
        }

        @media screen and (min-width: 769px) {
        	.__instant[data-section-id='{{ section.id }}'] div[data-instant-type='root'] {
        		padding-top: {{ section.settings.padding_top }}px;
        		padding-bottom: {{ section.settings.padding_bottom }}px;
        	}
        }


        .__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text h3{
    font-family: 'ClashGrotesk-Variable'!important;
          font-weight: 300!important;
        }
        .__instant.iBnCEOqxY1hnOJUKZ *,.__instant.iBnCEOqxY1hnOJUKZ:after,.__instant.iBnCEOqxY1hnOJUKZ:before {
      border:0 solid;
      box-sizing:border-box
    }
    .__instant {
      display:flex;
      flex:1;
      flex-direction:column;
      margin:0;
      padding:0;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
      font-family:system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
      letter-spacing:normal;
      line-height:1.15;
      -webkit-text-size-adjust:100%;
      -moz-tab-size:4;
      tab-size:4
    }
    .__instant.iBnCEOqxY1hnOJUKZ hr {
      border-top-width:1px;
      color:inherit;
      height:0
    }
    .__instant.iBnCEOqxY1hnOJUKZ abbr[title] {
      text-decoration:underline dotted
    }
    .__instant.iBnCEOqxY1hnOJUKZ h1,.__instant.iBnCEOqxY1hnOJUKZ h2,.__instant.iBnCEOqxY1hnOJUKZ h3,.__instant.iBnCEOqxY1hnOJUKZ h4,.__instant.iBnCEOqxY1hnOJUKZ h5,.__instant.iBnCEOqxY1hnOJUKZ h6 {
      font-size:inherit;
      font-weight:inherit
    }
    .__instant.iBnCEOqxY1hnOJUKZ a {
      color:inherit;
      text-decoration:inherit
    }
    .__instant.iBnCEOqxY1hnOJUKZ b,.__instant.iBnCEOqxY1hnOJUKZ strong {
      font-weight:bolder
    }
    .__instant.iBnCEOqxY1hnOJUKZ small {
      font-size:80%
    }
    .__instant.iBnCEOqxY1hnOJUKZ sub,.__instant.iBnCEOqxY1hnOJUKZ sup {
      font-size:75%;
      line-height:0;
      position:relative;
      vertical-align:baseline
    }
    .__instant.iBnCEOqxY1hnOJUKZ sub {
      bottom:-.25em
    }
    .__instant.iBnCEOqxY1hnOJUKZ sup {
      top:-.5em
    }
    .__instant.iBnCEOqxY1hnOJUKZ table {
      border-collapse:collapse;
      border-color:inherit;
      text-indent:0
    }
    .__instant.iBnCEOqxY1hnOJUKZ button,.__instant.iBnCEOqxY1hnOJUKZ input,.__instant.iBnCEOqxY1hnOJUKZ optgroup,.__instant.iBnCEOqxY1hnOJUKZ select,.__instant.iBnCEOqxY1hnOJUKZ textarea {
      color:inherit;
      font-family:inherit;
      font-size:100%;
      line-height:inherit;
      margin:0;
      padding:0
    }
    .__instant.iBnCEOqxY1hnOJUKZ button,.__instant.iBnCEOqxY1hnOJUKZ select {
      text-transform:none
    }
    .__instant.iBnCEOqxY1hnOJUKZ [type=button],.__instant.iBnCEOqxY1hnOJUKZ [type=reset],.__instant.iBnCEOqxY1hnOJUKZ [type=submit],.__instant.iBnCEOqxY1hnOJUKZ button {
      -webkit-appearance:none;
      background-color:transparent;
      background-image:none
    }
    .__instant.iBnCEOqxY1hnOJUKZ:-moz-focusring {
      outline:auto
    }
    .__instant.iBnCEOqxY1hnOJUKZ:-moz-ui-invalid {
      box-shadow:none
    }
    .__instant.iBnCEOqxY1hnOJUKZ progress {
      vertical-align:baseline
    }
    .__instant.iBnCEOqxY1hnOJUKZ::-webkit-inner-spin-button,.__instant.iBnCEOqxY1hnOJUKZ::-webkit-outer-spin-button {
      height:auto
    }
    .__instant.iBnCEOqxY1hnOJUKZ [type=search] {
      -webkit-appearance:textfield;
      outline-offset:-2px
    }
    .__instant.iBnCEOqxY1hnOJUKZ::-webkit-search-decoration {
      -webkit-appearance:none
    }
    .__instant.iBnCEOqxY1hnOJUKZ::-webkit-file-upload-button {
      -webkit-appearance:button;
      font:inherit
    }
    .__instant.iBnCEOqxY1hnOJUKZ summary {
      display:list-item
    }
    .__instant.iBnCEOqxY1hnOJUKZ blockquote,.__instant.iBnCEOqxY1hnOJUKZ dd,.__instant.iBnCEOqxY1hnOJUKZ dl,.__instant.iBnCEOqxY1hnOJUKZ figure,.__instant.iBnCEOqxY1hnOJUKZ h1,.__instant.iBnCEOqxY1hnOJUKZ h2,.__instant.iBnCEOqxY1hnOJUKZ h3,.__instant.iBnCEOqxY1hnOJUKZ h4,.__instant.iBnCEOqxY1hnOJUKZ h5,.__instant.iBnCEOqxY1hnOJUKZ h6,.__instant.iBnCEOqxY1hnOJUKZ hr,.__instant.iBnCEOqxY1hnOJUKZ p,.__instant.iBnCEOqxY1hnOJUKZ pre {
      margin:0
    }
    .__instant.iBnCEOqxY1hnOJUKZ fieldset {
      margin:0;
      padding:0
    }
    .__instant.iBnCEOqxY1hnOJUKZ legend {
      padding:0
    }
    .__instant.iBnCEOqxY1hnOJUKZ ol,.__instant.iBnCEOqxY1hnOJUKZ ul {
      list-style:none;
      margin:0;
      padding:0
    }
    .__instant.iBnCEOqxY1hnOJUKZ textarea {
      resize:vertical
    }
    .__instant.iBnCEOqxY1hnOJUKZ input::placeholder,.__instant.iBnCEOqxY1hnOJUKZ textarea::placeholder {
      color:inherit;
      opacity:1
    }
    .__instant.iBnCEOqxY1hnOJUKZ [role=button],.__instant.iBnCEOqxY1hnOJUKZ button {
      cursor:pointer
    }
    .__instant.iBnCEOqxY1hnOJUKZ:disabled {
      cursor:default
    }
    .__instant.iBnCEOqxY1hnOJUKZ audio,.__instant.iBnCEOqxY1hnOJUKZ canvas,.__instant.iBnCEOqxY1hnOJUKZ embed,.__instant.iBnCEOqxY1hnOJUKZ iframe,.__instant.iBnCEOqxY1hnOJUKZ img,.__instant.iBnCEOqxY1hnOJUKZ object,.__instant.iBnCEOqxY1hnOJUKZ svg,.__instant.iBnCEOqxY1hnOJUKZ video {
      display:block;
      vertical-align:middle
    }
    .__instant.iBnCEOqxY1hnOJUKZ img,.__instant.iBnCEOqxY1hnOJUKZ video {
      height:auto;
      max-width:100%
    }
    .__instant.iBnCEOqxY1hnOJUKZ [hidden] {
      display:none
    }
    .__instant {
      --instant-overflow-clip:clip
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-editor__link,.__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text a {
      text-decoration:underline
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text,.__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text h1,.__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text h2,.__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text h3,.__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text h4,.__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text h5,.__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text h6,.__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text p,.__instant.iBnCEOqxY1hnOJUKZ [data-instant-dynamic-content-source^=COUNTDOWN_] span {
      background:var(--instant-text-color-gradient);
      background-clip:var(--instant-text-color-clip);
      color:inherit;
      display:block;
      font-family:inherit;
      font-size:inherit;
      font-style:inherit;
      font-weight:inherit;
      letter-spacing:inherit;
      line-height:inherit;
      overflow-wrap:inherit;
      text-decoration:inherit;
      text-transform:inherit;
      text-wrap:inherit;
      word-break:inherit;
      -webkit-text-fill-color:var(--instant-text-color-fill)
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text h1:before,.__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text h2:before,.__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text h3:before,.__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text h4:before,.__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text h5:before,.__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text h6:before,.__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text p:before {
      content:"\200B"
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text ol,.__instant.iBnCEOqxY1hnOJUKZ .instant-rich-text ul {
      list-style:revert;
      padding-left:1.5em
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-visually-hidden {
      border:0;
      clip-path:inset(100%);
      height:1px;
      margin:-1px;
      padding:0;
      position:absolute;
      white-space:nowrap;
      width:1px;
      clip:rect(0,0,0,0);
      outline:0;
      outline-offset:unset;
      overflow:hidden
    }
    .__instant.iBnCEOqxY1hnOJUKZ a[data-instant-disabled=true]:not(.instant-custom-variant-picker),.__instant.iBnCEOqxY1hnOJUKZ button[data-instant-disabled=true]:not(.instant-custom-variant-picker) {
      cursor:not-allowed
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-variant-picker input[type=radio] {
      clip:rect(0,0,0,0);
      height:1px;
      overflow:hidden;
      position:absolute;
      width:1px
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-custom-variant-picker,.__instant.iBnCEOqxY1hnOJUKZ .instant-variant-picker input[type=radio]+label,.__instant.iBnCEOqxY1hnOJUKZ .instant-variant-picker select {
      cursor:pointer
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-variant-picker input[type=radio]+label:before {
      bottom:-1px;
      content:"";
      left:-1px;
      position:absolute;
      right:-1px;
      top:-1px;
      z-index:-1
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-variant-picker--select select {
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      border:0;
      height:100%;
      left:0;
      opacity:0;
      outline:none;
      overflow:hidden;
      padding:inherit;
      position:absolute;
      top:0;
      width:100%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-variant-picker--select:not(select) {
      pointer-events:none
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-variant-picker--select select:focus {
      outline:none
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-variant-picker--select select:focus-visible {
      box-shadow:none
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-selling-plan-selector {
      cursor:pointer
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-quantity-input {
      -moz-appearance:textfield;
      appearance:textfield;
      background:transparent;
      box-shadow:inherit;
      outline:none;
      outline-offset:unset;
      text-align:center
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-quantity-input::-webkit-inner-spin-button,.__instant.iBnCEOqxY1hnOJUKZ .instant-quantity-input::-webkit-outer-spin-button {
      -webkit-appearance:none;
      margin:0
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-image__fallback {
      background-image:url(https://cdn.instant.so/static/templates/assets/placeholder-image-icon.svg)
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-image__fallback,.__instant.iBnCEOqxY1hnOJUKZ .instant-media__fallback {
      background-color:rgba(0,0,0,.2);
      background-position:50%;
      background-repeat:no-repeat;
      background-size:clamp(0px,calc(100% - 4px),48px) clamp(0px,calc(100% - 4px),48px)
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-video__container {
      overflow:hidden;
      position:relative
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-tiktok__overlay,.__instant.iBnCEOqxY1hnOJUKZ .instant-video__iframe,.__instant.iBnCEOqxY1hnOJUKZ .instant-video__player,.__instant.iBnCEOqxY1hnOJUKZ .instant-video__wrapper {
      background-color:#000;
      background-position:50%;
      background-repeat:no-repeat;
      background-size:cover;
      height:100%;
      left:0;
      position:absolute;
      top:0;
      width:100%;
      z-index:1
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-tiktok__overlay {
      opacity:50%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-video__fallback {
      align-items:center;
      background-color:rgba(0,0,0,.2);
      border-radius:inherit;
      color:#fff;
      display:flex;
      font-size:14px;
      height:100%;
      justify-content:center;
      left:0;
      padding:16px;
      position:absolute;
      top:0;
      width:100%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-video__fallback-external:before {
      background-color:hsla(0,0%,100%,.2);
      border-radius:99px;
      content:"";
      height:48px;
      left:50%;
      position:absolute;
      top:50%;
      transform:translate(-50%,-50%);
      width:48px
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-video__fallback-vimeo:before {
      background-color:hsla(0,0%,100%,.2);
      border-radius:4px;
      content:"";
      height:48px;
      left:50%;
      position:absolute;
      top:50%;
      transform:translate(-50%,-50%);
      width:84px
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-tiktok__fallback-icon {
      background-image:url(https://cdn.instant.so/static/templates/assets/placeholder-tiktok-icon.svg)
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-video__sizer {
      display:block;
      height:auto;
      max-height:100%;
      max-width:100%;
      width:auto
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-video__button {
      border-radius:6px;
      left:50%;
      position:absolute;
      top:50%;
      transform:translate(-50%,-50%);
      transition:background-color .24s ease-in-out,color .24s ease-in-out,opacity .24s ease-in-out,box-shadow .24s
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-youtube__button {
      color:#212121;
      opacity:.8
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-video__wrapper:hover .instant-youtube__button--red {
      color:#bf171d;
      opacity:1
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-video__wrapper:hover .instant-youtube__button--white {
      color:#fff;
      opacity:1
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-youtube__button-play {
      color:#fff;
      left:50%;
      position:absolute;
      top:50%;
      transform:translate(-50%,-50%);
      transition:color .24s ease-in-out
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-video__wrapper:hover .instant-youtube__button--white .instant-youtube__button-play {
      color:#212121
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-vimeo__button {
      align-items:center;
      background-color:#000;
      border-radius:4px;
      color:#fff;
      display:flex;
      height:48px;
      justify-content:center;
      width:84px
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-external__button {
      align-items:center;
      background-color:#000;
      border-radius:99px;
      border-style:inset;
      color:#fff;
      display:flex;
      height:48px;
      justify-content:center;
      width:48px
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-video__wrapper:hover .instant-external__button,.__instant.iBnCEOqxY1hnOJUKZ .instant-video__wrapper:hover .instant-vimeo__button {
      background-color:var(--video-button-color);
      color:#000
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-tiktok__button {
      background-image:url(https://cdn.instant.so/static/templates/assets/play-button.svg);
      height:72px;
      width:72px
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-video-fill__wrapper {
      border-radius:inherit;
      height:100%;
      left:0;
      position:absolute;
      top:0;
      width:100%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-video-fill__overlay,.__instant.iBnCEOqxY1hnOJUKZ .instant-video-fill__video {
      border-radius:inherit;
      display:block;
      height:100%;
      left:0;
      object-fit:cover;
      position:absolute;
      top:0;
      width:100%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-video-fill__controls {
      background-color:#fff;
      border:1px inset rgba(0,0,0,.1);
      border-radius:99px;
      bottom:32px;
      padding:8px;
      position:absolute;
      right:32px
    }
    @media only screen and (max-width:768px) {
      .__instant.iBnCEOqxY1hnOJUKZ .instant-video-fill__controls {
      bottom:20px;
      right:20px
    }
    }.__instant.iBnCEOqxY1hnOJUKZ .instant-video-fill__controls .instant-video-fill__pause,.__instant.iBnCEOqxY1hnOJUKZ .instant-video-fill__controls .instant-video-fill__play {
      display:none;
      opacity:0;
      transition:opacity .2s ease-in-out
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-video-fill__wrapper[data-paused=false] .instant-video-fill__controls .instant-video-fill__play,.__instant.iBnCEOqxY1hnOJUKZ .instant-video-fill__wrapper[data-paused=true] .instant-video-fill__controls .instant-video-fill__pause {
      display:block;
      opacity:1
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-slider-horizontal {
      touch-action:pan-y
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-slider-horizontal>.instant-slider-wrapper {
      flex-direction:row
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-slider-vertical {
      touch-action:pan-x
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-slider-vertical>.instant-slider-wrapper {
      flex-direction:column
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-slider-free-mode>.instant-slider-wrapper {
      transition-timing-function:ease-out
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-slider-auto-slides .instant-slider-slide {
      max-width:none;
      min-width:unset
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-slider-thumbs>.instant-slider-wrapper>.instant-slider-slide {
      cursor:pointer
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-slider-wrapper {
      align-items:inherit;
      align-self:stretch;
      box-sizing:content-box;
      display:flex;
      height:inherit;
      order:1;
      transform:translateZ(0);
      transition-property:transform;
      transition-timing-function:ease;
      width:100%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-slider-slide {
      flex-shrink:0;
      transition-property:transform
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-slider-button-disabled:not(.__instant_builder_element) {
      opacity:.35
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-slider-button-lock {
      display:none!important
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active,.__instant.iBnCEOqxY1hnOJUKZ .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-main {
      display:flex;
      transform:scale(1)
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-next,.__instant.iBnCEOqxY1hnOJUKZ .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-prev {
      display:flex;
      transform:scale(.66)
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-next-next,.__instant.iBnCEOqxY1hnOJUKZ .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-prev-prev {
      display:flex;
      transform:scale(.33)
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-slider-pagination-bullet {
      cursor:pointer;
      flex-shrink:0
    }
    @keyframes instant-loading-__instant-iBnCEOqxY1hnOJUKZ {
      0% {
      opacity:1
    }
    50% {
      opacity:.7
    }
    to {
      opacity:1
    }
    }.__instant.iBnCEOqxY1hnOJUKZ .instant-loading {
      animation:instant-loading-__instant-iBnCEOqxY1hnOJUKZ 1s infinite
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-image__main {
      aspect-ratio:inherit;
      border-radius:inherit;
      height:100%;
      max-height:inherit;
      object-fit:inherit;
      object-position:inherit;
      width:100%
    }
    @media only screen and (min-width:1025px) {
      .__instant.iBnCEOqxY1hnOJUKZ .instant-responsive:not(.instant-responsive--desktop) {
      display:none
    }
    }@media only screen and (min-width:769px) and (max-width:1024px) {
      .__instant.iBnCEOqxY1hnOJUKZ .instant-responsive:not(.instant-responsive--laptop) {
      display:none
    }
    }@media only screen and (min-width:576px) and (max-width:768px) {
      .__instant.iBnCEOqxY1hnOJUKZ .instant-responsive:not(.instant-responsive--tablet) {
      display:none
    }
    }@media only screen and (max-width:575px) {
      .__instant.iBnCEOqxY1hnOJUKZ .instant-responsive:not(.instant-responsive--mobile) {
      display:none
    }
    }.__instant.iBnCEOqxY1hnOJUKZ .instant-icon,.__instant.iBnCEOqxY1hnOJUKZ .instant-image__fill {
      border-radius:inherit;
      height:100%;
      left:0;
      object-fit:cover;
      position:absolute;
      top:0;
      width:100%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-fill[data-trigger],.__instant.iBnCEOqxY1hnOJUKZ .instant-icon[data-trigger],.__instant.iBnCEOqxY1hnOJUKZ .instant-image[data-trigger] {
      opacity:0
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-icon,.__instant.iBnCEOqxY1hnOJUKZ .instant-image__main {
      transition-delay:inherit;
      transition-duration:inherit;
      transition-property:opacity;
      transition-timing-function:inherit
    }
    .__instant.iBnCEOqxY1hnOJUKZ div[href],.__instant.iBnCEOqxY1hnOJUKZ form[href] {
      cursor:pointer
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-ticker-container {
      display:flex;
      flex-direction:row;
      overflow:hidden;
      position:relative;
      width:100%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-ticker-container:hover div {
      animation-play-state:var(--pause-on-hover)
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-ticker-container:active div {
      animation-play-state:var(--pause-on-click)
    }
    @keyframes instant-ticker-instant-scroll-__instant-iBnCEOqxY1hnOJUKZ {
      0% {
      transform:translateZ(0)
    }
    to {
      transform:translate3d(calc(-100% - var(--gap)),0,0)
    }
    }.__instant.iBnCEOqxY1hnOJUKZ .instant-ticker {
      animation:instant-ticker-instant-scroll-__instant-iBnCEOqxY1hnOJUKZ var(--duration) linear infinite;
      animation-delay:0s;
      animation-direction:var(--direction);
      animation-play-state:var(--play);
      transform:translateZ(0)
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-ticker,.__instant.iBnCEOqxY1hnOJUKZ .instant-ticker-initial-child-container {
      align-items:inherit;
      column-gap:inherit;
      display:flex;
      flex:0 0 auto;
      flex-direction:row;
      min-width:auto
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-scroll--transform,.__instant.iBnCEOqxY1hnOJUKZ .instant-scroll--transform-fade {
      transform:var(--instant-scroll-from-translate,var(--instant-scroll-to-translate,translate(0,0))) var(--instant-scroll-from-scale,var(--instant-scroll-to-scale,scale(1))) var(--instant-scroll-to-rotate,rotateZ(0)) var(--instant-scroll-from-rotate,rotateX(0) rotateY(0))
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-scroll--fade,.__instant.iBnCEOqxY1hnOJUKZ .instant-scroll--fade:not(.instant-scroll-trigger--hidden),.__instant.iBnCEOqxY1hnOJUKZ .instant-scroll--transform-fade:not(.instant-scroll-trigger--hidden),.__instant.iBnCEOqxY1hnOJUKZ .instant-scroll--transform:not(.instant-scroll-trigger--hidden) {
      transform:var(--instant-scroll-to-translate,translate(0,0)) var(--instant-scroll-to-scale,scale(1)) var(--instant-scroll-to-rotate,rotate(0))
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-scroll--fade,.__instant.iBnCEOqxY1hnOJUKZ .instant-scroll--transform-fade {
      opacity:0
    }
    .__instant.iBnCEOqxY1hnOJUKZ .instant-scroll--fade:not(.instant-scroll-trigger--hidden),.__instant.iBnCEOqxY1hnOJUKZ .instant-scroll--transform-fade:not(.instant-scroll-trigger--hidden) {
      opacity:1
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iD9xsRkw16ShI8wSL {
      align-items:center;
      background:#fff;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      overflow:var(--instant-overflow-clip,hidden);
      position:relative
    }
    .__instant.iBnCEOqxY1hnOJUKZ .is7x2uTamaHRCno2G {
      align-items:stretch;
      column-gap:0;
      display:flex;
      flex-direction:row;
      justify-content:flex-start;
      margin:0;
      min-height:200px;
      position:relative;
      width:100%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .ioZAKAEUJr38rtwG6 {
      align-items:flex-end;
      align-self:stretch;
      column-gap:32px;
      display:flex;
      flex-basis:100px;
      flex-direction:column;
      flex-grow:1;
      flex-shrink:1;
      justify-content:center;
      min-width:0;
      padding:0 80px 0 0;
      position:relative;
      row-gap:32px
    }
    .__instant.iBnCEOqxY1hnOJUKZ .ieEuDUG3e9WUmueTe {
      column-gap:48px;
      flex-basis:0%;
      flex-grow:1;
      flex-shrink:1;
      min-height:200px;
      row-gap:48px;
      width:100%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iDLtKJxjX1T5ce3QZ,.__instant.iBnCEOqxY1hnOJUKZ .ieEuDUG3e9WUmueTe {
      align-items:flex-start;
      display:flex;
      flex-direction:column;
      justify-content:flex-end;
      margin:0;
      position:relative
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iDLtKJxjX1T5ce3QZ {
      column-gap:20px;
      flex-wrap:nowrap;
      padding:0 0 60px 80px;
      row-gap:20px;
      width:120%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iDSl68e91snXiXdks {
      font-size:36px;
      font-weight:500;
      justify-content:flex-end;
      line-height:1;
      max-width:100%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iBfn4uc6kjDt8gkGx,.__instant.iBnCEOqxY1hnOJUKZ .iDSl68e91snXiXdks {
      color:#fff;
      display:flex;
      flex-direction:column;
      font-family:"Inter", sans-serif;
      margin:0;
      padding:0;
      position:relative
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iBfn4uc6kjDt8gkGx {
      font-size:18px;
      justify-content:flex-start;
      max-width:93%;
      text-align:left
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iDtevJQfPEz0QF5ic {
      align-items:center;
      align-self:stretch;
      column-gap:32px;
      display:flex;
      flex-basis:100px;
      flex-direction:column;
      flex-grow:1;
      flex-shrink:1;
      justify-content:flex-start;
      margin:0;
      min-width:0;
      padding:50px;
      position:relative;
      row-gap:32px
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iImW31AoFmGjKt2o3 {
      background:#fff;
      border-radius:20px 20px 20px 20px;
      column-gap:12px;
      padding:12px;
      row-gap:12px;
      width:325px
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iImW31AoFmGjKt2o3,.__instant.iBnCEOqxY1hnOJUKZ .iZqJB2rpnG1Wy5niN {
      align-items:flex-start;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      min-height:200px;
      position:relative
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iZqJB2rpnG1Wy5niN {
      column-gap:32px;
      height:220px;
      padding:16px;
      row-gap:32px;
      width:100%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iN6Bs3Vpx1xjwlFrE {
      align-items:flex-start;
      column-gap:10px;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      padding:0;
      position:relative;
      row-gap:10px;
      width:100%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iIhRR2eInz81uBh6v {
      color:#0d0d0d;
      display:flex;
      flex-direction:column;
      font-family:Work Sans;
      font-size:16px;
      font-weight:500;
      justify-content:flex-start;
      line-height:1.5;
      margin:0;
      max-width:100%;
      position:relative
    }
    .__instant.iBnCEOqxY1hnOJUKZ .itRYIiTciF2l59pID {
      color:#000;
      display:flex;
      flex-direction:column;
      font-family:"Inter", sans-serif;
      font-size:12px;
      font-weight:300;
      justify-content:flex-start;
      max-width:100%;
      position:relative
    }
    .__instant.iBnCEOqxY1hnOJUKZ .i9qi4zL46Xq5PdK3Q {
      align-items:flex-start;
      column-gap:8px;
      display:flex;
      flex-direction:row;
      justify-content:flex-start;
      position:relative;
      row-gap:8px;
      width:100%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .ibIHr5ay020aQxHRp {
      color:#000;
      display:flex;
      flex-direction:column;
      font-family:Work Sans;
      font-size:14px;
      font-weight:400;
      justify-content:flex-start;
      line-height:1.5;
      margin:0;
      max-width:100%;
      position:relative
    }
    .__instant.iBnCEOqxY1hnOJUKZ .irssZ7FVT3xrJgrlL {
      align-items:center;
      align-self:stretch;
      background:#0d0d0d;
      border-radius:10px 10px 10px 10px;
      border-width:0;
      column-gap:10px;
      display:flex;
      flex-direction:row;
      flex-wrap:nowrap;
      height:auto;
      justify-content:center;
      margin:0;
      padding:12px 20px;
      position:relative;
      row-gap:10px;
      transition-duration:125ms;
      transition-property:color,background-color,fill,opacity,transform,border,box-shadow,left;
      transition-timing-function:ease-in-out
    }
    .__instant.iBnCEOqxY1hnOJUKZ .irssZ7FVT3xrJgrlL:hover {
      background:#393939
    }
    .__instant.iBnCEOqxY1hnOJUKZ .irssZ7FVT3xrJgrlL .instant-fill {
      transition-duration:125ms;
      transition-property:opacity;
      transition-timing-function:ease-in-out
    }
    .__instant.iBnCEOqxY1hnOJUKZ .irssZ7FVT3xrJgrlL:hover .instant-fill[data-trigger=hover] {
      opacity:1
    }
    .__instant.iBnCEOqxY1hnOJUKZ .irssZ7FVT3xrJgrlL:hover .instant-fill:not([data-trigger=hover]) {
      opacity:0
    }
    .__instant.iBnCEOqxY1hnOJUKZ .i0eywLYVch9jVNNKv {
      color:#fff;
      display:flex;
      flex-direction:column;
      font-family:Work Sans;
      font-size:14px;
      font-weight:400;
      justify-content:flex-start;
      line-height:1.5;
      position:relative
    }
    @media (max-width:1024px) {
      .__instant.iBnCEOqxY1hnOJUKZ .ioZAKAEUJr38rtwG6 {
      align-self:stretch;
      flex-basis:100px;
      flex-grow:1;
      flex-shrink:1;
      height:auto;
      min-width:0;
      padding:80px 0 80px 40px;
      width:auto
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iDLtKJxjX1T5ce3QZ {
      padding:0 40px 0 0
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iBfn4uc6kjDt8gkGx {
      max-width:100%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iDtevJQfPEz0QF5ic {
      flex-basis:100px
    }
    }@media (max-width:768px) {
      .__instant.iBnCEOqxY1hnOJUKZ .is7x2uTamaHRCno2G {
      flex-direction:column
    }
    .__instant.iBnCEOqxY1hnOJUKZ .ioZAKAEUJr38rtwG6 {
      align-self:stretch;
      flex-basis:auto;
      flex-grow:0;
      flex-shrink:1;
      height:auto;
      width:auto
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iDtevJQfPEz0QF5ic {
      align-self:stretch;
      aspect-ratio:1/1;
      flex-basis:auto;
      flex-grow:0;
      flex-shrink:1;
      height:auto;
      width:auto
    }
    }@media (max-width:575px) {
      .__instant.iBnCEOqxY1hnOJUKZ .is7x2uTamaHRCno2G {
      flex-direction:column;
      height:auto
    }
    .__instant.iBnCEOqxY1hnOJUKZ .ioZAKAEUJr38rtwG6 {
      align-self:stretch;
      flex-basis:auto;
      flex-grow:0;
      flex-shrink:1;
      height:auto;
      padding:40px 0 40px 20px;
      width:auto
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iDLtKJxjX1T5ce3QZ {
      padding:0 20px 0 0;
      width:100%
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iDtevJQfPEz0QF5ic {
      align-self:stretch;
      aspect-ratio:1/1;
      flex-basis:auto;
      flex-grow:0;
      flex-shrink:1;
      height:auto;
      width:auto
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iImW31AoFmGjKt2o3 {
      align-self:stretch;
      margin:0;
      width:auto
    }
    .__instant.iBnCEOqxY1hnOJUKZ .iZqJB2rpnG1Wy5niN {
      flex-basis:32px;
      flex-grow:272;
      flex-shrink:1;
      height:auto
    }
    .__instant.iBnCEOqxY1hnOJUKZ .irssZ7FVT3xrJgrlL {
      align-self:stretch;
      width:auto
    }
    .__instant.iBnCEOqxY1hnOJUKZ .i0eywLYVch9jVNNKv {
      line-height:1.5
    }
    }
  {%- endstyle -%}
  <!--  -->
  {% comment %} {{ 'instant-BnCEOqxY1hnOJUKZ.css' | asset_url | stylesheet_tag }} {% endcomment %}
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&amp;family=Work+Sans:wght@400;500&amp;display=swap"
    rel="stylesheet"
  >
  <div data-instant-type="root" class="iD9xsRkw16ShI8wSL">
    {%- liquid
      assign loading = 'eager'
      assign fetchpriority = 'auto'
      if section.location == 'footer'
        assign loading = 'lazy'
      elsif section.location == 'header'
        assign fetchpriority = 'high'
      elsif section.location == 'template'
        if section.index == 1
          assign fetchpriority = 'high'
        elsif section.index > 2
          assign loading = 'lazy'
        endif
      endif
    -%}
    <div class="is7x2uTamaHRCno2G" data-instant-type="container" id="is7x2uTamaHRCno2G">
      {% if section.settings.image_s7x2uTamaHRCno2G and section.settings.image_s7x2uTamaHRCno2G != blank %}
        {{
          section.settings.image_s7x2uTamaHRCno2G
          | image_url: width: 1280
          | image_tag:
            class: 'instant-fill instant-image__fill',
            alt: section.settings.image_s7x2uTamaHRCno2G.alt,
            fetchpriority: fetchpriority,
            loading: loading,
            decoding: 'async'
        }}
      {% else %}
        <img
          alt=""
          sizes="(max-width: 1280px) 100vw, 1280px"
          srcSet="https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/d8ulvw9ljoJBoEtY/brent-olson-5savyhznxxo-unsplash-1.png?width=1080 1080w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/d8ulvw9ljoJBoEtY/brent-olson-5savyhznxxo-unsplash-1.png?width=828 828w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/d8ulvw9ljoJBoEtY/brent-olson-5savyhznxxo-unsplash-1.png?width=750 750w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/d8ulvw9ljoJBoEtY/brent-olson-5savyhznxxo-unsplash-1.png?width=640 640w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/d8ulvw9ljoJBoEtY/brent-olson-5savyhznxxo-unsplash-1.png?width=360 360w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/d8ulvw9ljoJBoEtY/brent-olson-5savyhznxxo-unsplash-1.png?width=1280 1280w"
          src="https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/d8ulvw9ljoJBoEtY/brent-olson-5savyhznxxo-unsplash-1.png?width=1280"
          width="2880"
          height="1190"
          class="instant-fill instant-image__fill"
          style="object-fit:cover"
          decoding="async"
          fetchpriority="{{ fetchpriority }}"
          loading="{{ loading }}"
        >
      {% endif %}
      <div class="ioZAKAEUJr38rtwG6" data-instant-type="container">
        <div class="ieEuDUG3e9WUmueTe" data-instant-type="container">
          <div class="iDLtKJxjX1T5ce3QZ" data-instant-type="container">
            <div data-instant-type="text" class="instant-rich-text iDSl68e91snXiXdks">
              <div>{{ section.settings.text_DSl68e91snXiXdks }}</div>
            </div>
            <div data-instant-type="text" class="instant-rich-text iBfn4uc6kjDt8gkGx">
              <div>{{ section.settings.text_Bfn4uc6kjDt8gkGx }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="iDtevJQfPEz0QF5ic" data-instant-type="container">
        <div class="iImW31AoFmGjKt2o3" data-instant-type="container">
          <div class="iZqJB2rpnG1Wy5niN" data-instant-type="container">
            {% if section.settings.image_ZqJB2rpnG1Wy5niN
              and section.settings.image_ZqJB2rpnG1Wy5niN != blank
            %}
              {{
                section.settings.image_ZqJB2rpnG1Wy5niN
                | image_url: width: 1280
                | image_tag:
                  class: 'instant-fill instant-image__fill',
                  alt: section.settings.image_ZqJB2rpnG1Wy5niN.alt,
                  fetchpriority: fetchpriority,
                  loading: loading,
                  decoding: 'async'
              }}
            {% else %}
              <img
                alt=""
                sizes="(max-width: 1280px) 100vw, 1280px"
                srcSet="https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Drye-glove.jpg?v=1733486231?width=1080 1080w, https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Drye-glove.jpg?v=1733486231?width=828 828w, https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Drye-glove.jpg?v=1733486231?width=750 750w, https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Drye-glove.jpg?v=1733486231?width=640 640w, https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Drye-glove.jpg?v=1733486231?width=360 360w, https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Drye-glove.jpg?v=1733486231?width=1280 1280w"
                src="https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Drye-glove.jpg?v=1733486231?width=1280"
                width="2000"
                height="2000"
                class="instant-fill instant-image__fill"
                style="object-fit:cover"
                decoding="async"
                fetchpriority="{{ fetchpriority }}"
                loading="{{ loading }}"
              >
            {% endif %}
          </div>
          <div class="iN6Bs3Vpx1xjwlFrE" data-instant-type="container">
            <div data-instant-type="text" class="instant-rich-text iIhRR2eInz81uBh6v">
              <div>{{ section.settings.text_IhRR2eInz81uBh6v }}</div>
            </div>
            <div data-instant-type="text" class="instant-rich-text itRYIiTciF2l59pID">
              <div>{{ section.settings.text_tRYIiTciF2l59pID }}</div>
            </div>
            <div class="i9qi4zL46Xq5PdK3Q" data-instant-type="container">
              <div data-instant-type="text" class="instant-rich-text ibIHr5ay020aQxHRp">
                <div>{{ section.settings.text_bIHr5ay020aQxHRp }}</div>
              </div>
            </div>
            <a
              class="irssZ7FVT3xrJgrlL"
              data-instant-type="container"
              href="{{ section.settings.url_rssZ7FVT3xrJgrlL | default: 'https://drye.se/products/drye-sweatguard-liner-1' }}"
              rel="noopener noreferrer"
            >
              <div data-instant-type="text" class="instant-rich-text i0eywLYVch9jVNNKv">
                <div>{{ section.settings.text_0eywLYVch9jVNNKv }}</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Product-section-image",
  "tag": "section",
  "enabled_on": { "templates": ["*"] },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_s7x2uTamaHRCno2G",
      "label": "Container"
    },
    {
      "type": "richtext",
      "id": "text_DSl68e91snXiXdks",
      "label": "Text",
      "default": "<h3>DRYE SweatGuard Liner™</h3>"
    },
    {
      "type": "richtext",
      "id": "text_Bfn4uc6kjDt8gkGx",
      "label": "Text",
      "default": "<p>Whether you’re in healthcare, mechanical work, or in sports that requires you to wear gloves for hours, this glove liner has you covered. Every detail is designed to meet the demands of your busy day, ensuring you stay comfortable and focused on your tasks.</p>"
    },
    {
      "type": "image_picker",
      "id": "image_ZqJB2rpnG1Wy5niN",
      "label": "Product image "
    },
    {
      "type": "richtext",
      "id": "text_IhRR2eInz81uBh6v",
      "label": "Text",
      "default": "<h3>DRYE SweatGuard Liner™</h3>"
    },
    {
      "type": "richtext",
      "id": "text_tRYIiTciF2l59pID",
      "label": "Text",
      "default": "<p>The new innovative glove liner that protects your hands against sweat and itching while providing superior comfort, precision, and durability.</p>"
    },
    {
      "type": "richtext",
      "id": "text_bIHr5ay020aQxHRp",
      "label": "Text",
      "default": "<h3>399 SEK</h3>"
    },
    {
      "type": "url",
      "id": "url_rssZ7FVT3xrJgrlL",
      "label": "Button URL"
    },
    {
      "type": "richtext",
      "id": "text_0eywLYVch9jVNNKv",
      "label": "Text",
      "default": "<p>Buy now</p>"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Product-section-image",
      "settings": {
        "text_DSl68e91snXiXdks": "<h3>DRYE SweatGuard Liner™</h3>",
        "text_Bfn4uc6kjDt8gkGx": "<p>Whether you’re in healthcare, mechanical work, or in sports that requires you to wear gloves for hours, this glove liner has you covered. Every detail is designed to meet the demands of your busy day, ensuring you stay comfortable and focused on your tasks.</p>",
        "text_IhRR2eInz81uBh6v": "<h3>DRYE SweatGuard Liner™</h3>",
        "text_tRYIiTciF2l59pID": "<p>The new innovative glove liner that protects your hands against sweat and itching while providing superior comfort, precision, and durability.</p>",
        "text_bIHr5ay020aQxHRp": "<h3>399 SEK</h3>",
        "url_rssZ7FVT3xrJgrlL": "https://drye.se/products/drye-sweatguard-liner-1",
        "text_0eywLYVch9jVNNKv": "<p>Buy now</p>"
      }
    }
  ]
}
{% endschema %}
