<div class="__instant i335PDBnzDQJYBt11" data-instant-id="335PDBnzDQJYBt11" data-instant-version="3.0.5" data-instant-layout="SECTION" data-section-id="{{ section.id }}">
  {%- style -%}
    .__instant[data-section-id='{{ section.id }}'] div[data-instant-type='root'] {
    	padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    	padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 769px) {
    	.__instant[data-section-id='{{ section.id }}'] div[data-instant-type='root'] {
    		padding-top: {{ section.settings.padding_top }}px;
    		padding-bottom: {{ section.settings.padding_bottom }}px;
    	}
    }

.__instant.i335PDBnzDQJYBt11 .instant-rich-text h3{
      color:#fff!important;
    }
    .__instant.i335PDBnzDQJYBt11 .i1mET8I4PDke3FAFP{

     background: #313131!important;
      
    }

.instant-rich-text h3{
font-family: 'ClashGrotesk-Variable'!important; 
      font-weight: 300!important
      
    }
    /* Ensure overlays and text are always visible */
.iQqulRy3pXkFSixV1,
.iiyWUOXteFJVr6bhq,
.ivVj109Eo4RwFZac8,
.iliEUWgFyWuvqx0xV {
    opacity: 1 !important; /* Force visibility */
    transition: none !important; /* Disable animations */
}

/* Remove hover effects entirely */
.iLgQZEL0untyA5o35:hover .iQqulRy3pXkFSixV1,
.i8VZDxBPoVJYVqlZF:hover .iiyWUOXteFJVr6bhq,
.ijPCgoWjCv7oy1rru:hover .ivVj109Eo4RwFZac8,
.i6nhYUPajvTZMlzAj:hover .iliEUWgFyWuvqx0xV {
    opacity: 1 !important;
}


    .__instant.i335PDBnzDQJYBt11 *,.__instant.i335PDBnzDQJYBt11:after,.__instant.i335PDBnzDQJYBt11:before {
  border:0 solid;
  box-sizing:border-box
}

    .__instant.iInDXZg9fEqvWliPj .icujx8mnQ7xI2HfNx {
      font-weight: 300;
    }
.__instant {
  display:flex;
  flex:1;
  flex-direction:column;
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  letter-spacing:normal;
  line-height:1.15;
  -webkit-text-size-adjust:100%;
  -moz-tab-size:4;
  tab-size:4
}
.__instant.i335PDBnzDQJYBt11 hr {
  border-top-width:1px;
  color:inherit;
  height:0
}
.__instant.i335PDBnzDQJYBt11 abbr[title] {
  text-decoration:underline dotted
}
.__instant.i335PDBnzDQJYBt11 h1,.__instant.i335PDBnzDQJYBt11 h2,.__instant.i335PDBnzDQJYBt11 h3,.__instant.i335PDBnzDQJYBt11 h4,.__instant.i335PDBnzDQJYBt11 h5,.__instant.i335PDBnzDQJYBt11 h6 {
  font-size:inherit;
  font-weight:inherit
}
.__instant.i335PDBnzDQJYBt11 a {
  color:inherit;
  text-decoration:inherit
}
.__instant.i335PDBnzDQJYBt11 b,.__instant.i335PDBnzDQJYBt11 strong {
  font-weight:bolder
}
.__instant.i335PDBnzDQJYBt11 small {
  font-size:80%
}
.__instant.i335PDBnzDQJYBt11 sub,.__instant.i335PDBnzDQJYBt11 sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}
.__instant.i335PDBnzDQJYBt11 sub {
  bottom:-.25em
}
.__instant.i335PDBnzDQJYBt11 sup {
  top:-.5em
}
.__instant.i335PDBnzDQJYBt11 table {
  border-collapse:collapse;
  border-color:inherit;
  text-indent:0
}
.__instant.i335PDBnzDQJYBt11 button,.__instant.i335PDBnzDQJYBt11 input,.__instant.i335PDBnzDQJYBt11 optgroup,.__instant.i335PDBnzDQJYBt11 select,.__instant.i335PDBnzDQJYBt11 textarea {
  color:inherit;
  font-family:inherit!important;
  font-size:100%;
  line-height:inherit;
  margin:0;
  padding:0
}

.__instant.i335PDBnzDQJYBt11 button,.__instant.i335PDBnzDQJYBt11 select {
  text-transform:none
}
.__instant.i335PDBnzDQJYBt11 [type=button],.__instant.i335PDBnzDQJYBt11 [type=reset],.__instant.i335PDBnzDQJYBt11 [type=submit],.__instant.i335PDBnzDQJYBt11 button {
  -webkit-appearance:none;
  background-color:transparent;
  background-image:none
}
.__instant.i335PDBnzDQJYBt11:-moz-focusring {
  outline:auto
}
.__instant.i335PDBnzDQJYBt11:-moz-ui-invalid {
  box-shadow:none
}
.__instant.i335PDBnzDQJYBt11 progress {
  vertical-align:baseline
}
.__instant.i335PDBnzDQJYBt11::-webkit-inner-spin-button,.__instant.i335PDBnzDQJYBt11::-webkit-outer-spin-button {
  height:auto
}
.__instant.i335PDBnzDQJYBt11 [type=search] {
  -webkit-appearance:textfield;
  outline-offset:-2px
}
.__instant.i335PDBnzDQJYBt11::-webkit-search-decoration {
  -webkit-appearance:none
}
.__instant.i335PDBnzDQJYBt11::-webkit-file-upload-button {
  -webkit-appearance:button;
  font:inherit
}
.__instant.i335PDBnzDQJYBt11 summary {
  display:list-item
}
.__instant.i335PDBnzDQJYBt11 blockquote,.__instant.i335PDBnzDQJYBt11 dd,.__instant.i335PDBnzDQJYBt11 dl,.__instant.i335PDBnzDQJYBt11 figure,.__instant.i335PDBnzDQJYBt11 h1,.__instant.i335PDBnzDQJYBt11 h2,.__instant.i335PDBnzDQJYBt11 h3,.__instant.i335PDBnzDQJYBt11 h4,.__instant.i335PDBnzDQJYBt11 h5,.__instant.i335PDBnzDQJYBt11 h6,.__instant.i335PDBnzDQJYBt11 hr,.__instant.i335PDBnzDQJYBt11 p,.__instant.i335PDBnzDQJYBt11 pre {
  margin:0
}
.__instant.i335PDBnzDQJYBt11 fieldset {
  margin:0;
  padding:0
}
.__instant.i335PDBnzDQJYBt11 legend {
  padding:0
}
.__instant.i335PDBnzDQJYBt11 ol,.__instant.i335PDBnzDQJYBt11 ul {
  list-style:none;
  margin:0;
  padding:0
}
.__instant.i335PDBnzDQJYBt11 textarea {
  resize:vertical
}
.__instant.i335PDBnzDQJYBt11 input::placeholder,.__instant.i335PDBnzDQJYBt11 textarea::placeholder {
  color:inherit;
  opacity:1
}
.__instant.i335PDBnzDQJYBt11 [role=button],.__instant.i335PDBnzDQJYBt11 button {
  cursor:pointer
}
.__instant.i335PDBnzDQJYBt11:disabled {
  cursor:default
}
.__instant.i335PDBnzDQJYBt11 audio,.__instant.i335PDBnzDQJYBt11 canvas,.__instant.i335PDBnzDQJYBt11 embed,.__instant.i335PDBnzDQJYBt11 iframe,.__instant.i335PDBnzDQJYBt11 img,.__instant.i335PDBnzDQJYBt11 object,.__instant.i335PDBnzDQJYBt11 svg,.__instant.i335PDBnzDQJYBt11 video {
  display:block;
  vertical-align:middle
}
.__instant.i335PDBnzDQJYBt11 img,.__instant.i335PDBnzDQJYBt11 video {
  height:auto;
  max-width:100%
}
.__instant.i335PDBnzDQJYBt11 [hidden] {
  display:none
}
.__instant {
  --instant-overflow-clip:clip
}
.__instant.i335PDBnzDQJYBt11 .instant-editor__link,.__instant.i335PDBnzDQJYBt11 .instant-rich-text a {
  text-decoration:underline
}
.__instant.i335PDBnzDQJYBt11 .instant-rich-text,.__instant.i335PDBnzDQJYBt11 .instant-rich-text h1,.__instant.i335PDBnzDQJYBt11 .instant-rich-text h2,.__instant.i335PDBnzDQJYBt11 .instant-rich-text h3,.__instant.i335PDBnzDQJYBt11 .instant-rich-text h4,.__instant.i335PDBnzDQJYBt11 .instant-rich-text h5,.__instant.i335PDBnzDQJYBt11 .instant-rich-text h6,.__instant.i335PDBnzDQJYBt11 .instant-rich-text p,.__instant.i335PDBnzDQJYBt11 [data-instant-dynamic-content-source^=COUNTDOWN_] span {
  background:var(--instant-text-color-gradient);
  background-clip:var(--instant-text-color-clip);
  color:inherit;
  display:block;
  font-family:inherit!important;
  font-size:inherit;
  font-style:inherit;
  font-weight:inherit;
  letter-spacing:inherit;
  line-height:inherit;
  overflow-wrap:inherit;
  text-decoration:inherit;
  text-transform:inherit;
  text-wrap:inherit;
  word-break:inherit;
  -webkit-text-fill-color:var(--instant-text-color-fill)
}
.__instant.i335PDBnzDQJYBt11 .instant-rich-text h1:before,.__instant.i335PDBnzDQJYBt11 .instant-rich-text h2:before,.__instant.i335PDBnzDQJYBt11 .instant-rich-text h3:before,.__instant.i335PDBnzDQJYBt11 .instant-rich-text h4:before,.__instant.i335PDBnzDQJYBt11 .instant-rich-text h5:before,.__instant.i335PDBnzDQJYBt11 .instant-rich-text h6:before,.__instant.i335PDBnzDQJYBt11 .instant-rich-text p:before {
  content:"\200B"
}
.__instant.i335PDBnzDQJYBt11 .instant-rich-text ol,.__instant.i335PDBnzDQJYBt11 .instant-rich-text ul {
  list-style:revert;
  padding-left:1.5em
}
.__instant.i335PDBnzDQJYBt11 .instant-visually-hidden {
  border:0;
  clip-path:inset(100%);
  height:1px;
  margin:-1px;
  padding:0;
  position:absolute;
  white-space:nowrap;
  width:1px;
  clip:rect(0,0,0,0);
  outline:0;
  outline-offset:unset;
  overflow:hidden
}
.__instant.i335PDBnzDQJYBt11 a[data-instant-disabled=true]:not(.instant-custom-variant-picker),.__instant.i335PDBnzDQJYBt11 button[data-instant-disabled=true]:not(.instant-custom-variant-picker) {
  cursor:not-allowed
}
.__instant.i335PDBnzDQJYBt11 .instant-variant-picker input[type=radio] {
  clip:rect(0,0,0,0);
  height:1px;
  overflow:hidden;
  position:absolute;
  width:1px
}
.__instant.i335PDBnzDQJYBt11 .instant-custom-variant-picker,.__instant.i335PDBnzDQJYBt11 .instant-variant-picker input[type=radio]+label,.__instant.i335PDBnzDQJYBt11 .instant-variant-picker select {
  cursor:pointer
}
.__instant.i335PDBnzDQJYBt11 .instant-variant-picker input[type=radio]+label:before {
  bottom:-1px;
  content:"";
  left:-1px;
  position:absolute;
  right:-1px;
  top:-1px;
  z-index:-1
}
.__instant.i335PDBnzDQJYBt11 .instant-variant-picker--select select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border:0;
  height:100%;
  left:0;
  opacity:0;
  outline:none;
  overflow:hidden;
  padding:inherit;
  position:absolute;
  top:0;
  width:100%
}
.__instant.i335PDBnzDQJYBt11 .instant-variant-picker--select:not(select) {
  pointer-events:none
}
.__instant.i335PDBnzDQJYBt11 .instant-variant-picker--select select:focus {
  outline:none
}
.__instant.i335PDBnzDQJYBt11 .instant-variant-picker--select select:focus-visible {
  box-shadow:none
}
.__instant.i335PDBnzDQJYBt11 .instant-selling-plan-selector {
  cursor:pointer
}
.__instant.i335PDBnzDQJYBt11 .instant-quantity-input {
  -moz-appearance:textfield;
  appearance:textfield;
  background:transparent;
  box-shadow:inherit;
  outline:none;
  outline-offset:unset;
  text-align:center
}
.__instant.i335PDBnzDQJYBt11 .instant-quantity-input::-webkit-inner-spin-button,.__instant.i335PDBnzDQJYBt11 .instant-quantity-input::-webkit-outer-spin-button {
  -webkit-appearance:none;
  margin:0
}
.__instant.i335PDBnzDQJYBt11 .instant-image__fallback {
  background-image:url(https://cdn.instant.so/static/templates/assets/placeholder-image-icon.svg)
}
.__instant.i335PDBnzDQJYBt11 .instant-image__fallback,.__instant.i335PDBnzDQJYBt11 .instant-media__fallback {
  background-color:rgba(0,0,0,.2);
  background-position:50%;
  background-repeat:no-repeat;
  background-size:clamp(0px,calc(100% - 4px),48px) clamp(0px,calc(100% - 4px),48px)
}
.__instant.i335PDBnzDQJYBt11 .instant-video__container {
  overflow:hidden;
  position:relative
}
.__instant.i335PDBnzDQJYBt11 .instant-tiktok__overlay,.__instant.i335PDBnzDQJYBt11 .instant-video__iframe,.__instant.i335PDBnzDQJYBt11 .instant-video__player,.__instant.i335PDBnzDQJYBt11 .instant-video__wrapper {
  background-color:#000;
  background-position:50%;
  background-repeat:no-repeat;
  background-size:cover;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  z-index:1
}
.__instant.i335PDBnzDQJYBt11 .instant-tiktok__overlay {
  opacity:50%
}
.__instant.i335PDBnzDQJYBt11 .instant-video__fallback {
  align-items:center;
  background-color:rgba(0,0,0,.2);
  border-radius:inherit;
  color:#fff;
  display:flex;
  font-size:14px;
  height:100%;
  justify-content:center;
  left:0;
  padding:16px;
  position:absolute;
  top:0;
  width:100%
}
.__instant.i335PDBnzDQJYBt11 .instant-video__fallback-external:before {
  background-color:hsla(0,0%,100%,.2);
  border-radius:99px;
  content:"";
  height:48px;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  width:48px
}
.__instant.i335PDBnzDQJYBt11 .instant-video__fallback-vimeo:before {
  background-color:hsla(0,0%,100%,.2);
  border-radius:4px;
  content:"";
  height:48px;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  width:84px
}
.__instant.i335PDBnzDQJYBt11 .instant-tiktok__fallback-icon {
  background-image:url(https://cdn.instant.so/static/templates/assets/placeholder-tiktok-icon.svg)
}
.__instant.i335PDBnzDQJYBt11 .instant-video__sizer {
  display:block;
  height:auto;
  max-height:100%;
  max-width:100%;
  width:auto
}
.__instant.i335PDBnzDQJYBt11 .instant-video__button {
  border-radius:6px;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  transition:background-color .24s ease-in-out,color .24s ease-in-out,opacity .24s ease-in-out,box-shadow .24s
}
.__instant.i335PDBnzDQJYBt11 .instant-youtube__button {
  color:#212121;
  opacity:.8
}
.__instant.i335PDBnzDQJYBt11 .instant-video__wrapper:hover .instant-youtube__button--red {
  color:#bf171d;
  opacity:1
}
.__instant.i335PDBnzDQJYBt11 .instant-video__wrapper:hover .instant-youtube__button--white {
  color:#fff;
  opacity:1
}
.__instant.i335PDBnzDQJYBt11 .instant-youtube__button-play {
  color:#fff;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  transition:color .24s ease-in-out
}
.__instant.i335PDBnzDQJYBt11 .instant-video__wrapper:hover .instant-youtube__button--white .instant-youtube__button-play {
  color:#212121
}
.__instant.i335PDBnzDQJYBt11 .instant-vimeo__button {
  align-items:center;
  background-color:#000;
  border-radius:4px;
  color:#fff;
  display:flex;
  height:48px;
  justify-content:center;
  width:84px
}
.__instant.i335PDBnzDQJYBt11 .instant-external__button {
  align-items:center;
  background-color:#000;
  border-radius:99px;
  border-style:inset;
  color:#fff;
  display:flex;
  height:48px;
  justify-content:center;
  width:48px
}
.__instant.i335PDBnzDQJYBt11 .instant-video__wrapper:hover .instant-external__button,.__instant.i335PDBnzDQJYBt11 .instant-video__wrapper:hover .instant-vimeo__button {
  background-color:var(--video-button-color);
  color:#000
}
.__instant.i335PDBnzDQJYBt11 .instant-tiktok__button {
  background-image:url(https://cdn.instant.so/static/templates/assets/play-button.svg);
  height:72px;
  width:72px
}
.__instant.i335PDBnzDQJYBt11 .instant-video-fill__wrapper {
  border-radius:inherit;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%
}
.__instant.i335PDBnzDQJYBt11 .instant-video-fill__overlay,.__instant.i335PDBnzDQJYBt11 .instant-video-fill__video {
  border-radius:inherit;
  display:block;
  height:100%;
  left:0;
  object-fit:cover;
  position:absolute;
  top:0;
  width:100%
}
.__instant.i335PDBnzDQJYBt11 .instant-video-fill__controls {
  background-color:#fff;
  border:1px inset rgba(0,0,0,.1);
  border-radius:99px;
  bottom:32px;
  padding:8px;
  position:absolute;
  right:32px
}
@media only screen and (max-width:768px) {
  .__instant.i335PDBnzDQJYBt11 .instant-video-fill__controls {
  bottom:20px;
  right:20px
}
}.__instant.i335PDBnzDQJYBt11 .instant-video-fill__controls .instant-video-fill__pause,.__instant.i335PDBnzDQJYBt11 .instant-video-fill__controls .instant-video-fill__play {
  display:none;
  opacity:0;
  transition:opacity .2s ease-in-out
}
.__instant.i335PDBnzDQJYBt11 .instant-video-fill__wrapper[data-paused=false] .instant-video-fill__controls .instant-video-fill__play,.__instant.i335PDBnzDQJYBt11 .instant-video-fill__wrapper[data-paused=true] .instant-video-fill__controls .instant-video-fill__pause {
  display:block;
  opacity:1
}
.__instant.i335PDBnzDQJYBt11 .instant-slider-horizontal {
  touch-action:pan-y
}
.__instant.i335PDBnzDQJYBt11 .instant-slider-horizontal>.instant-slider-wrapper {
  flex-direction:row
}
.__instant.i335PDBnzDQJYBt11 .instant-slider-vertical {
  touch-action:pan-x
}
.__instant.i335PDBnzDQJYBt11 .instant-slider-vertical>.instant-slider-wrapper {
  flex-direction:column
}
.__instant.i335PDBnzDQJYBt11 .instant-slider-free-mode>.instant-slider-wrapper {
  transition-timing-function:ease-out
}
.__instant.i335PDBnzDQJYBt11 .instant-slider-auto-slides .instant-slider-slide {
  max-width:none;
  min-width:unset
}
.__instant.i335PDBnzDQJYBt11 .instant-slider-thumbs>.instant-slider-wrapper>.instant-slider-slide {
  cursor:pointer
}
.__instant.i335PDBnzDQJYBt11 .instant-slider-wrapper {
  align-items:inherit;
  align-self:stretch;
  box-sizing:content-box;
  display:flex;
  height:inherit;
  order:1;
  transform:translateZ(0);
  transition-property:transform;
  transition-timing-function:ease;
  width:100%
}
.__instant.i335PDBnzDQJYBt11 .instant-slider-slide {
  flex-shrink:0;
  transition-property:transform
}
.__instant.i335PDBnzDQJYBt11 .instant-slider-button-disabled:not(.__instant_builder_element) {
  opacity:.35
}
.__instant.i335PDBnzDQJYBt11 .instant-slider-button-lock {
  display:none!important
}
.__instant.i335PDBnzDQJYBt11 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active,.__instant.i335PDBnzDQJYBt11 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-main {
  display:flex;
  transform:scale(1)
}
.__instant.i335PDBnzDQJYBt11 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-next,.__instant.i335PDBnzDQJYBt11 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-prev {
  display:flex;
  transform:scale(.66)
}
.__instant.i335PDBnzDQJYBt11 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-next-next,.__instant.i335PDBnzDQJYBt11 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-prev-prev {
  display:flex;
  transform:scale(.33)
}
.__instant.i335PDBnzDQJYBt11 .instant-slider-pagination-bullet {
  cursor:pointer;
  flex-shrink:0
}
@keyframes instant-loading-__instant-i335PDBnzDQJYBt11 {
  0% {
  opacity:1
}
50% {
  opacity:.7
}
to {
  opacity:1
}
}.__instant.i335PDBnzDQJYBt11 .instant-loading {
  animation:instant-loading-__instant-i335PDBnzDQJYBt11 1s infinite
}
.__instant.i335PDBnzDQJYBt11 .instant-image__main {
  aspect-ratio:inherit;
  border-radius:inherit;
  height:100%;
  max-height:inherit;
  object-fit:inherit;
  object-position:inherit;
  width:100%
}
@media only screen and (min-width:1025px) {
  .__instant.i335PDBnzDQJYBt11 .instant-responsive:not(.instant-responsive--desktop) {
  display:none
}
}@media only screen and (min-width:769px) and (max-width:1024px) {
  .__instant.i335PDBnzDQJYBt11 .instant-responsive:not(.instant-responsive--laptop) {
  display:none
}
}@media only screen and (min-width:576px) and (max-width:768px) {
  .__instant.i335PDBnzDQJYBt11 .instant-responsive:not(.instant-responsive--tablet) {
  display:none
}
}@media only screen and (max-width:575px) {
  .__instant.i335PDBnzDQJYBt11 .instant-responsive:not(.instant-responsive--mobile) {
  display:none
}
}.__instant.i335PDBnzDQJYBt11 .instant-icon,.__instant.i335PDBnzDQJYBt11 .instant-image__fill {
  border-radius:20px;
  height:100%;
  left:0;
  object-fit:cover;
  position:absolute;
  top:0;
  width:100%
}
.__instant.i335PDBnzDQJYBt11 .instant-fill[data-trigger],.__instant.i335PDBnzDQJYBt11 .instant-icon[data-trigger],.__instant.i335PDBnzDQJYBt11 .instant-image[data-trigger] {
  opacity:0
}
.__instant.i335PDBnzDQJYBt11 .instant-icon,.__instant.i335PDBnzDQJYBt11 .instant-image__main {
  transition-delay:inherit;
  transition-duration:inherit;
  transition-property:opacity;
  transition-timing-function:inherit
}
.__instant.i335PDBnzDQJYBt11 div[href],.__instant.i335PDBnzDQJYBt11 form[href] {
  cursor:pointer
}
.__instant.i335PDBnzDQJYBt11 .instant-ticker-container {
  display:flex;
  flex-direction:row;
  overflow:hidden;
  position:relative;
  width:100%
}
.__instant.i335PDBnzDQJYBt11 .instant-ticker-container:hover div {
  animation-play-state:var(--pause-on-hover)
}
.__instant.i335PDBnzDQJYBt11 .instant-ticker-container:active div {
  animation-play-state:var(--pause-on-click)
}
@keyframes instant-ticker-instant-scroll-__instant-i335PDBnzDQJYBt11 {
  0% {
  transform:translateZ(0)
}
to {
  transform:translate3d(calc(-100% - var(--gap)),0,0)
}
}.__instant.i335PDBnzDQJYBt11 .instant-ticker {
  animation:instant-ticker-instant-scroll-__instant-i335PDBnzDQJYBt11 var(--duration) linear infinite;
  animation-delay:0s;
  animation-direction:var(--direction);
  animation-play-state:var(--play);
  transform:translateZ(0)
}
.__instant.i335PDBnzDQJYBt11 .instant-ticker,.__instant.i335PDBnzDQJYBt11 .instant-ticker-initial-child-container {
  align-items:inherit;
  column-gap:inherit;
  display:flex;
  flex:0 0 auto;
  flex-direction:row;
  min-width:auto
}
.__instant.i335PDBnzDQJYBt11 .instant-scroll--transform,.__instant.i335PDBnzDQJYBt11 .instant-scroll--transform-fade {
  transform:var(--instant-scroll-from-translate,var(--instant-scroll-to-translate,translate(0,0))) var(--instant-scroll-from-scale,var(--instant-scroll-to-scale,scale(1))) var(--instant-scroll-to-rotate,rotateZ(0)) var(--instant-scroll-from-rotate,rotateX(0) rotateY(0))
}
.__instant.i335PDBnzDQJYBt11 .instant-scroll--fade,.__instant.i335PDBnzDQJYBt11 .instant-scroll--fade:not(.instant-scroll-trigger--hidden),.__instant.i335PDBnzDQJYBt11 .instant-scroll--transform-fade:not(.instant-scroll-trigger--hidden),.__instant.i335PDBnzDQJYBt11 .instant-scroll--transform:not(.instant-scroll-trigger--hidden) {
  transform:var(--instant-scroll-to-translate,translate(0,0)) var(--instant-scroll-to-scale,scale(1)) var(--instant-scroll-to-rotate,rotate(0))
}
.__instant.i335PDBnzDQJYBt11 .instant-scroll--fade,.__instant.i335PDBnzDQJYBt11 .instant-scroll--transform-fade {
  opacity:0
}
.__instant.i335PDBnzDQJYBt11 .instant-scroll--fade:not(.instant-scroll-trigger--hidden),.__instant.i335PDBnzDQJYBt11 .instant-scroll--transform-fade:not(.instant-scroll-trigger--hidden) {
  opacity:1
}
.__instant.i335PDBnzDQJYBt11 .iIhUZyquttRHv2Hmm {
  align-items:center;
  background:#fff;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  overflow:var(--instant-overflow-clip,hidden);
  position:relative
}
.__instant.i335PDBnzDQJYBt11 .iPKzSh5XQLSN6HC6l {
  align-items:flex-start;
  column-gap:32px;
  justify-content:flex-start;
  padding:0;
  row-gap:32px
}
.__instant.i335PDBnzDQJYBt11 .i1mET8I4PDke3FAFP,.__instant.i335PDBnzDQJYBt11 .iPKzSh5XQLSN6HC6l {
  border-radius:20px 20px 20px 20px;
  display:flex;
  flex-direction:column;
  height:auto;
  min-height:200px;
  position:relative;
  width:100%
}
.__instant.i335PDBnzDQJYBt11 .i1mET8I4PDke3FAFP {
  align-items:center;
  background:linear-gradient(0deg,#d2d2d2,#e5e5e5);
  column-gap:20px;
  justify-content:flex-end;
  overflow:var(--instant-overflow-clip,hidden);
  padding:32px;
  row-gap:20px
}
.__instant.i335PDBnzDQJYBt11 .ibPxYvHjpu7i2Rhzs {
  align-items:center;
  align-self:stretch;
  column-gap:0;
  display:flex;
  flex-direction:row;
  height:auto;
  justify-content:space-between;
  padding:20px 0;
  position:relative
}
.__instant.i335PDBnzDQJYBt11 .ilEuLAdatEvoP84wI {
  color:#000;
  display:flex;
  flex-direction:column;
 font-family:inherit!important;
  font-size:36px;
  font-weight:500;
  justify-content:flex-start;
  letter-spacing:-.03em;
  line-height:1.2;
  margin:0;
  position:relative;
  width:auto
}
.__instant.i335PDBnzDQJYBt11 .iA4Xuiga8sNIHWFGV {
  align-items:flex-start;
  column-gap:24px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  padding:0;
  position:relative;
  row-gap:24px;
  width:100%
}
.__instant.i335PDBnzDQJYBt11 .iUUeozJI0pShAypRW {
  align-items:stretch;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  overflow:visible;
  position:relative;
  width:100%
}
.__instant.i335PDBnzDQJYBt11 .iLgQZEL0untyA5o35 {
  align-items:flex-start;
  border-radius:16px 16px 16px 16px;
  column-gap:12px;
  display:flex;
  flex-direction:column;
  height:550px;
  justify-content:space-between;
  margin-right:14px;
  padding:0;
  position:relative;
  row-gap:12px;
  transition-duration:.5s;
  transition-property:color,background-color,fill,opacity,transform,border,box-shadow,left;
  transition-timing-function:ease-in-out;
  width:350px
}
.__instant.i335PDBnzDQJYBt11 .iQqulRy3pXkFSixV1 {
  align-items:center;
  background:rgba(0,0,0,.4);
  border-radius:20px 20px 20px 20px;
  column-gap:32px;
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:center;
  min-height:200px;
  opacity:0;
  padding:32px;
  position:relative;
  row-gap:32px;
  transition-duration:.5s;
  transition-property:color,background-color,fill,opacity,transform,border,box-shadow,left;
  transition-timing-function:ease-in-out;
  width:100%
}
.__instant.i335PDBnzDQJYBt11 .iLgQZEL0untyA5o35:hover .iQqulRy3pXkFSixV1,.__instant.i335PDBnzDQJYBt11 .iQqulRy3pXkFSixV1:hover {
  opacity:1
}
.__instant.i335PDBnzDQJYBt11 .iz2wAU8PgeqRiVYdW,
.__instant.i335PDBnzDQJYBt11 .igpD8MlBbUz023Mgy,
.__instant.i335PDBnzDQJYBt11 .icVVmSo7YUvqPvUnR,
.__instant.i335PDBnzDQJYBt11 .iFt6aU3dyLQhy6I7p {
    align-self: stretch;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 20px;
    font-weight: 400;
    justify-content: flex-start; /* Text aligns at the top */
    letter-spacing: -.03em;
    line-height: 1.3;
    margin: 0;
    max-width: 560px;
    height: 100px; /* Fixed height for consistency */
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: left;
    overflow: hidden; /* Ensures overflow text doesn’t affect layout */
}



.__instant.i335PDBnzDQJYBt11 .i8VZDxBPoVJYVqlZF {
  align-items:flex-start;
  border-radius:16px 16px 16px 16px;
  column-gap:12px;
  display:flex;
  flex-direction:column;
  height:400px;
  justify-content:space-between;
  margin-right:24px;
  padding:0;
  position:relative;
  row-gap:12px;
  transition-duration:.5s;
  transition-property:color,background-color,fill,opacity,transform,border,box-shadow,left;
  transition-timing-function:ease-in-out;
  width:400px
}
.__instant.i335PDBnzDQJYBt11 .iiyWUOXteFJVr6bhq {
  align-items:center;
  background:rgba(0,0,0,.4);
  border-radius:20px 20px 20px 20px;
  column-gap:32px;
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:center;
  min-height:200px;
  opacity:0;
  padding:32px;
  position:relative;
  row-gap:32px;
  transition-duration:.5s;
  transition-property:color,background-color,fill,opacity,transform,border,box-shadow,left;
  transition-timing-function:ease-in-out;
  width:100%
}
.__instant.i335PDBnzDQJYBt11 .i8VZDxBPoVJYVqlZF:hover .iiyWUOXteFJVr6bhq,.__instant.i335PDBnzDQJYBt11 .iiyWUOXteFJVr6bhq:hover {
  opacity:1
}

.__instant.i335PDBnzDQJYBt11 .ijPCgoWjCv7oy1rru {
  align-items:flex-start;
  border-radius:16px 16px 16px 16px;
  column-gap:12px;
  display:flex;
  flex-direction:column;
  height:400px;
  justify-content:space-between;
  margin-right:24px;
  padding:0;
  position:relative;
  row-gap:12px;
  transition-duration:.5s;
  transition-property:color,background-color,fill,opacity,transform,border,box-shadow,left;
  transition-timing-function:ease-in-out;
  width:400px
}
.__instant.i335PDBnzDQJYBt11 .ivVj109Eo4RwFZac8 {
  align-items:center;
  background:rgba(0,0,0,.4);
  border-radius:20px 20px 20px 20px;
  column-gap:32px;
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:center;
  min-height:200px;
  opacity:0;
  padding:32px;
  position:relative;
  row-gap:32px;
  transition-duration:.5s;
  transition-property:color,background-color,fill,opacity,transform,border,box-shadow,left;
  transition-timing-function:ease-in-out;
  width:100%
}
.__instant.i335PDBnzDQJYBt11 .ijPCgoWjCv7oy1rru:hover .ivVj109Eo4RwFZac8,.__instant.i335PDBnzDQJYBt11 .ivVj109Eo4RwFZac8:hover {
  opacity:1
}

.__instant.i335PDBnzDQJYBt11 .i6nhYUPajvTZMlzAj {
  align-items:flex-start;
  border-radius:16px 16px 16px 16px;
  column-gap:12px;
  display:flex;
  flex-direction:column;
  height:400px;
  justify-content:space-between;
  margin-right:24px;
  padding:0;
  position:relative;
  row-gap:12px;
  transition-duration:.5s;
  transition-property:color,background-color,fill,opacity,transform,border,box-shadow,left;
  transition-timing-function:ease-in-out;
  width:400px
}
.__instant.i335PDBnzDQJYBt11 .iliEUWgFyWuvqx0xV {
  align-items:center;
  background:rgba(0,0,0,.4);
  border-radius:20px 20px 20px 20px;
  column-gap:32px;
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:center;
  min-height:200px;
  opacity:0;
  padding:32px;
  position:relative;
  row-gap:32px;
  transition-duration:.5s;
  transition-property:color,background-color,fill,opacity,transform,border,box-shadow,left;
  transition-timing-function:ease-in-out;
  width:100%
}
.__instant.i335PDBnzDQJYBt11 .i6nhYUPajvTZMlzAj:hover .iliEUWgFyWuvqx0xV,.__instant.i335PDBnzDQJYBt11 .iliEUWgFyWuvqx0xV:hover {
  opacity:1
}

.__instant.i335PDBnzDQJYBt11 .iJ4b7r1wnPRlwjYsU {
  align-items:flex-start;
  align-self:stretch;
  column-gap:16px;
  display:flex;
  flex-direction:row;
  height:auto;
  justify-content:flex-end;
  margin:0;
  padding:0;
  position:relative;
  row-gap:16px
}
.__instant.i335PDBnzDQJYBt11 .iq2hBLhtYqqv4JLpW {
  align-items:center;
  border:1px solid #000;
  border-radius:20px 20px 20px 20px;
  bottom:auto;
  display:flex;
  flex-direction:row;
  height:40px;
  justify-content:center;
  left:auto;
  margin:0;
  position:relative;
  right:auto;
  top:auto;
  width:40px
}
.__instant.i335PDBnzDQJYBt11 .iIyLc0YczwlyIl0Ko {
  color:#000;
  height:20px;
  position:relative;
  width:20px
}
.__instant.i335PDBnzDQJYBt11 .iJcgiyE4wo25NJ7Ct {
  align-items:center;
  border:1px solid #000;
  border-radius:20px 20px 20px 20px;
  bottom:auto;
  display:flex;
  flex-direction:row;
  height:40px;
  justify-content:center;
  left:auto;
  margin:0;
  position:relative;
  right:auto;
  top:auto;
  width:40px
}
.__instant.i335PDBnzDQJYBt11 .iJXxn2id0Apcx6Pjk {
  color:#000;
  height:20px;
  position:relative;
  width:20px
}
@media (max-width:1024px) {
  .__instant.i335PDBnzDQJYBt11 .i6nhYUPajvTZMlzAj,.__instant.i335PDBnzDQJYBt11 .i8VZDxBPoVJYVqlZF,.__instant.i335PDBnzDQJYBt11 .iLgQZEL0untyA5o35,.__instant.i335PDBnzDQJYBt11 .ijPCgoWjCv7oy1rru {
  margin-right:24px;
  width:calc(33.33333% - 16px)
}
}@media (max-width:768px) {
  .__instant.i335PDBnzDQJYBt11 .ibPxYvHjpu7i2Rhzs {
  align-self:stretch;
  padding:0;
  width:auto
}
.__instant.i335PDBnzDQJYBt11 .iA4Xuiga8sNIHWFGV {
  padding:0
}
.__instant.i335PDBnzDQJYBt11 .iLgQZEL0untyA5o35,.__instant.i335PDBnzDQJYBt11 .i8VZDxBPoVJYVqlZF,.__instant.i335PDBnzDQJYBt11 .ijPCgoWjCv7oy1rru, .__instant.i335PDBnzDQJYBt11 .i6nhYUPajvTZMlzAj,.__instant.i335PDBnzDQJYBt11 .iJ4b7r1wnPRlwjYsU {
  height:450px;
  margin-right:24px;
  width:calc(50% - 12px)
}


}@media (max-width:575px) {
  .__instant.i335PDBnzDQJYBt11 .iPKzSh5XQLSN6HC6l {
  height:auto
}
.__instant.i335PDBnzDQJYBt11 .i1mET8I4PDke3FAFP {
  column-gap:32px;
  flex-direction:column;
  height:auto;
  row-gap:32px
}
.__instant.i335PDBnzDQJYBt11 .ibPxYvHjpu7i2Rhzs {
  align-self:stretch;
  column-gap:16px;
  flex-direction:column;
  height:auto;
  row-gap:16px;
  width:auto
}
.__instant.i335PDBnzDQJYBt11 .iA4Xuiga8sNIHWFGV {
  padding:0
}
.__instant.i335PDBnzDQJYBt11 .i6nhYUPajvTZMlzAj,.__instant.i335PDBnzDQJYBt11 .i8VZDxBPoVJYVqlZF,.__instant.i335PDBnzDQJYBt11 .iLgQZEL0untyA5o35,.__instant.i335PDBnzDQJYBt11 .ijPCgoWjCv7oy1rru {
  margin-right:20px;
  width:100%
}
.__instant.i335PDBnzDQJYBt11 .iJ4b7r1wnPRlwjYsU {
  align-self:stretch;
  height:auto;
  width:auto
}
}

    .instant-slider-wrapper.dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

/* Ensure overlays are not hidden */
.instant-slider-slide:hover .overlay {
  display: block; /* Ensure your overlay class works as intended */
}

    .slider-navigation {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  margin-top: 10px;
  gap: 10px; /* Spacing between the buttons */
}

.slider-button {
  padding: 10px 20px;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.slider-button:hover {
  background-color: #444; /* Darker gray on hover */
}

.slider-button:active {
  background-color: #222; /* Even darker on click */
}

    @media screen and (min-width: 800px) {
    // this css will only be used when the screen size is min 800px

    .instant-slider-wrapper {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.instant-slider-wrapper::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}}

    
  {%- endstyle -%}
  <!--  -->
  {{ 'instant-335PDBnzDQJYBt11.css' | asset_url | stylesheet_tag }}
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&amp;family=Work+Sans:wght@400&amp;display=swap" rel="stylesheet">
  <div data-instant-type="root" class="iIhUZyquttRHv2Hmm">
    {%- liquid
      assign loading = 'eager'
      assign fetchpriority = 'auto'
      if section.location == 'footer'
        assign loading = 'lazy'
      elsif section.location == 'header'
        assign fetchpriority = 'high'
      elsif section.location == 'template'
        if section.index == 1
          assign fetchpriority = 'high'
        elsif section.index > 2
          assign loading = 'lazy'
        endif
      endif
    -%}
    <div class="iPKzSh5XQLSN6HC6l" data-instant-type="container" id="iPKzSh5XQLSN6HC6l">
      <div class="i1mET8I4PDke3FAFP" data-instant-type="container">
        <div class="ibPxYvHjpu7i2Rhzs" data-instant-type="container">
          <div data-instant-type="text" class="instant-rich-text ilEuLAdatEvoP84wI">
            <div>{{ section.settings.text_lEuLAdatEvoP84wI }}</div>
          </div>
        </div>
        <div class="instant-slider-container iA4Xuiga8sNIHWFGV" data-instant-type="slider-container">
          <script type="application/json" id="instant-slider-UUeozJI0pShAypRW-params">
            { "breakpoints": { "0": { "speed": 300, "direction": "horizontal", "slidesPerView": 1, "freeMode": false, "centeredSlides": false, "centerInsufficientSlides": false, "spaceBetween": 20 }, "576": { "speed": 300, "direction": "horizontal", "slidesPerView": 2, "freeMode": false, "centeredSlides": false, "centerInsufficientSlides": false, "spaceBetween": 24 }, "769": { "speed": 300, "direction": "horizontal", "slidesPerView": 3, "freeMode": false, "centeredSlides": false, "centerInsufficientSlides": false, "spaceBetween": 24 }, "1025": { "speed": 300, "direction": "horizontal", "slidesPerView": "auto", "freeMode": false, "centeredSlides": false, "centerInsufficientSlides": false, "spaceBetween": 24 } }, "navigation": { "nextEl": ".instant-slider-UUeozJI0pShAypRW-button-next", "prevEl": ".instant-slider-UUeozJI0pShAypRW-button-prev", "disabledClass": "instant-slider-button-disabled", "hiddenClass": "instant-slider-button-hidden", "lockClass": "instant-slider-button-lock", "navigationDisabledClass": "instant-slider-navigation-disabled" }, "watchOverflow": true, "a11y": { "enabled": true, "notificationClass": "instant-slider-notification" }, "containerModifierClass": "instant-slider-", "noSwipingClass": "instant-slider-no-swiping", "slideClass": "instant-slider-slide", "slideBlankClass": "instant-slider-slide-blank", "slideActiveClass": "instant-slider-slide-active", "slideVisibleClass": "instant-slider-slide-visible", "slideFullyVisibleClass": "instant-slider-slide-fully-visible", "slideNextClass": "instant-slider-slide-next", "slidePrevClass": "instant-slider-slide-prev", "wrapperClass": "instant-slider-wrapper", "lazyPreloaderClass": "instant-slider-lazy-preloader" }
          </script>
          <div class="instant-slider iUUeozJI0pShAypRW" data-instant-slider-id="UUeozJI0pShAypRW" id="UUeozJI0pShAypRW" data-instant-type="slider">
            <div class="instant-slider-wrapper">
<a class="instant-slider-slide iLgQZEL0untyA5o35" data-instant-type="slider-slide">
                {% if section.settings.image_LgQZEL0untyA5o35 and section.settings.image_LgQZEL0untyA5o35 != blank %}
                  {{ section.settings.image_LgQZEL0untyA5o35 | image_url: width: 1280 | image_tag: class: 'instant-fill instant-image__fill', alt: section.settings.image_LgQZEL0untyA5o35.alt, fetchpriority: fetchpriority, loading: loading, decoding: 'async' }}
                {% else %}
                  <img alt="" sizes="(max-width: 1280px) 100vw, 1280px" srcSet="https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/OlovnwQ5b9dlHpuC/pexels-roger11reyes-6509862.webp?width=1080 1080w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/OlovnwQ5b9dlHpuC/pexels-roger11reyes-6509862.webp?width=828 828w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/OlovnwQ5b9dlHpuC/pexels-roger11reyes-6509862.webp?width=750 750w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/OlovnwQ5b9dlHpuC/pexels-roger11reyes-6509862.webp?width=640 640w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/OlovnwQ5b9dlHpuC/pexels-roger11reyes-6509862.webp?width=360 360w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/OlovnwQ5b9dlHpuC/pexels-roger11reyes-6509862.webp?width=1280 1280w" src="https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/OlovnwQ5b9dlHpuC/pexels-roger11reyes-6509862.webp?width=1280" width="630" height="419" class="instant-fill instant-image__fill" style="object-fit:cover" decoding="async" fetchpriority="{{ fetchpriority }}" loading="{{ loading }}">
                {% endif %}
                <div class="iQqulRy3pXkFSixV1" data-instant-type="container">
                  <div data-instant-type="text" class="instant-rich-text iz2wAU8PgeqRiVYdW">
                    <div>{{ section.settings.text_z2wAU8PgeqRiVYdW }}</div>
                  </div>
                </div>
              </a>
<a class="instant-slider-slide iLgQZEL0untyA5o35" data-instant-type="slider-slide">
                {% if section.settings.image_8VZDxBPoVJYVqlZF and section.settings.image_8VZDxBPoVJYVqlZF != blank %}
                  {{ section.settings.image_8VZDxBPoVJYVqlZF | image_url: width: 1280 | image_tag: class: 'instant-fill instant-image__fill', alt: section.settings.image_8VZDxBPoVJYVqlZF.alt, fetchpriority: fetchpriority, loading: loading, decoding: 'async' }}
                {% else %}
                  <img alt="" sizes="(max-width: 1280px) 100vw, 1280px" srcSet="https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/SVVFAcFl57Aad9Ms/pexels-cottonbro-3997374.webp?width=1080 1080w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/SVVFAcFl57Aad9Ms/pexels-cottonbro-3997374.webp?width=828 828w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/SVVFAcFl57Aad9Ms/pexels-cottonbro-3997374.webp?width=750 750w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/SVVFAcFl57Aad9Ms/pexels-cottonbro-3997374.webp?width=640 640w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/SVVFAcFl57Aad9Ms/pexels-cottonbro-3997374.webp?width=360 360w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/SVVFAcFl57Aad9Ms/pexels-cottonbro-3997374.webp?width=1280 1280w" src="https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/SVVFAcFl57Aad9Ms/pexels-cottonbro-3997374.webp?width=1280" width="630" height="420" class="instant-fill instant-image__fill" style="object-fit:cover" decoding="async" fetchpriority="{{ fetchpriority }}" loading="{{ loading }}">
                {% endif %}
                <div class="iiyWUOXteFJVr6bhq" data-instant-type="container">
                  <div data-instant-type="text" class="instant-rich-text igpD8MlBbUz023Mgy">
                    <div>{{ section.settings.text_gpD8MlBbUz023Mgy }}</div>
                  </div>
                </div>
              </a>
<a class="instant-slider-slide iLgQZEL0untyA5o35" data-instant-type="slider-slide">
                {% if section.settings.image_jPCgoWjCv7oy1rru and section.settings.image_jPCgoWjCv7oy1rru != blank %}
                  {{ section.settings.image_jPCgoWjCv7oy1rru | image_url: width: 1280 | image_tag: class: 'instant-fill instant-image__fill', alt: section.settings.image_jPCgoWjCv7oy1rru.alt, fetchpriority: fetchpriority, loading: loading, decoding: 'async' }}
                {% else %}
                  <img alt="" sizes="(max-width: 1280px) 100vw, 1280px" srcSet="https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/bbJwPG62PqJJMTuV/ski.png?width=1080 1080w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/bbJwPG62PqJJMTuV/ski.png?width=828 828w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/bbJwPG62PqJJMTuV/ski.png?width=750 750w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/bbJwPG62PqJJMTuV/ski.png?width=640 640w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/bbJwPG62PqJJMTuV/ski.png?width=360 360w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/bbJwPG62PqJJMTuV/ski.png?width=1280 1280w" src="https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/bbJwPG62PqJJMTuV/ski.png?width=1280" width="651" height="975" class="instant-fill instant-image__fill" style="object-fit:cover" decoding="async" fetchpriority="{{ fetchpriority }}" loading="{{ loading }}">
                {% endif %}
                <div class="ivVj109Eo4RwFZac8" data-instant-type="container">
                  <div data-instant-type="text" class="instant-rich-text icVVmSo7YUvqPvUnR">
                    <div>{{ section.settings.text_cVVmSo7YUvqPvUnR }}</div>
                  </div>
                </div>
              </a>
<a class="instant-slider-slide iLgQZEL0untyA5o35" data-instant-type="slider-slide">
                {% if section.settings.image_6nhYUPajvTZMlzAj and section.settings.image_6nhYUPajvTZMlzAj != blank %}
                  {{ section.settings.image_6nhYUPajvTZMlzAj | image_url: width: 1280 | image_tag: class: 'instant-fill instant-image__fill', alt: section.settings.image_6nhYUPajvTZMlzAj.alt, fetchpriority: fetchpriority, loading: loading, decoding: 'async' }}
                {% else %}
                  <img alt="" sizes="(max-width: 1280px) 100vw, 1280px" srcSet="https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/y5TpKjWRjQIKlVws/sal202201304301.webp?width=1080 1080w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/y5TpKjWRjQIKlVws/sal202201304301.webp?width=828 828w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/y5TpKjWRjQIKlVws/sal202201304301.webp?width=750 750w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/y5TpKjWRjQIKlVws/sal202201304301.webp?width=640 640w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/y5TpKjWRjQIKlVws/sal202201304301.webp?width=360 360w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/y5TpKjWRjQIKlVws/sal202201304301.webp?width=1280 1280w" src="https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/y5TpKjWRjQIKlVws/sal202201304301.webp?width=1280" width="887" height="500" class="instant-fill instant-image__fill" style="object-fit:cover" decoding="async" fetchpriority="{{ fetchpriority }}" loading="{{ loading }}">
                {% endif %}
                <div class="iliEUWgFyWuvqx0xV" data-instant-type="container">
                  <div data-instant-type="text" class="instant-rich-text iFt6aU3dyLQhy6I7p">
                    <div>{{ section.settings.text_Ft6aU3dyLQhy6I7p }}</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>

document.addEventListener("DOMContentLoaded", () => {
    // Ensure overlays are always visible and adjust pointer events
    const overlays = document.querySelectorAll(
        ".iQqulRy3pXkFSixV1, .iiyWUOXteFJVr6bhq, .ivVj109Eo4RwFZac8, .iliEUWgFyWuvqx0xV"
    );

    overlays.forEach((overlay) => {
        overlay.style.opacity = "1"; // Ensure visibility
        overlay.style.transition = "none"; // Disable animations
        overlay.style.pointerEvents = "none"; // Allow touch and drag events to pass through
    });

    const slider = document.querySelector(".instant-slider-wrapper");

    if (slider) {
        // Drag and Touch Scrolling
        let isDragging = false;
        let startX = 0;
        let scrollLeft = 0;

        const startDrag = (e) => {
            isDragging = true;
            startX = (e.pageX || e.touches[0].pageX) - slider.offsetLeft;
            scrollLeft = slider.scrollLeft;
            slider.classList.add("dragging");
        };

        const endDrag = () => {
            isDragging = false;
            slider.classList.remove("dragging");
        };

        const drag = (e) => {
            if (!isDragging) return;
            e.preventDefault();
            const x = (e.pageX || e.touches[0].pageX) - slider.offsetLeft;
            const walk = (x - startX) * 1.5; // Adjust scroll speed
            slider.scrollLeft = scrollLeft - walk;
        };

        // Attach event listeners
        slider.addEventListener("mousedown", (e) => {
            if (e.target.closest(".instant-slider-slide")) startDrag(e);
        });
        slider.addEventListener("touchstart", (e) => {
            if (e.target.closest(".instant-slider-slide")) startDrag(e);
        }, { passive: true });

        slider.addEventListener("mousemove", drag);
        slider.addEventListener("touchmove", drag, { passive: true });

        slider.addEventListener("mouseup", endDrag);
        slider.addEventListener("mouseleave", endDrag);
        slider.addEventListener("touchend", endDrag);
    } else {
        console.error("Slider not found");
    }
});


</script>

{% schema %}
{
  "name": "product-reviews",
  "tag": "section",
  "enabled_on": { "templates": ["*"] },
  "settings": [
    {
      "type": "richtext",
      "id": "text_lEuLAdatEvoP84wI",
      "label": "Text",
      "default": "<h1>What people say about us</h1>"
    },
    {
      "type": "image_picker",
      "id": "image_LgQZEL0untyA5o35",
      "label": "Slide"
    },
    {
      "type": "url",
      "id": "url_LgQZEL0untyA5o35",
      "label": "Slide URL"
    },
    {
      "type": "richtext",
      "id": "text_z2wAU8PgeqRiVYdW",
      "label": "Actually perform better with the drye glove, helps me with grip",
      "default": "<h3>Actually perform better with the drye glove, helps me with grip</h3>"
    },
    {
      "type": "image_picker",
      "id": "image_8VZDxBPoVJYVqlZF",
      "label": "Slide"
    },
    {
      "type": "url",
      "id": "url_8VZDxBPoVJYVqlZF",
      "label": "Slide URL"
    },
    {
      "type": "richtext",
      "id": "text_gpD8MlBbUz023Mgy",
      "label": "Love this innerglove, help me focus on the sport.",
      "default": "<h3>Love this innerglove, help me focus on the sport.</h3>"
    },
    {
      "type": "image_picker",
      "id": "image_jPCgoWjCv7oy1rru",
      "label": "Slide"
    },
    {
      "type": "url",
      "id": "url_jPCgoWjCv7oy1rru",
      "label": "Slide URL"
    },
    {
      "type": "richtext",
      "id": "text_cVVmSo7YUvqPvUnR",
      "label": "Helps me so much with the grip on long days out",
      "default": "<h3>Helps me so much with the grip on long days out</h3>"
    },
    {
      "type": "image_picker",
      "id": "image_6nhYUPajvTZMlzAj",
      "label": "Slide"
    },
    {
      "type": "url",
      "id": "url_6nhYUPajvTZMlzAj",
      "label": "Slide URL"
    },
    {
      "type": "richtext",
      "id": "text_Ft6aU3dyLQhy6I7p",
      "label": "Actually perform better with the drye glove, helps me with grip",
      "default": "<h3>Actually perform better with the drye glove, helps me with grip</h3>"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "product-reviews",
      "settings": {
        "text_lEuLAdatEvoP84wI": "<h3>What people say about us</h3>",
        "text_z2wAU8PgeqRiVYdW": "<h3>Actually perform better with the drye glove, helps me with grip</h3>",
        "text_gpD8MlBbUz023Mgy": "<h3>Love this innerglove, help me focus on the sport.</h3>",
        "text_cVVmSo7YUvqPvUnR": "<h3>Helps me so much with the grip on long days out</h3>",
        "text_Ft6aU3dyLQhy6I7p": "<h3>Actually perform better with the drye glove, helps me with grip</h3>"
      }
    }
  ]
}
{% endschema %}