<div class="__instant iMb00IcCZSophelr9" data-instant-id="Mb00IcCZSophelr9" data-instant-version="3.0.5" data-instant-layout="SECTION" data-section-id="{{ section.id }}">
  {%- style -%}
    .__instant[data-section-id='{{ section.id }}'] div[data-instant-type='root'] {
    	padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    	padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 769px) {
    	.__instant[data-section-id='{{ section.id }}'] div[data-instant-type='root'] {
    		padding-top: {{ section.settings.padding_top }}px;
    		padding-bottom: {{ section.settings.padding_bottom }}px;
    	}
    }

    .__instant.iMb00IcCZSophelr9 *,.__instant.iMb00IcCZSophelr9:after,.__instant.iMb00IcCZSophelr9:before {
  border:0 solid;
  box-sizing:border-box
}

    .instant-slider-wrapper {
    will-change: transform;
}

    .instant-slider-slide {
    flex: 0 0 auto; /* Prevent shrinking */
    width: calc(100vw - 32px); /* Adjust based on your design */
    scroll-snap-align: start;
}

.instant-image__fill {
    object-fit: cover; /* Maintain the image proportions */
    width: 100%; /* Ensure the image fills its container */
}

    .instant-slider-wrapper {
    scroll-behavior: smooth;
}

.__instant {
  display:flex;
  flex:1;
  flex-direction:column;
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-family:system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  letter-spacing:normal;
  line-height:1.15;
  -webkit-text-size-adjust:100%;
  -moz-tab-size:4;
  tab-size:4
}
.__instant.iMb00IcCZSophelr9 hr {
  border-top-width:1px;
  color:inherit;
  height:0
}
.__instant.iMb00IcCZSophelr9 abbr[title] {
  text-decoration:underline dotted
}
.__instant.iMb00IcCZSophelr9 h1,.__instant.iMb00IcCZSophelr9 h2,.__instant.iMb00IcCZSophelr9 h3,.__instant.iMb00IcCZSophelr9 h4,.__instant.iMb00IcCZSophelr9 h5,.__instant.iMb00IcCZSophelr9 h6 {
  font-size:inherit;
  font-weight:inherit
}
.__instant.iMb00IcCZSophelr9 a {
  color:inherit;
  text-decoration:inherit
}
.__instant.iMb00IcCZSophelr9 b,.__instant.iMb00IcCZSophelr9 strong {
  font-weight:bolder
}
.__instant.iMb00IcCZSophelr9 small {
  font-size:80%
}
.__instant.iMb00IcCZSophelr9 sub,.__instant.iMb00IcCZSophelr9 sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}
.__instant.iMb00IcCZSophelr9 sub {
  bottom:-.25em
}
.__instant.iMb00IcCZSophelr9 sup {
  top:-.5em
}
.__instant.iMb00IcCZSophelr9 table {
  border-collapse:collapse;
  border-color:inherit;
  text-indent:0
}
.__instant.iMb00IcCZSophelr9 button,.__instant.iMb00IcCZSophelr9 input,.__instant.iMb00IcCZSophelr9 optgroup,.__instant.iMb00IcCZSophelr9 select,.__instant.iMb00IcCZSophelr9 textarea {
  color:inherit;
  font-family:inherit;
  font-size:100%;
  line-height:inherit;
  margin:0;
  padding:0
}
.__instant.iMb00IcCZSophelr9 button,.__instant.iMb00IcCZSophelr9 select {
  text-transform:none
}
.__instant.iMb00IcCZSophelr9 [type=button],.__instant.iMb00IcCZSophelr9 [type=reset],.__instant.iMb00IcCZSophelr9 [type=submit],.__instant.iMb00IcCZSophelr9 button {
  -webkit-appearance:none;
  background-color:transparent;
  background-image:none
}
.__instant.iMb00IcCZSophelr9:-moz-focusring {
  outline:auto
}
.__instant.iMb00IcCZSophelr9:-moz-ui-invalid {
  box-shadow:none
}
.__instant.iMb00IcCZSophelr9 progress {
  vertical-align:baseline
}
.__instant.iMb00IcCZSophelr9::-webkit-inner-spin-button,.__instant.iMb00IcCZSophelr9::-webkit-outer-spin-button {
  height:auto
}
.__instant.iMb00IcCZSophelr9 [type=search] {
  -webkit-appearance:textfield;
  outline-offset:-2px
}
.__instant.iMb00IcCZSophelr9::-webkit-search-decoration {
  -webkit-appearance:none
}
.__instant.iMb00IcCZSophelr9::-webkit-file-upload-button {
  -webkit-appearance:button;
  font:inherit
}
.__instant.iMb00IcCZSophelr9 summary {
  display:list-item
}
.__instant.iMb00IcCZSophelr9 blockquote,.__instant.iMb00IcCZSophelr9 dd,.__instant.iMb00IcCZSophelr9 dl,.__instant.iMb00IcCZSophelr9 figure,.__instant.iMb00IcCZSophelr9 h1,.__instant.iMb00IcCZSophelr9 h2,.__instant.iMb00IcCZSophelr9 h3,.__instant.iMb00IcCZSophelr9 h4,.__instant.iMb00IcCZSophelr9 h5,.__instant.iMb00IcCZSophelr9 h6,.__instant.iMb00IcCZSophelr9 hr,.__instant.iMb00IcCZSophelr9 p,.__instant.iMb00IcCZSophelr9 pre {
  margin:0
}
.__instant.iMb00IcCZSophelr9 fieldset {
  margin:0;
  padding:0
}
.__instant.iMb00IcCZSophelr9 legend {
  padding:0
}
.__instant.iMb00IcCZSophelr9 ol,.__instant.iMb00IcCZSophelr9 ul {
  list-style:none;
  margin:0;
  padding:0
}
.__instant.iMb00IcCZSophelr9 textarea {
  resize:vertical
}
.__instant.iMb00IcCZSophelr9 input::placeholder,.__instant.iMb00IcCZSophelr9 textarea::placeholder {
  color:inherit;
  opacity:1
}
.__instant.iMb00IcCZSophelr9 [role=button],.__instant.iMb00IcCZSophelr9 button {
  cursor:pointer
}
.__instant.iMb00IcCZSophelr9:disabled {
  cursor:default
}
.__instant.iMb00IcCZSophelr9 audio,.__instant.iMb00IcCZSophelr9 canvas,.__instant.iMb00IcCZSophelr9 embed,.__instant.iMb00IcCZSophelr9 iframe,.__instant.iMb00IcCZSophelr9 img,.__instant.iMb00IcCZSophelr9 object,.__instant.iMb00IcCZSophelr9 svg,.__instant.iMb00IcCZSophelr9 video {
  display:block;
  vertical-align:middle
}
.__instant.iMb00IcCZSophelr9 img,.__instant.iMb00IcCZSophelr9 video {
  height:auto;
  max-width:100%
}
.__instant.iMb00IcCZSophelr9 [hidden] {
  display:none
}
.__instant {
  --instant-overflow-clip:clip
}
.__instant.iMb00IcCZSophelr9 .instant-editor__link,.__instant.iMb00IcCZSophelr9 .instant-rich-text a {
  text-decoration:underline
}
.__instant.iMb00IcCZSophelr9 .instant-rich-text,.__instant.iMb00IcCZSophelr9 .instant-rich-text h1,.__instant.iMb00IcCZSophelr9 .instant-rich-text h2,.__instant.iMb00IcCZSophelr9 .instant-rich-text h3,.__instant.iMb00IcCZSophelr9 .instant-rich-text h4,.__instant.iMb00IcCZSophelr9 .instant-rich-text h5,.__instant.iMb00IcCZSophelr9 .instant-rich-text h6,.__instant.iMb00IcCZSophelr9 .instant-rich-text p,.__instant.iMb00IcCZSophelr9 [data-instant-dynamic-content-source^=COUNTDOWN_] span {
  background:var(--instant-text-color-gradient);
  background-clip:var(--instant-text-color-clip);
  color:inherit;
  display:block;
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
  font-weight:inherit;
  letter-spacing:inherit;
  line-height:inherit;
  overflow-wrap:inherit;
  text-decoration:inherit;
  text-transform:inherit;
  text-wrap:inherit;
  word-break:inherit;
  -webkit-text-fill-color:var(--instant-text-color-fill)
}
.__instant.iMb00IcCZSophelr9 .instant-rich-text h1:before,.__instant.iMb00IcCZSophelr9 .instant-rich-text h2:before,.__instant.iMb00IcCZSophelr9 .instant-rich-text h3:before,.__instant.iMb00IcCZSophelr9 .instant-rich-text h4:before,.__instant.iMb00IcCZSophelr9 .instant-rich-text h5:before,.__instant.iMb00IcCZSophelr9 .instant-rich-text h6:before,.__instant.iMb00IcCZSophelr9 .instant-rich-text p:before {
  content:"\200B"
}
.__instant.iMb00IcCZSophelr9 .instant-rich-text ol,.__instant.iMb00IcCZSophelr9 .instant-rich-text ul {
  list-style:revert;
  padding-left:1.5em
}
.__instant.iMb00IcCZSophelr9 .instant-visually-hidden {
  border:0;
  clip-path:inset(100%);
  height:1px;
  margin:-1px;
  padding:0;
  position:absolute;
  white-space:nowrap;
  width:1px;
  clip:rect(0,0,0,0);
  outline:0;
  outline-offset:unset;
  overflow:hidden
}
.__instant.iMb00IcCZSophelr9 a[data-instant-disabled=true]:not(.instant-custom-variant-picker),.__instant.iMb00IcCZSophelr9 button[data-instant-disabled=true]:not(.instant-custom-variant-picker) {
  cursor:not-allowed
}
.__instant.iMb00IcCZSophelr9 .instant-variant-picker input[type=radio] {
  clip:rect(0,0,0,0);
  height:1px;
  overflow:hidden;
  position:absolute;
  width:1px
}
.__instant.iMb00IcCZSophelr9 .instant-custom-variant-picker,.__instant.iMb00IcCZSophelr9 .instant-variant-picker input[type=radio]+label,.__instant.iMb00IcCZSophelr9 .instant-variant-picker select {
  cursor:pointer
}
.__instant.iMb00IcCZSophelr9 .instant-variant-picker input[type=radio]+label:before {
  bottom:-1px;
  content:"";
  left:-1px;
  position:absolute;
  right:-1px;
  top:-1px;
  z-index:-1
}
.__instant.iMb00IcCZSophelr9 .instant-variant-picker--select select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border:0;
  height:100%;
  left:0;
  opacity:0;
  outline:none;
  overflow:hidden;
  padding:inherit;
  position:absolute;
  top:0;
  width:100%
}
.__instant.iMb00IcCZSophelr9 .instant-variant-picker--select:not(select) {
  pointer-events:none
}
.__instant.iMb00IcCZSophelr9 .instant-variant-picker--select select:focus {
  outline:none
}
.__instant.iMb00IcCZSophelr9 .instant-variant-picker--select select:focus-visible {
  box-shadow:none
}
.__instant.iMb00IcCZSophelr9 .instant-selling-plan-selector {
  cursor:pointer
}
.__instant.iMb00IcCZSophelr9 .instant-quantity-input {
  -moz-appearance:textfield;
  appearance:textfield;
  background:transparent;
  box-shadow:inherit;
  outline:none;
  outline-offset:unset;
  text-align:center
}
.__instant.iMb00IcCZSophelr9 .instant-quantity-input::-webkit-inner-spin-button,.__instant.iMb00IcCZSophelr9 .instant-quantity-input::-webkit-outer-spin-button {
  -webkit-appearance:none;
  margin:0
}
.__instant.iMb00IcCZSophelr9 .instant-image__fallback {
  background-image:url(https://cdn.instant.so/static/templates/assets/placeholder-image-icon.svg)
}
.__instant.iMb00IcCZSophelr9 .instant-image__fallback,.__instant.iMb00IcCZSophelr9 .instant-media__fallback {
  background-color:rgba(0,0,0,.2);
  background-position:50%;
  background-repeat:no-repeat;
  background-size:clamp(0px,calc(100% - 4px),48px) clamp(0px,calc(100% - 4px),48px)
}
.__instant.iMb00IcCZSophelr9 .instant-video__container {
  overflow:hidden;
  position:relative
}
.__instant.iMb00IcCZSophelr9 .instant-tiktok__overlay,.__instant.iMb00IcCZSophelr9 .instant-video__iframe,.__instant.iMb00IcCZSophelr9 .instant-video__player,.__instant.iMb00IcCZSophelr9 .instant-video__wrapper {
  background-color:#000;
  background-position:50%;
  background-repeat:no-repeat;
  background-size:cover;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  z-index:1
}
.__instant.iMb00IcCZSophelr9 .instant-tiktok__overlay {
  opacity:50%
}
.__instant.iMb00IcCZSophelr9 .instant-video__fallback {
  align-items:center;
  background-color:rgba(0,0,0,.2);
  border-radius:inherit;
  color:#fff;
  display:flex;
  font-size:14px;
  height:100%;
  justify-content:center;
  left:0;
  padding:16px;
  position:absolute;
  top:0;
  width:100%
}
.__instant.iMb00IcCZSophelr9 .instant-video__fallback-external:before {
  background-color:hsla(0,0%,100%,.2);
  border-radius:99px;
  content:"";
  height:48px;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  width:48px
}
.__instant.iMb00IcCZSophelr9 .instant-video__fallback-vimeo:before {
  background-color:hsla(0,0%,100%,.2);
  border-radius:4px;
  content:"";
  height:48px;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  width:84px
}
.__instant.iMb00IcCZSophelr9 .instant-tiktok__fallback-icon {
  background-image:url(https://cdn.instant.so/static/templates/assets/placeholder-tiktok-icon.svg)
}
.__instant.iMb00IcCZSophelr9 .instant-video__sizer {
  display:block;
  height:auto;
  max-height:100%;
  max-width:100%;
  width:auto
}
.__instant.iMb00IcCZSophelr9 .instant-video__button {
  border-radius:6px;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  transition:background-color .24s ease-in-out,color .24s ease-in-out,opacity .24s ease-in-out,box-shadow .24s
}
.__instant.iMb00IcCZSophelr9 .instant-youtube__button {
  color:#212121;
  opacity:.8
}
.__instant.iMb00IcCZSophelr9 .instant-video__wrapper:hover .instant-youtube__button--red {
  color:#bf171d;
  opacity:1
}
.__instant.iMb00IcCZSophelr9 .instant-video__wrapper:hover .instant-youtube__button--white {
  color:#fff;
  opacity:1
}
.__instant.iMb00IcCZSophelr9 .instant-youtube__button-play {
  color:#fff;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  transition:color .24s ease-in-out
}
.__instant.iMb00IcCZSophelr9 .instant-video__wrapper:hover .instant-youtube__button--white .instant-youtube__button-play {
  color:#212121
}
.__instant.iMb00IcCZSophelr9 .instant-vimeo__button {
  align-items:center;
  background-color:#000;
  border-radius:4px;
  color:#fff;
  display:flex;
  height:48px;
  justify-content:center;
  width:84px
}
.__instant.iMb00IcCZSophelr9 .instant-external__button {
  align-items:center;
  background-color:#000;
  border-radius:99px;
  border-style:inset;
  color:#fff;
  display:flex;
  height:48px;
  justify-content:center;
  width:48px
}
.__instant.iMb00IcCZSophelr9 .instant-video__wrapper:hover .instant-external__button,.__instant.iMb00IcCZSophelr9 .instant-video__wrapper:hover .instant-vimeo__button {
  background-color:var(--video-button-color);
  color:#000
}
.__instant.iMb00IcCZSophelr9 .instant-tiktok__button {
  background-image:url(https://cdn.instant.so/static/templates/assets/play-button.svg);
  height:72px;
  width:72px
}
.__instant.iMb00IcCZSophelr9 .instant-video-fill__wrapper {
  border-radius:inherit;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%
}
.__instant.iMb00IcCZSophelr9 .instant-video-fill__overlay,.__instant.iMb00IcCZSophelr9 .instant-video-fill__video {
  border-radius:inherit;
  display:block;
  height:100%;
  left:0;
  object-fit:cover;
  position:absolute;
  top:0;
  width:100%
}
.__instant.iMb00IcCZSophelr9 .instant-video-fill__controls {
  background-color:#fff;
  border:1px inset rgba(0,0,0,.1);
  border-radius:99px;
  bottom:32px;
  padding:8px;
  position:absolute;
  right:32px
}
@media only screen and (max-width:768px) {
  .__instant.iMb00IcCZSophelr9 .instant-video-fill__controls {
  bottom:20px;
  right:20px
}
}.__instant.iMb00IcCZSophelr9 .instant-video-fill__controls .instant-video-fill__pause,.__instant.iMb00IcCZSophelr9 .instant-video-fill__controls .instant-video-fill__play {
  display:none;
  opacity:0;
  transition:opacity .2s ease-in-out
}
.__instant.iMb00IcCZSophelr9 .instant-video-fill__wrapper[data-paused=false] .instant-video-fill__controls .instant-video-fill__play,.__instant.iMb00IcCZSophelr9 .instant-video-fill__wrapper[data-paused=true] .instant-video-fill__controls .instant-video-fill__pause {
  display:block;
  opacity:1
}
.__instant.iMb00IcCZSophelr9 .instant-slider-horizontal {
  touch-action:pan-y
}
.__instant.iMb00IcCZSophelr9 .instant-slider-horizontal>.instant-slider-wrapper {
  flex-direction:row
}
.__instant.iMb00IcCZSophelr9 .instant-slider-vertical {
  touch-action:pan-x
}
.__instant.iMb00IcCZSophelr9 .instant-slider-vertical>.instant-slider-wrapper {
  flex-direction:column
}
.__instant.iMb00IcCZSophelr9 .instant-slider-free-mode>.instant-slider-wrapper {
  transition-timing-function:ease-out
}
.__instant.iMb00IcCZSophelr9 .instant-slider-auto-slides .instant-slider-slide {
  max-width:none;
  min-width:unset
}
.__instant.iMb00IcCZSophelr9 .instant-slider-thumbs>.instant-slider-wrapper>.instant-slider-slide {
  cursor:pointer
}
.__instant.iMb00IcCZSophelr9 .instant-slider-wrapper {
  align-items:inherit;
  align-self:stretch;
  box-sizing:content-box;
  display:flex;
  height:inherit;
  order:1;
  transform:translateZ(0);
  transition-property:transform;
  transition-timing-function:ease;
  width:100%
}
.__instant.iMb00IcCZSophelr9 .instant-slider-slide {
  flex-shrink:0;
  transition-property:transform
}
.__instant.iMb00IcCZSophelr9 .instant-slider-button-disabled:not(.__instant_builder_element) {
  opacity:.35
}
.__instant.iMb00IcCZSophelr9 .instant-slider-button-lock {
  display:none!important
}
.__instant.iMb00IcCZSophelr9 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active,.__instant.iMb00IcCZSophelr9 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-main {
  display:flex;
  transform:scale(1)
}
.__instant.iMb00IcCZSophelr9 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-next,.__instant.iMb00IcCZSophelr9 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-prev {
  display:flex;
  transform:scale(.66)
}
.__instant.iMb00IcCZSophelr9 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-next-next,.__instant.iMb00IcCZSophelr9 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-prev-prev {
  display:flex;
  transform:scale(.33)
}
.__instant.iMb00IcCZSophelr9 .instant-slider-pagination-bullet {
  cursor:pointer;
  flex-shrink:0
}
@keyframes instant-loading-__instant-iMb00IcCZSophelr9 {
  0% {
  opacity:1
}
50% {
  opacity:.7
}
to {
  opacity:1
}
}.__instant.iMb00IcCZSophelr9 .instant-loading {
  animation:instant-loading-__instant-iMb00IcCZSophelr9 1s infinite
}
.__instant.iMb00IcCZSophelr9 .instant-image__main {
  aspect-ratio:inherit;
  border-radius:inherit;
  height:100%;
  max-height:inherit;
  object-fit:inherit;
  object-position:inherit;
  width:100%
}
@media only screen and (min-width:1025px) {
  .__instant.iMb00IcCZSophelr9 .instant-responsive:not(.instant-responsive--desktop) {
  display:none
}
}@media only screen and (min-width:769px) and (max-width:1024px) {
  .__instant.iMb00IcCZSophelr9 .instant-responsive:not(.instant-responsive--laptop) {
  display:none
}
}@media only screen and (min-width:576px) and (max-width:768px) {
  .__instant.iMb00IcCZSophelr9 .instant-responsive:not(.instant-responsive--tablet) {
  display:none
}
}@media only screen and (max-width:575px) {
  .__instant.iMb00IcCZSophelr9 .instant-responsive:not(.instant-responsive--mobile) {
  display:none
}
}.__instant.iMb00IcCZSophelr9 .instant-icon,.__instant.iMb00IcCZSophelr9 .instant-image__fill {
  border-radius:inherit;
  height:100%;
  left:0;
  object-fit:cover;
  position:absolute;
  top:0;
  width:100%
}
.__instant.iMb00IcCZSophelr9 .instant-fill[data-trigger],.__instant.iMb00IcCZSophelr9 .instant-icon[data-trigger],.__instant.iMb00IcCZSophelr9 .instant-image[data-trigger] {
  opacity:0
}
.__instant.iMb00IcCZSophelr9 .instant-icon,.__instant.iMb00IcCZSophelr9 .instant-image__main {
  transition-delay:inherit;
  transition-duration:inherit;
  transition-property:opacity;
  transition-timing-function:inherit
}
.__instant.iMb00IcCZSophelr9 div[href],.__instant.iMb00IcCZSophelr9 form[href] {
  cursor:pointer
}
.__instant.iMb00IcCZSophelr9 .instant-ticker-container {
  display:flex;
  flex-direction:row;
  overflow:hidden;
  position:relative;
  width:100%
}
.__instant.iMb00IcCZSophelr9 .instant-ticker-container:hover div {
  animation-play-state:var(--pause-on-hover)
}
.__instant.iMb00IcCZSophelr9 .instant-ticker-container:active div {
  animation-play-state:var(--pause-on-click)
}
@keyframes instant-ticker-instant-scroll-__instant-iMb00IcCZSophelr9 {
  0% {
  transform:translateZ(0)
}
to {
  transform:translate3d(calc(-100% - var(--gap)),0,0)
}
}.__instant.iMb00IcCZSophelr9 .instant-ticker {
  animation:instant-ticker-instant-scroll-__instant-iMb00IcCZSophelr9 var(--duration) linear infinite;
  animation-delay:0s;
  animation-direction:var(--direction);
  animation-play-state:var(--play);
  transform:translateZ(0)
}
.__instant.iMb00IcCZSophelr9 .instant-ticker,.__instant.iMb00IcCZSophelr9 .instant-ticker-initial-child-container {
  align-items:inherit;
  column-gap:inherit;
  display:flex;
  flex:0 0 auto;
  flex-direction:row;
  min-width:auto
}
.__instant.iMb00IcCZSophelr9 .instant-scroll--transform,.__instant.iMb00IcCZSophelr9 .instant-scroll--transform-fade {
  transform:var(--instant-scroll-from-translate,var(--instant-scroll-to-translate,translate(0,0))) var(--instant-scroll-from-scale,var(--instant-scroll-to-scale,scale(1))) var(--instant-scroll-to-rotate,rotateZ(0)) var(--instant-scroll-from-rotate,rotateX(0) rotateY(0))
}
.__instant.iMb00IcCZSophelr9 .instant-scroll--fade,.__instant.iMb00IcCZSophelr9 .instant-scroll--fade:not(.instant-scroll-trigger--hidden),.__instant.iMb00IcCZSophelr9 .instant-scroll--transform-fade:not(.instant-scroll-trigger--hidden),.__instant.iMb00IcCZSophelr9 .instant-scroll--transform:not(.instant-scroll-trigger--hidden) {
  transform:var(--instant-scroll-to-translate,translate(0,0)) var(--instant-scroll-to-scale,scale(1)) var(--instant-scroll-to-rotate,rotate(0))
}
.__instant.iMb00IcCZSophelr9 .instant-scroll--fade,.__instant.iMb00IcCZSophelr9 .instant-scroll--transform-fade {
  opacity:0
}
.__instant.iMb00IcCZSophelr9 .instant-scroll--fade:not(.instant-scroll-trigger--hidden),.__instant.iMb00IcCZSophelr9 .instant-scroll--transform-fade:not(.instant-scroll-trigger--hidden) {
  opacity:1
}
.__instant.iMb00IcCZSophelr9 .iqS2UVoTAAVZSvRhv {
  background:#fff;
  justify-content:flex-start
}
.__instant.iMb00IcCZSophelr9 .ifnW1whRkfMxwfnKk,.__instant.iMb00IcCZSophelr9 .iqS2UVoTAAVZSvRhv {
  align-items:center;
  display:flex;
  flex-direction:column;
  overflow:var(--instant-overflow-clip,hidden);
  position:relative
}
.__instant.iMb00IcCZSophelr9 .ifnW1whRkfMxwfnKk {
  align-content:center;
  flex-wrap:wrap;
  height:auto;
  justify-content:center;
  margin:60px 0 0;
  padding:0 80px;
  width:100%
}
.__instant.iMb00IcCZSophelr9 .iSWzfvDfNyaWPz2Uv {
  align-items:center;
  column-gap:42px;
  display:flex;
  flex-direction:column;
  height:auto;
  justify-content:flex-start;
  max-width:100%;
  position:relative;
  row-gap:42px;
  width:1200px
}
.__instant.iMb00IcCZSophelr9 .imC9dwzqv2qDs7XyY {
  align-items:flex-start;
  column-gap:32px;
  row-gap:32px
}
.__instant.iMb00IcCZSophelr9 .iMiy5GeQTN17moHLY,.__instant.iMb00IcCZSophelr9 .imC9dwzqv2qDs7XyY {
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  padding:0;
  position:relative;
  width:100%
}
.__instant.iMb00IcCZSophelr9 .iMiy5GeQTN17moHLY {
  align-items:stretch;
  min-height:300px;
  overflow:visible
}
.__instant.iMb00IcCZSophelr9 .inMLKnfsXNffoZUJk {
  align-items:flex-start;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  margin-right:16px;
  position:relative;
  width:calc(33.33333% - 10.66667px)
}
.__instant.iMb00IcCZSophelr9 .iGmS9epAUq2OW0P2G {
  align-self:stretch;
  aspect-ratio:auto;
  border-style:solid;
  border-width:0;
  column-gap:24px;
  height:auto;
  justify-content:flex-end;
  min-height:500px;
  padding:0;
  row-gap:24px
}
.__instant.iMb00IcCZSophelr9 .iGmS9epAUq2OW0P2G,.__instant.iMb00IcCZSophelr9 .is9tXCSjT5wOZB1Tr {
  align-items:flex-start;
  border-radius:20px 20px 20px 20px;
  display:flex;
  flex-direction:column;
  position:relative
}
.__instant.iMb00IcCZSophelr9 .is9tXCSjT5wOZB1Tr {
  background:linear-gradient(0deg,#000,transparent);
  column-gap:32px;
  justify-content:flex-start;
  min-height:200px;
  padding:120px 32px 24px;
  row-gap:32px;
  width:100%
}
.__instant.iMb00IcCZSophelr9 .iSbZrOU3vnOSRBcmL {
  align-items:flex-start;
  column-gap:16px;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  position:relative;
  row-gap:16px;
  width:100%
}
.__instant.iMb00IcCZSophelr9 .ih7I3AHwIGNrOmXmC {
  align-self:stretch;
  color:#fff;
  display:flex;
  flex-direction:column;
  font-family:"Inter", sans-serif;
  font-size:24px;
  font-weight:500;
  justify-content:flex-end;
  line-height:1.2;
  position:relative;
  text-align:left;
  text-wrap:balance
}
.__instant.iMb00IcCZSophelr9 .iGpw0S22CcwhxqJ6K {
  align-items:flex-start;
  border-radius:20px 20px 20px 20px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  margin-right:16px;
  position:relative;
  width:calc(33.33333% - 10.66667px)
}
.__instant.iMb00IcCZSophelr9 .iSgbhAw1e8XmDVRxU {
  align-items:flex-start;
  align-self:stretch;
  aspect-ratio:auto;
  border-radius:20px 20px 20px 20px;
  border-style:solid;
  border-width:0;
  column-gap:24px;
  display:flex;
  flex-direction:column;
  height:auto;
  justify-content:flex-end;
  min-height:500px;
  padding:0;
  position:relative;
  row-gap:24px
}
.__instant.iMb00IcCZSophelr9 .i8NtwYRsGpIp1V91v {
  background:linear-gradient(0deg,#000,transparent);
  border-radius:20px 20px 20px 20px;
  column-gap:32px;
  min-height:200px;
  padding:120px 32px 24px;
  row-gap:32px
}
.__instant.iMb00IcCZSophelr9 .i8NtwYRsGpIp1V91v,.__instant.iMb00IcCZSophelr9 .ihqrcbyFobp5eKF2W {
  align-items:flex-start;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  position:relative;
  width:100%
}
.__instant.iMb00IcCZSophelr9 .ihqrcbyFobp5eKF2W {
  column-gap:16px;
  row-gap:16px
}
.__instant.iMb00IcCZSophelr9 .iV6QcygULLdn2B9NB {
  align-self:stretch;
  color:#fff;
  display:flex;
  flex-direction:column;
  font-family:"Inter", sans-serif;
  font-size:24px;
  font-weight:500;
  justify-content:flex-start;
  line-height:1.2;
  position:relative;
  text-align:left;
  text-wrap:balance
}
.__instant.iMb00IcCZSophelr9 .iXo7zWJ6W3mPiXFj8 {
  align-items:flex-start;
  background:#f4f6f8;
  display:flex;
  flex-direction:column;
  height:auto;
  justify-content:flex-start;
  margin-right:16px;
  position:relative;
  width:calc(33.33333% - 10.66667px)
}
.__instant.iMb00IcCZSophelr9 .i1I7IhEiykrqYIBmd {
  align-items:flex-start;
  align-self:stretch;
  aspect-ratio:auto;
  border-radius:20px 20px 20px 20px;
  border-style:solid;
  border-width:0;
  column-gap:24px;
  display:flex;
  flex-direction:column;
  height:auto;
  justify-content:flex-end;
  min-height:500px;
  padding:0;
  position:relative;
  row-gap:24px
}
.__instant.iMb00IcCZSophelr9 .iULSoOcVhjF1xO0M6 {
  background:linear-gradient(0deg,#000,transparent);
  border-radius:20px 20px 20px 20px;
  column-gap:32px;
  min-height:200px;
  padding:120px 32px 24px;
  row-gap:32px
}
.__instant.iMb00IcCZSophelr9 .i2qq3o4RuB6tnFJ6o,.__instant.iMb00IcCZSophelr9 .iULSoOcVhjF1xO0M6 {
  align-items:flex-start;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  position:relative;
  width:100%
}
.__instant.iMb00IcCZSophelr9 .i2qq3o4RuB6tnFJ6o {
  column-gap:16px;
  row-gap:16px
}
.__instant.iMb00IcCZSophelr9 .iwVtCKmIlXOR25RXy {
  align-self:stretch;
  color:#fff;
  display:flex;
  flex-direction:column;
  font-family:"Inter", sans-serif;
  font-size:24px;
  font-weight:500;
  justify-content:flex-start;
  line-height:1.2;
  position:relative;
  text-align:left;
  text-wrap:balance
}
@media (max-width:1024px) {
  .__instant.iMb00IcCZSophelr9 .ifnW1whRkfMxwfnKk {
  padding:64px 80px
}
.__instant.iMb00IcCZSophelr9 .iSWzfvDfNyaWPz2Uv {
  margin:0
}
.__instant.iMb00IcCZSophelr9 .inMLKnfsXNffoZUJk {
  margin-right:16px;
  width:calc(50% - 8px)
}
.__instant.iMb00IcCZSophelr9 .iGmS9epAUq2OW0P2G {
  align-self:stretch;
  min-width:280px;
  width:auto
}
.__instant.iMb00IcCZSophelr9 .iGpw0S22CcwhxqJ6K {
  margin-right:16px;
  width:calc(50% - 8px)
}
.__instant.iMb00IcCZSophelr9 .iSgbhAw1e8XmDVRxU {
  align-self:stretch;
  min-width:280px;
  width:auto
}
.__instant.iMb00IcCZSophelr9 .iXo7zWJ6W3mPiXFj8 {
  margin-right:16px;
  width:calc(50% - 8px)
}
.__instant.iMb00IcCZSophelr9 .i1I7IhEiykrqYIBmd {
  align-self:stretch;
  min-width:280px;
  width:auto
}
}@media (max-width:768px) {
  .__instant.iMb00IcCZSophelr9 .ifnW1whRkfMxwfnKk {
  padding:32px
}
.__instant.iMb00IcCZSophelr9 .imC9dwzqv2qDs7XyY {
  column-gap:16px;
  row-gap:16px
}
.__instant.iMb00IcCZSophelr9 .inMLKnfsXNffoZUJk {
  margin-right:16px;
  width:calc(50% - 8px)
}
.__instant.iMb00IcCZSophelr9 .iGmS9epAUq2OW0P2G {
  align-self:stretch;
  min-width:320px;
  width:auto
}
.__instant.iMb00IcCZSophelr9 .iGpw0S22CcwhxqJ6K {
  margin-right:16px;
  width:calc(50% - 8px)
}
.__instant.iMb00IcCZSophelr9 .iSgbhAw1e8XmDVRxU {
  align-self:stretch;
  min-width:320px;
  width:auto
}
.__instant.iMb00IcCZSophelr9 .iXo7zWJ6W3mPiXFj8 {
  margin-right:16px;
  width:calc(50% - 8px)
}
.__instant.iMb00IcCZSophelr9 .i1I7IhEiykrqYIBmd {
  align-self:stretch;
  min-width:320px;
  width:auto
}
}@media (max-width:575px) {
  .__instant.iMb00IcCZSophelr9 .ifnW1whRkfMxwfnKk {
  margin:0;
  padding:24px
}
.__instant.iMb00IcCZSophelr9 .iSWzfvDfNyaWPz2Uv {
  column-gap:24px;
  row-gap:24px
}
.__instant.iMb00IcCZSophelr9 .imC9dwzqv2qDs7XyY {
  padding:24px 0
}
.__instant.iMb00IcCZSophelr9 .inMLKnfsXNffoZUJk {
  margin-right:16px;
  width:100%
}
.__instant.iMb00IcCZSophelr9 .iGmS9epAUq2OW0P2G {
  align-self:stretch;
  column-gap:24px;
  height:auto;
  min-width:100%;
  row-gap:24px;
  width:auto
}
.__instant.iMb00IcCZSophelr9 .iGpw0S22CcwhxqJ6K {
  margin-right:16px;
  width:100%
}
.__instant.iMb00IcCZSophelr9 .iSgbhAw1e8XmDVRxU {
  align-self:stretch;
  column-gap:24px;
  height:auto;
  min-width:100%;
  row-gap:24px;
  width:auto
}
.__instant.iMb00IcCZSophelr9 .iXo7zWJ6W3mPiXFj8 {
  margin-right:16px;
  width:100%
}
.__instant.iMb00IcCZSophelr9 .i1I7IhEiykrqYIBmd {
  align-self:stretch;
  column-gap:24px;
  height:auto;
  min-width:100%;
  row-gap:24px;
  width:auto
}
}

    .instant-slider-wrapper {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  scroll-snap-type: x mandatory; /* Snap to each slide */
}

.instant-slider-slide {
  flex: 0 0 auto; /* Prevent slides from shrinking */
  scroll-snap-align: start; /* Ensure snapping to each slide */
  margin-right: 16px; /* Add some spacing between slides */
}

    
  {%- endstyle -%}
  <!--  -->
  {{ 'instant-Mb00IcCZSophelr9.css' | asset_url | stylesheet_tag }}
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&amp;display=swap" rel="stylesheet">
  <div data-instant-type="root" class="iqS2UVoTAAVZSvRhv">
    {%- liquid
      assign loading = 'eager'
      assign fetchpriority = 'auto'
      if section.location == 'footer'
        assign loading = 'lazy'
      elsif section.location == 'header'
        assign fetchpriority = 'high'
      elsif section.location == 'template'
        if section.index == 1
          assign fetchpriority = 'high'
        elsif section.index > 2
          assign loading = 'lazy'
        endif
      endif
    -%}
    <div class="ifnW1whRkfMxwfnKk" data-instant-type="container" id="ifnW1whRkfMxwfnKk">
      <div class="iSWzfvDfNyaWPz2Uv" data-instant-type="container">
        <div class="instant-slider-container imC9dwzqv2qDs7XyY" data-instant-type="slider-container">
          <script type="application/json" id="instant-slider-Miy5GeQTN17moHLY-params">
            { "breakpoints": { "0": { "speed": 300, "direction": "horizontal", "slidesPerView": 1, "freeMode": false, "centeredSlides": false, "centerInsufficientSlides": false, "spaceBetween": 16 }, "576": { "speed": 300, "direction": "horizontal", "slidesPerView": 2, "freeMode": false, "centeredSlides": false, "centerInsufficientSlides": false, "spaceBetween": 16 }, "769": { "speed": 300, "direction": "horizontal", "slidesPerView": 2, "freeMode": false, "centeredSlides": false, "centerInsufficientSlides": false, "spaceBetween": 16 }, "1025": { "speed": 300, "direction": "horizontal", "slidesPerView": 3, "freeMode": false, "centeredSlides": false, "centerInsufficientSlides": false, "spaceBetween": 16 } }, "navigation": false, "watchOverflow": true, "a11y": { "enabled": true, "notificationClass": "instant-slider-notification" }, "containerModifierClass": "instant-slider-", "noSwipingClass": "instant-slider-no-swiping", "slideClass": "instant-slider-slide", "slideBlankClass": "instant-slider-slide-blank", "slideActiveClass": "instant-slider-slide-active", "slideVisibleClass": "instant-slider-slide-visible", "slideFullyVisibleClass": "instant-slider-slide-fully-visible", "slideNextClass": "instant-slider-slide-next", "slidePrevClass": "instant-slider-slide-prev", "wrapperClass": "instant-slider-wrapper", "lazyPreloaderClass": "instant-slider-lazy-preloader" }
          </script>
          <div class="instant-slider iMiy5GeQTN17moHLY" data-instant-slider-id="Miy5GeQTN17moHLY" id="Miy5GeQTN17moHLY" data-instant-type="slider">
            <div class="instant-slider-wrapper">
              <div class="instant-slider-slide inMLKnfsXNffoZUJk" data-instant-type="slider-slide">
                <div class="iGmS9epAUq2OW0P2G" data-instant-type="container">
                  {% if section.settings.image_GmS9epAUq2OW0P2G and section.settings.image_GmS9epAUq2OW0P2G != blank %}
                    {{ section.settings.image_GmS9epAUq2OW0P2G | image_url: width: 1280 | image_tag: class: 'instant-fill instant-image__fill', alt: section.settings.image_GmS9epAUq2OW0P2G.alt, fetchpriority: fetchpriority, loading: loading, decoding: 'async' }}
                  {% else %}
                    <img alt="" sizes="(max-width: 1280px) 100vw, 1280px" srcSet="https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/2cRkG8hJV6jiVr1L/photo-rope-texture-pattern-2.png?width=1080 1080w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/2cRkG8hJV6jiVr1L/photo-rope-texture-pattern-2.png?width=828 828w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/2cRkG8hJV6jiVr1L/photo-rope-texture-pattern-2.png?width=750 750w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/2cRkG8hJV6jiVr1L/photo-rope-texture-pattern-2.png?width=640 640w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/2cRkG8hJV6jiVr1L/photo-rope-texture-pattern-2.png?width=360 360w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/2cRkG8hJV6jiVr1L/photo-rope-texture-pattern-2.png?width=1280 1280w" src="https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/2cRkG8hJV6jiVr1L/photo-rope-texture-pattern-2.png?width=1280" width="677" height="975" class="instant-fill instant-image__fill" style="object-fit:cover" decoding="async" fetchpriority="{{ fetchpriority }}" loading="{{ loading }}">
                  {% endif %}
                  <div class="is9tXCSjT5wOZB1Tr" data-instant-type="container">
                    <div class="iSbZrOU3vnOSRBcmL" data-instant-type="container">
                      <div data-instant-type="text" class="instant-rich-text ih7I3AHwIGNrOmXmC">
                        <div>{{ section.settings.text_h7I3AHwIGNrOmXmC }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="instant-slider-slide iGpw0S22CcwhxqJ6K" data-instant-type="slider-slide">
                <div class="iSgbhAw1e8XmDVRxU" data-instant-type="container">
                  {% if section.settings.image_SgbhAw1e8XmDVRxU and section.settings.image_SgbhAw1e8XmDVRxU != blank %}
                    {{ section.settings.image_SgbhAw1e8XmDVRxU | image_url: width: 1280 | image_tag: class: 'instant-fill instant-image__fill', alt: section.settings.image_SgbhAw1e8XmDVRxU.alt, fetchpriority: fetchpriority, loading: loading, decoding: 'async' }}
                  {% else %}
                    <img alt="" sizes="(max-width: 1280px) 100vw, 1280px" srcSet="https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/11g6ftBXYM31Qt5B/white-wool-sweater-2.png?width=1080 1080w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/11g6ftBXYM31Qt5B/white-wool-sweater-2.png?width=828 828w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/11g6ftBXYM31Qt5B/white-wool-sweater-2.png?width=750 750w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/11g6ftBXYM31Qt5B/white-wool-sweater-2.png?width=640 640w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/11g6ftBXYM31Qt5B/white-wool-sweater-2.png?width=360 360w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/11g6ftBXYM31Qt5B/white-wool-sweater-2.png?width=1280 1280w" src="https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/11g6ftBXYM31Qt5B/white-wool-sweater-2.png?width=1280" width="677" height="975" class="instant-fill instant-image__fill" style="object-fit:cover" decoding="async" fetchpriority="{{ fetchpriority }}" loading="{{ loading }}">
                  {% endif %}
                  <div class="i8NtwYRsGpIp1V91v" data-instant-type="container">
                    <div class="ihqrcbyFobp5eKF2W" data-instant-type="container">
                      <div data-instant-type="text" class="instant-rich-text iV6QcygULLdn2B9NB">
                        <div>{{ section.settings.text_V6QcygULLdn2B9NB }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="instant-slider-slide iXo7zWJ6W3mPiXFj8" data-instant-type="slider-slide">
                <div class="i1I7IhEiykrqYIBmd" data-instant-type="container">
                  {% if section.settings.image_1I7IhEiykrqYIBmd and section.settings.image_1I7IhEiykrqYIBmd != blank %}
                    {{ section.settings.image_1I7IhEiykrqYIBmd | image_url: width: 1280 | image_tag: class: 'instant-fill instant-image__fill', alt: section.settings.image_1I7IhEiykrqYIBmd.alt, fetchpriority: fetchpriority, loading: loading, decoding: 'async' }}
                  {% else %}
                    <img alt="" sizes="(max-width: 1280px) 100vw, 1280px" srcSet="https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/G7QHMEle9Im2PTSK/picography-water-droplets-on-outdoor-fabric-1-2.png?width=1080 1080w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/G7QHMEle9Im2PTSK/picography-water-droplets-on-outdoor-fabric-1-2.png?width=828 828w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/G7QHMEle9Im2PTSK/picography-water-droplets-on-outdoor-fabric-1-2.png?width=750 750w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/G7QHMEle9Im2PTSK/picography-water-droplets-on-outdoor-fabric-1-2.png?width=640 640w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/G7QHMEle9Im2PTSK/picography-water-droplets-on-outdoor-fabric-1-2.png?width=360 360w, https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/G7QHMEle9Im2PTSK/picography-water-droplets-on-outdoor-fabric-1-2.png?width=1280 1280w" src="https://cdn.instant.so/sites/a1yt4VjwjJx8p1qT/assets/G7QHMEle9Im2PTSK/picography-water-droplets-on-outdoor-fabric-1-2.png?width=1280" width="677" height="975" class="instant-fill instant-image__fill" style="object-fit:cover" decoding="async" fetchpriority="{{ fetchpriority }}" loading="{{ loading }}">
                  {% endif %}
                  <div class="iULSoOcVhjF1xO0M6" data-instant-type="container">
                    <div class="i2qq3o4RuB6tnFJ6o" data-instant-type="container">
                      <div data-instant-type="text" class="instant-rich-text iwVtCKmIlXOR25RXy">
                        <div>{{ section.settings.text_wVtCKmIlXOR25RXy }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

document.addEventListener("DOMContentLoaded", function () {
    const sliderWrapper = document.querySelector('.instant-slider-wrapper');

    // Function to enable/disable scrolling based on screen width
    function toggleScroll() {
        if (window.innerWidth > 1024) { // Disable scroll for desktop (screen width > 1024px)
            sliderWrapper.style.overflowX = "hidden";
        } else { // Enable scroll for mobile
            sliderWrapper.style.overflowX = "auto";
        }
    }

    // Run the toggle function on load
    toggleScroll();

    // Add an event listener to handle screen resizing
    window.addEventListener("resize", toggleScroll);
});


  
</script>
{% schema %}
{
  "name": "Product-features",
  "tag": "section",
  "enabled_on": { "templates": ["*"] },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_GmS9epAUq2OW0P2G",
      "label": "Testimonial"
    },
    {
      "type": "richtext",
      "id": "text_h7I3AHwIGNrOmXmC",
      "label": "Text",
      "default": "<p>Extra Grip</p>"
    },
    {
      "type": "image_picker",
      "id": "image_SgbhAw1e8XmDVRxU",
      "label": "Testimonial"
    },
    {
      "type": "richtext",
      "id": "text_V6QcygULLdn2B9NB",
      "label": "Text",
      "default": "<p>Increased Comfort</p>"
    },
    {
      "type": "image_picker",
      "id": "image_1I7IhEiykrqYIBmd",
      "label": "Testimonial"
    },
    {
      "type": "richtext",
      "id": "text_wVtCKmIlXOR25RXy",
      "label": "Text",
      "default": "<p>Sweat Free technology</p>"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Product-features",
      "settings": {
        "text_h7I3AHwIGNrOmXmC": "<p>Extra Grip</p>",
        "text_V6QcygULLdn2B9NB": "<p>Increased Comfort</p>",
        "text_wVtCKmIlXOR25RXy": "<p>Sweat Free technology</p>"
      }
    }
  ]
}
{% endschema %}