<div class="__instant iInDXZg9fEqvWliPj" data-instant-id="InDXZg9fEqvWliPj" data-instant-version="3.0.5" data-instant-layout="SECTION" data-section-id="{{ section.id }}">
  {%- style -%}
    .__instant[data-section-id='{{ section.id }}'] div[data-instant-type='root'] {
    	padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    	padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 769px) {
    	.__instant[data-section-id='{{ section.id }}'] div[data-instant-type='root'] {
    		padding-top: {{ section.settings.padding_top }}px;
    		padding-bottom: {{ section.settings.padding_bottom }}px;
    	}
    }


.__instant.iInDXZg9fEqvWliPj .instant-rich-text h3{
font-family: 'ClashGrotesk-Variable'!important; 
      font-weight: 300!important

    }
    .__instant.iInDXZg9fEqvWliPj *,.__instant.iInDXZg9fEqvWliPj:after,.__instant.iInDXZg9fEqvWliPj:before {
  border:0 solid;
  box-sizing:border-box
}
.__instant {
  display:flex;
  flex:1;
  flex-direction:column;
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-family:system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  letter-spacing:normal;
  line-height:1.15;
  -webkit-text-size-adjust:100%;
  -moz-tab-size:4;
  tab-size:4
}
.__instant.iInDXZg9fEqvWliPj hr {
  border-top-width:1px;
  color:inherit;
  height:0
}
.__instant.iInDXZg9fEqvWliPj abbr[title] {
  text-decoration:underline dotted
}
.__instant.iInDXZg9fEqvWliPj h1,.__instant.iInDXZg9fEqvWliPj h2,.__instant.iInDXZg9fEqvWliPj h3,.__instant.iInDXZg9fEqvWliPj h4,.__instant.iInDXZg9fEqvWliPj h5,.__instant.iInDXZg9fEqvWliPj h6 {
  font-size:inherit;
  font-weight:inherit
}
.__instant.iInDXZg9fEqvWliPj a {
  color:inherit;
  text-decoration:inherit
}
.__instant.iInDXZg9fEqvWliPj b,.__instant.iInDXZg9fEqvWliPj strong {
  font-weight:bolder
}
.__instant.iInDXZg9fEqvWliPj small {
  font-size:80%
}
.__instant.iInDXZg9fEqvWliPj sub,.__instant.iInDXZg9fEqvWliPj sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}
.__instant.iInDXZg9fEqvWliPj sub {
  bottom:-.25em
}
.__instant.iInDXZg9fEqvWliPj sup {
  top:-.5em
}
.__instant.iInDXZg9fEqvWliPj table {
  border-collapse:collapse;
  border-color:inherit;
  text-indent:0
}
.__instant.iInDXZg9fEqvWliPj button,.__instant.iInDXZg9fEqvWliPj input,.__instant.iInDXZg9fEqvWliPj optgroup,.__instant.iInDXZg9fEqvWliPj select,.__instant.iInDXZg9fEqvWliPj textarea {
  color:inherit;
  font-family:inherit;
  font-size:100%;
  line-height:inherit;
  margin:0;
  padding:0
}
.__instant.iInDXZg9fEqvWliPj button,.__instant.iInDXZg9fEqvWliPj select {
  text-transform:none
}
.__instant.iInDXZg9fEqvWliPj [type=button],.__instant.iInDXZg9fEqvWliPj [type=reset],.__instant.iInDXZg9fEqvWliPj [type=submit],.__instant.iInDXZg9fEqvWliPj button {
  -webkit-appearance:none;
  background-color:transparent;
  background-image:none
}
.__instant.iInDXZg9fEqvWliPj:-moz-focusring {
  outline:auto
}
.__instant.iInDXZg9fEqvWliPj:-moz-ui-invalid {
  box-shadow:none
}
.__instant.iInDXZg9fEqvWliPj progress {
  vertical-align:baseline
}
.__instant.iInDXZg9fEqvWliPj::-webkit-inner-spin-button,.__instant.iInDXZg9fEqvWliPj::-webkit-outer-spin-button {
  height:auto
}
.__instant.iInDXZg9fEqvWliPj [type=search] {
  -webkit-appearance:textfield;
  outline-offset:-2px
}
.__instant.iInDXZg9fEqvWliPj::-webkit-search-decoration {
  -webkit-appearance:none
}
.__instant.iInDXZg9fEqvWliPj::-webkit-file-upload-button {
  -webkit-appearance:button;
  font:inherit
}
.__instant.iInDXZg9fEqvWliPj summary {
  display:list-item
}
.__instant.iInDXZg9fEqvWliPj blockquote,.__instant.iInDXZg9fEqvWliPj dd,.__instant.iInDXZg9fEqvWliPj dl,.__instant.iInDXZg9fEqvWliPj figure,.__instant.iInDXZg9fEqvWliPj h1,.__instant.iInDXZg9fEqvWliPj h2,.__instant.iInDXZg9fEqvWliPj h3,.__instant.iInDXZg9fEqvWliPj h4,.__instant.iInDXZg9fEqvWliPj h5,.__instant.iInDXZg9fEqvWliPj h6,.__instant.iInDXZg9fEqvWliPj hr,.__instant.iInDXZg9fEqvWliPj p,.__instant.iInDXZg9fEqvWliPj pre {
  margin:0
}
.__instant.iInDXZg9fEqvWliPj fieldset {
  margin:0;
  padding:0
}
.__instant.iInDXZg9fEqvWliPj legend {
  padding:0
}
.__instant.iInDXZg9fEqvWliPj ol,.__instant.iInDXZg9fEqvWliPj ul {
  list-style:none;
  margin:0;
  padding:0
}
.__instant.iInDXZg9fEqvWliPj textarea {
  resize:vertical
}
.__instant.iInDXZg9fEqvWliPj input::placeholder,.__instant.iInDXZg9fEqvWliPj textarea::placeholder {
  color:inherit;
  opacity:1
}
.__instant.iInDXZg9fEqvWliPj [role=button],.__instant.iInDXZg9fEqvWliPj button {
  cursor:pointer
}
.__instant.iInDXZg9fEqvWliPj:disabled {
  cursor:default
}
.__instant.iInDXZg9fEqvWliPj audio,.__instant.iInDXZg9fEqvWliPj canvas,.__instant.iInDXZg9fEqvWliPj embed,.__instant.iInDXZg9fEqvWliPj iframe,.__instant.iInDXZg9fEqvWliPj img,.__instant.iInDXZg9fEqvWliPj object,.__instant.iInDXZg9fEqvWliPj svg,.__instant.iInDXZg9fEqvWliPj video {
  display:block;
  vertical-align:middle
}
.__instant.iInDXZg9fEqvWliPj img,.__instant.iInDXZg9fEqvWliPj video {
  height:auto;
  max-width:100%
}
.__instant.iInDXZg9fEqvWliPj [hidden] {
  display:none
}
.__instant {
  --instant-overflow-clip:clip
}
.__instant.iInDXZg9fEqvWliPj .instant-editor__link,.__instant.iInDXZg9fEqvWliPj .instant-rich-text a {
  text-decoration:underline
}
.__instant.iInDXZg9fEqvWliPj .instant-rich-text,.__instant.iInDXZg9fEqvWliPj .instant-rich-text h1,.__instant.iInDXZg9fEqvWliPj .instant-rich-text h2,.__instant.iInDXZg9fEqvWliPj .instant-rich-text h3,.__instant.iInDXZg9fEqvWliPj .instant-rich-text h4,.__instant.iInDXZg9fEqvWliPj .instant-rich-text h5,.__instant.iInDXZg9fEqvWliPj .instant-rich-text h6,.__instant.iInDXZg9fEqvWliPj .instant-rich-text p,.__instant.iInDXZg9fEqvWliPj [data-instant-dynamic-content-source^=COUNTDOWN_] span {
  background:var(--instant-text-color-gradient);
  background-clip:var(--instant-text-color-clip);
  color:inherit;
  display:block;
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
  font-weight:inherit;
  letter-spacing:inherit;
  line-height:inherit;
  overflow-wrap:inherit;
  text-decoration:inherit;
  text-transform:inherit;
  text-wrap:inherit;
  word-break:inherit;
  -webkit-text-fill-color:var(--instant-text-color-fill)
}
.__instant.iInDXZg9fEqvWliPj .instant-rich-text h1:before,.__instant.iInDXZg9fEqvWliPj .instant-rich-text h2:before,.__instant.iInDXZg9fEqvWliPj .instant-rich-text h3:before,.__instant.iInDXZg9fEqvWliPj .instant-rich-text h4:before,.__instant.iInDXZg9fEqvWliPj .instant-rich-text h5:before,.__instant.iInDXZg9fEqvWliPj .instant-rich-text h6:before,.__instant.iInDXZg9fEqvWliPj .instant-rich-text p:before {
  content:"\200B"
}
.__instant.iInDXZg9fEqvWliPj .instant-rich-text ol,.__instant.iInDXZg9fEqvWliPj .instant-rich-text ul {
  list-style:revert;
  padding-left:1.5em
}
.__instant.iInDXZg9fEqvWliPj .instant-visually-hidden {
  border:0;
  clip-path:inset(100%);
  height:1px;
  margin:-1px;
  padding:0;
  position:absolute;
  white-space:nowrap;
  width:1px;
  clip:rect(0,0,0,0);
  outline:0;
  outline-offset:unset;
  overflow:hidden
}
.__instant.iInDXZg9fEqvWliPj a[data-instant-disabled=true]:not(.instant-custom-variant-picker),.__instant.iInDXZg9fEqvWliPj button[data-instant-disabled=true]:not(.instant-custom-variant-picker) {
  cursor:not-allowed
}
.__instant.iInDXZg9fEqvWliPj .instant-variant-picker input[type=radio] {
  clip:rect(0,0,0,0);
  height:1px;
  overflow:hidden;
  position:absolute;
  width:1px
}
.__instant.iInDXZg9fEqvWliPj .instant-custom-variant-picker,.__instant.iInDXZg9fEqvWliPj .instant-variant-picker input[type=radio]+label,.__instant.iInDXZg9fEqvWliPj .instant-variant-picker select {
  cursor:pointer
}
.__instant.iInDXZg9fEqvWliPj .instant-variant-picker input[type=radio]+label:before {
  bottom:-1px;
  content:"";
  left:-1px;
  position:absolute;
  right:-1px;
  top:-1px;
  z-index:-1
}
.__instant.iInDXZg9fEqvWliPj .instant-variant-picker--select select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border:0;
  height:100%;
  left:0;
  opacity:0;
  outline:none;
  overflow:hidden;
  padding:inherit;
  position:absolute;
  top:0;
  width:100%
}
.__instant.iInDXZg9fEqvWliPj .instant-variant-picker--select:not(select) {
  pointer-events:none
}
.__instant.iInDXZg9fEqvWliPj .instant-variant-picker--select select:focus {
  outline:none
}
.__instant.iInDXZg9fEqvWliPj .instant-variant-picker--select select:focus-visible {
  box-shadow:none
}
.__instant.iInDXZg9fEqvWliPj .instant-selling-plan-selector {
  cursor:pointer
}
.__instant.iInDXZg9fEqvWliPj .instant-quantity-input {
  -moz-appearance:textfield;
  appearance:textfield;
  background:transparent;
  box-shadow:inherit;
  outline:none;
  outline-offset:unset;
  text-align:center
}
.__instant.iInDXZg9fEqvWliPj .instant-quantity-input::-webkit-inner-spin-button,.__instant.iInDXZg9fEqvWliPj .instant-quantity-input::-webkit-outer-spin-button {
  -webkit-appearance:none;
  margin:0
}
.__instant.iInDXZg9fEqvWliPj .instant-image__fallback {
  background-image:url(https://cdn.instant.so/static/templates/assets/placeholder-image-icon.svg)
}
.__instant.iInDXZg9fEqvWliPj .instant-image__fallback,.__instant.iInDXZg9fEqvWliPj .instant-media__fallback {
  background-color:rgba(0,0,0,.2);
  background-position:50%;
  background-repeat:no-repeat;
  background-size:clamp(0px,calc(100% - 4px),48px) clamp(0px,calc(100% - 4px),48px)
}
.__instant.iInDXZg9fEqvWliPj .instant-video__container {
  overflow:hidden;
  position:relative
}
.__instant.iInDXZg9fEqvWliPj .instant-tiktok__overlay,.__instant.iInDXZg9fEqvWliPj .instant-video__iframe,.__instant.iInDXZg9fEqvWliPj .instant-video__player,.__instant.iInDXZg9fEqvWliPj .instant-video__wrapper {
  background-color:#000;
  background-position:50%;
  background-repeat:no-repeat;
  background-size:cover;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  z-index:1
}
.__instant.iInDXZg9fEqvWliPj .instant-tiktok__overlay {
  opacity:50%
}
.__instant.iInDXZg9fEqvWliPj .instant-video__fallback {
  align-items:center;
  background-color:rgba(0,0,0,.2);
  border-radius:inherit;
  color:#fff;
  display:flex;
  font-size:14px;
  height:100%;
  justify-content:center;
  left:0;
  padding:16px;
  position:absolute;
  top:0;
  width:100%
}
.__instant.iInDXZg9fEqvWliPj .instant-video__fallback-external:before {
  background-color:hsla(0,0%,100%,.2);
  border-radius:99px;
  content:"";
  height:48px;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  width:48px
}
.__instant.iInDXZg9fEqvWliPj .instant-video__fallback-vimeo:before {
  background-color:hsla(0,0%,100%,.2);
  border-radius:4px;
  content:"";
  height:48px;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  width:84px
}
.__instant.iInDXZg9fEqvWliPj .instant-tiktok__fallback-icon {
  background-image:url(https://cdn.instant.so/static/templates/assets/placeholder-tiktok-icon.svg)
}
.__instant.iInDXZg9fEqvWliPj .instant-video__sizer {
  display:block;
  height:auto;
  max-height:100%;
  max-width:100%;
  width:auto
}
.__instant.iInDXZg9fEqvWliPj .instant-video__button {
  border-radius:6px;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  transition:background-color .24s ease-in-out,color .24s ease-in-out,opacity .24s ease-in-out,box-shadow .24s
}
.__instant.iInDXZg9fEqvWliPj .instant-youtube__button {
  color:#212121;
  opacity:.8
}
.__instant.iInDXZg9fEqvWliPj .instant-video__wrapper:hover .instant-youtube__button--red {
  color:#bf171d;
  opacity:1
}
.__instant.iInDXZg9fEqvWliPj .instant-video__wrapper:hover .instant-youtube__button--white {
  color:#fff;
  opacity:1
}
.__instant.iInDXZg9fEqvWliPj .instant-youtube__button-play {
  color:#fff;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  transition:color .24s ease-in-out
}
.__instant.iInDXZg9fEqvWliPj .instant-video__wrapper:hover .instant-youtube__button--white .instant-youtube__button-play {
  color:#212121
}
.__instant.iInDXZg9fEqvWliPj .instant-vimeo__button {
  align-items:center;
  background-color:#000;
  border-radius:4px;
  color:#fff;
  display:flex;
  height:48px;
  justify-content:center;
  width:84px
}
.__instant.iInDXZg9fEqvWliPj .instant-external__button {
  align-items:center;
  background-color:#000;
  border-radius:99px;
  border-style:inset;
  color:#fff;
  display:flex;
  height:48px;
  justify-content:center;
  width:48px
}
.__instant.iInDXZg9fEqvWliPj .instant-video__wrapper:hover .instant-external__button,.__instant.iInDXZg9fEqvWliPj .instant-video__wrapper:hover .instant-vimeo__button {
  background-color:var(--video-button-color);
  color:#000
}
.__instant.iInDXZg9fEqvWliPj .instant-tiktok__button {
  background-image:url(https://cdn.instant.so/static/templates/assets/play-button.svg);
  height:72px;
  width:72px
}
.__instant.iInDXZg9fEqvWliPj .instant-video-fill__wrapper {
  border-radius:inherit;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%
}
.__instant.iInDXZg9fEqvWliPj .instant-video-fill__overlay,.__instant.iInDXZg9fEqvWliPj .instant-video-fill__video {
  border-radius:inherit;
  display:block;
  height:100%;
  left:0;
  object-fit:cover;
  position:absolute;
  top:0;
  width:100%
}
.__instant.iInDXZg9fEqvWliPj .instant-video-fill__controls {
  background-color:#fff;
  border:1px inset rgba(0,0,0,.1);
  border-radius:99px;
  bottom:32px;
  padding:8px;
  position:absolute;
  right:32px
}
@media only screen and (max-width:768px) {
  .__instant.iInDXZg9fEqvWliPj .instant-video-fill__controls {
  bottom:20px;
  right:20px
}
}.__instant.iInDXZg9fEqvWliPj .instant-video-fill__controls .instant-video-fill__pause,.__instant.iInDXZg9fEqvWliPj .instant-video-fill__controls .instant-video-fill__play {
  display:none;
  opacity:0;
  transition:opacity .2s ease-in-out
}
.__instant.iInDXZg9fEqvWliPj .instant-video-fill__wrapper[data-paused=false] .instant-video-fill__controls .instant-video-fill__play,.__instant.iInDXZg9fEqvWliPj .instant-video-fill__wrapper[data-paused=true] .instant-video-fill__controls .instant-video-fill__pause {
  display:block;
  opacity:1
}
.__instant.iInDXZg9fEqvWliPj .instant-slider-horizontal {
  touch-action:pan-y
}
.__instant.iInDXZg9fEqvWliPj .instant-slider-horizontal>.instant-slider-wrapper {
  flex-direction:row
}
.__instant.iInDXZg9fEqvWliPj .instant-slider-vertical {
  touch-action:pan-x
}
.__instant.iInDXZg9fEqvWliPj .instant-slider-vertical>.instant-slider-wrapper {
  flex-direction:column
}
.__instant.iInDXZg9fEqvWliPj .instant-slider-free-mode>.instant-slider-wrapper {
  transition-timing-function:ease-out
}
.__instant.iInDXZg9fEqvWliPj .instant-slider-auto-slides .instant-slider-slide {
  max-width:none;
  min-width:unset
}
.__instant.iInDXZg9fEqvWliPj .instant-slider-thumbs>.instant-slider-wrapper>.instant-slider-slide {
  cursor:pointer
}
.__instant.iInDXZg9fEqvWliPj .instant-slider-wrapper {
  align-items:inherit;
  align-self:stretch;
  box-sizing:content-box;
  display:flex;
  height:inherit;
  order:1;
  transform:translateZ(0);
  transition-property:transform;
  transition-timing-function:ease;
  width:100%
}
.__instant.iInDXZg9fEqvWliPj .instant-slider-slide {
  flex-shrink:0;
  transition-property:transform
}
.__instant.iInDXZg9fEqvWliPj .instant-slider-button-disabled:not(.__instant_builder_element) {
  opacity:.35
}
.__instant.iInDXZg9fEqvWliPj .instant-slider-button-lock {
  display:none!important
}
.__instant.iInDXZg9fEqvWliPj .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active,.__instant.iInDXZg9fEqvWliPj .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-main {
  display:flex;
  transform:scale(1)
}
.__instant.iInDXZg9fEqvWliPj .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-next,.__instant.iInDXZg9fEqvWliPj .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-prev {
  display:flex;
  transform:scale(.66)
}
.__instant.iInDXZg9fEqvWliPj .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-next-next,.__instant.iInDXZg9fEqvWliPj .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-prev-prev {
  display:flex;
  transform:scale(.33)
}
.__instant.iInDXZg9fEqvWliPj .instant-slider-pagination-bullet {
  cursor:pointer;
  flex-shrink:0
}
@keyframes instant-loading-__instant-iInDXZg9fEqvWliPj {
  0% {
  opacity:1
}
50% {
  opacity:.7
}
to {
  opacity:1
}
}.__instant.iInDXZg9fEqvWliPj .instant-loading {
  animation:instant-loading-__instant-iInDXZg9fEqvWliPj 1s infinite
}
.__instant.iInDXZg9fEqvWliPj .instant-image__main {
  aspect-ratio:inherit;
  border-radius:inherit;
  height:100%;
  max-height:inherit;
  object-fit:inherit;
  object-position:inherit;
  width:100%
}
@media only screen and (min-width:1025px) {
  .__instant.iInDXZg9fEqvWliPj .instant-responsive:not(.instant-responsive--desktop) {
  display:none
}
}@media only screen and (min-width:769px) and (max-width:1024px) {
  .__instant.iInDXZg9fEqvWliPj .instant-responsive:not(.instant-responsive--laptop) {
  display:none
}
}@media only screen and (min-width:576px) and (max-width:768px) {
  .__instant.iInDXZg9fEqvWliPj .instant-responsive:not(.instant-responsive--tablet) {
  display:none
}
}@media only screen and (max-width:575px) {
  .__instant.iInDXZg9fEqvWliPj .instant-responsive:not(.instant-responsive--mobile) {
  display:none
}
}.__instant.iInDXZg9fEqvWliPj .instant-icon,.__instant.iInDXZg9fEqvWliPj .instant-image__fill {
  border-radius:inherit;
  height:100%;
  left:0;
  object-fit:cover;
  position:absolute;
  top:0;
  width:100%
}
.__instant.iInDXZg9fEqvWliPj .instant-fill[data-trigger],.__instant.iInDXZg9fEqvWliPj .instant-icon[data-trigger],.__instant.iInDXZg9fEqvWliPj .instant-image[data-trigger] {
  opacity:0
}
.__instant.iInDXZg9fEqvWliPj .instant-icon,.__instant.iInDXZg9fEqvWliPj .instant-image__main {
  transition-delay:inherit;
  transition-duration:inherit;
  transition-property:opacity;
  transition-timing-function:inherit
}
.__instant.iInDXZg9fEqvWliPj div[href],.__instant.iInDXZg9fEqvWliPj form[href] {
  cursor:pointer
}
.__instant.iInDXZg9fEqvWliPj .instant-ticker-container {
  display:flex;
  flex-direction:row;
  overflow:hidden;
  position:relative;
  width:100%
}
.__instant.iInDXZg9fEqvWliPj .instant-ticker-container:hover div {
  animation-play-state:var(--pause-on-hover)
}
.__instant.iInDXZg9fEqvWliPj .instant-ticker-container:active div {
  animation-play-state:var(--pause-on-click)
}
@keyframes instant-ticker-instant-scroll-__instant-iInDXZg9fEqvWliPj {
  0% {
  transform:translateZ(0)
}
to {
  transform:translate3d(calc(-100% - var(--gap)),0,0)
}
}.__instant.iInDXZg9fEqvWliPj .instant-ticker {
  animation:instant-ticker-instant-scroll-__instant-iInDXZg9fEqvWliPj var(--duration) linear infinite;
  animation-delay:0s;
  animation-direction:var(--direction);
  animation-play-state:var(--play);
  transform:translateZ(0)
}
.__instant.iInDXZg9fEqvWliPj .instant-ticker,.__instant.iInDXZg9fEqvWliPj .instant-ticker-initial-child-container {
  align-items:inherit;
  column-gap:inherit;
  display:flex;
  flex:0 0 auto;
  flex-direction:row;
  min-width:auto
}
.__instant.iInDXZg9fEqvWliPj .instant-scroll--transform,.__instant.iInDXZg9fEqvWliPj .instant-scroll--transform-fade {
  transform:var(--instant-scroll-from-translate,var(--instant-scroll-to-translate,translate(0,0))) var(--instant-scroll-from-scale,var(--instant-scroll-to-scale,scale(1))) var(--instant-scroll-to-rotate,rotateZ(0)) var(--instant-scroll-from-rotate,rotateX(0) rotateY(0))
}
.__instant.iInDXZg9fEqvWliPj .instant-scroll--fade,.__instant.iInDXZg9fEqvWliPj .instant-scroll--fade:not(.instant-scroll-trigger--hidden),.__instant.iInDXZg9fEqvWliPj .instant-scroll--transform-fade:not(.instant-scroll-trigger--hidden),.__instant.iInDXZg9fEqvWliPj .instant-scroll--transform:not(.instant-scroll-trigger--hidden) {
  transform:var(--instant-scroll-to-translate,translate(0,0)) var(--instant-scroll-to-scale,scale(1)) var(--instant-scroll-to-rotate,rotate(0))
}
.__instant.iInDXZg9fEqvWliPj .instant-scroll--fade,.__instant.iInDXZg9fEqvWliPj .instant-scroll--transform-fade {
  opacity:0
}
.__instant.iInDXZg9fEqvWliPj .instant-scroll--fade:not(.instant-scroll-trigger--hidden),.__instant.iInDXZg9fEqvWliPj .instant-scroll--transform-fade:not(.instant-scroll-trigger--hidden) {
  opacity:1
}
.__instant.iInDXZg9fEqvWliPj .i6KNePbW2hznyKIFB {
  align-items:center;
  background:#fff;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  overflow:var(--instant-overflow-clip,hidden);
  position:relative
}
.__instant.iInDXZg9fEqvWliPj .i6oQ0xCONiovj6I1T {
  align-items:center;
  flex-direction:column;
  margin:80px 0;
  padding:0
}
.__instant.iInDXZg9fEqvWliPj .i6oQ0xCONiovj6I1T,.__instant.iInDXZg9fEqvWliPj .iH4AvEweyLxzqq8YZ {
  column-gap:32px;
  display:flex;
  height:auto;
  justify-content:flex-start;
  min-height:200px;
  position:relative;
  row-gap:32px;
  width:100%
}
.__instant.iInDXZg9fEqvWliPj .iH4AvEweyLxzqq8YZ {
  align-items:flex-start;
  flex-direction:row;
  max-width:1360px;
  padding:0 80px
}
.__instant.iInDXZg9fEqvWliPj .iAdjvcjLiWIuPQN42 {
  align-items:stretch;
  column-gap:80px;
  display:flex;
  flex-direction:row;
  height:auto;
  justify-content:flex-start;
  min-height:200px;
  position:relative;
  row-gap:80px;
  width:100%
}
.__instant.iInDXZg9fEqvWliPj .icCowYUUBhshMyqiH {
  align-items:flex-start;
  align-self:stretch;
  border-radius:0 0 0 0;
  column-gap:32px;
  display:flex;
  flex-basis:0%;
  flex-direction:column;
  flex-grow:7;
  flex-shrink:1;
  justify-content:center;
  margin:0;
  min-height:540px;
  min-width:0;
  padding:0;
  position:relative;
  row-gap:32px
}
.__instant.iInDXZg9fEqvWliPj .iv6mI9Hcox7gfZ4YH {
  align-self:stretch;
  aspect-ratio:1/1;
  border-radius:20px 20px 20px 20px;
  height:auto;
  margin:0;
  max-width:90%;
  object-fit:cover;
  position:relative
}
.__instant.iInDXZg9fEqvWliPj .iZ3fu6QtJBCRqjR5h {
  align-items:flex-start;
  align-self:stretch;
  column-gap:20px;
  display:flex;
  flex-basis:0%;
  flex-direction:column;
  flex-grow:7;
  flex-shrink:1;
  justify-content:center;
  min-width:0;
  padding:0;
  position:relative;
  row-gap:20px
}
.__instant.iInDXZg9fEqvWliPj .ipXBEdShSQd9jQ2WP {
  color:#bfbfbf;
  font-size:18px;
  height:auto;
  letter-spacing:0;
  margin:0;
  max-width:480px
}
.__instant.iInDXZg9fEqvWliPj .iFNjsRkiNMdSKUyKI,.__instant.iInDXZg9fEqvWliPj .ipXBEdShSQd9jQ2WP {
  align-self:stretch;
  display:flex;
  flex-direction:column;
  font-family:"Inter", sans-serif;
  font-weight:500;
  justify-content:flex-start;
  position:relative
}
.__instant.iInDXZg9fEqvWliPj .iFNjsRkiNMdSKUyKI {
  color:#000001;
  font-size:44px;
  letter-spacing:-.02em;
  max-width:400px
}
.__instant.iInDXZg9fEqvWliPj .icujx8mnQ7xI2HfNx {
  align-self:stretch;
  color:#000;
  display:flex;
  flex-direction:column;
  font-family:"Inter", sans-serif;
  font-size:18px;
  font-weight:400;
  justify-content:flex-start;
  letter-spacing:-.01em;
  line-height:1.2;
  max-width:450px;
  position:relative
}
.__instant.iInDXZg9fEqvWliPj .ip2kMIY5HqCaIhT0E {
  align-items:flex-start;
  column-gap:16px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  margin:10px 0;
  padding:0;
  position:relative;
  row-gap:16px;
  width:auto
}
.__instant.iInDXZg9fEqvWliPj .iUMSjxWW3EmahTrHh {
  align-items:center;
  background:#fff;
  border:1px solid #222;
  border-radius:10px 10px 10px 10px;
  column-gap:10px;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  height:auto;
  justify-content:center;
  margin:0;
  padding:12px 50px;
  position:relative;
  row-gap:10px;
  transition-duration:125ms;
  transition-property:color,background-color,fill,opacity,transform,border,box-shadow,left;
  transition-timing-function:ease-in-out
}
.__instant.iInDXZg9fEqvWliPj .iUMSjxWW3EmahTrHh:hover {
  background:#d1d1d1
}
.__instant.iInDXZg9fEqvWliPj .iUMSjxWW3EmahTrHh .instant-fill {
  transition-duration:125ms;
  transition-property:opacity;
  transition-timing-function:ease-in-out
}
.__instant.iInDXZg9fEqvWliPj .iUMSjxWW3EmahTrHh:hover .instant-fill[data-trigger=hover] {
  opacity:1
}
.__instant.iInDXZg9fEqvWliPj .iUMSjxWW3EmahTrHh:hover .instant-fill:not([data-trigger=hover]) {
  opacity:0
}
.__instant.iInDXZg9fEqvWliPj .irAddAeiPdjtqbzp0 {
  color:#000;
  display:flex;
  flex-direction:column;
  font-family:"Inter", sans-serif;
  font-size:14px;
  justify-content:flex-start;
  max-width:100%;
  position:relative
}
.__instant.iInDXZg9fEqvWliPj .imouqiO6sXpYMhNmZ {
  align-items:flex-start;
  column-gap:16px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  margin:10px 0;
  padding:0;
  position:relative;
  row-gap:16px;
  width:auto
}
@media (max-width:1024px) {
  .__instant.iInDXZg9fEqvWliPj .i6oQ0xCONiovj6I1T {
  padding:80px 0
}
.__instant.iInDXZg9fEqvWliPj .iH4AvEweyLxzqq8YZ {
  padding:0 64px
}
.__instant.iInDXZg9fEqvWliPj .iAdjvcjLiWIuPQN42 {
  column-gap:40px;
  flex-direction:column;
  row-gap:40px
}
.__instant.iInDXZg9fEqvWliPj .icCowYUUBhshMyqiH {
  align-self:stretch;
  flex-basis:0%;
  flex-grow:1;
  flex-shrink:1;
  height:auto;
  min-height:500px;
  width:auto
}
.__instant.iInDXZg9fEqvWliPj .iZ3fu6QtJBCRqjR5h {
  align-self:stretch;
  flex-basis:0%;
  flex-grow:1;
  flex-shrink:1;
  height:auto;
  min-height:0;
  width:auto
}
.__instant.iInDXZg9fEqvWliPj .iFNjsRkiNMdSKUyKI,.__instant.iInDXZg9fEqvWliPj .icujx8mnQ7xI2HfNx {
  align-self:stretch;
  max-width:100%;
  width:auto
}
}@media (max-width:768px) {
  .__instant.iInDXZg9fEqvWliPj .i6oQ0xCONiovj6I1T {
  padding:40px 0
}
.__instant.iInDXZg9fEqvWliPj .iH4AvEweyLxzqq8YZ {
  padding:0
}
.__instant.iInDXZg9fEqvWliPj .iZ3fu6QtJBCRqjR5h {
  align-self:stretch;
  flex-basis:0%;
  flex-grow:1;
  flex-shrink:1;
  height:auto;
  min-height:0;
  padding:0 48px;
  width:auto
}
.__instant.iInDXZg9fEqvWliPj .ipXBEdShSQd9jQ2WP {
  align-self:stretch;
  width:auto
}
.__instant.iInDXZg9fEqvWliPj .iFNjsRkiNMdSKUyKI {
  align-self:stretch;
  font-size:32px;
  width:auto
}
.__instant.iInDXZg9fEqvWliPj .icujx8mnQ7xI2HfNx {
  align-self:stretch;
  font-size:18px;
  width:auto
}
}@media (max-width:575px) {
  .__instant.iInDXZg9fEqvWliPj .i6oQ0xCONiovj6I1T {
  padding:32px 0
}
.__instant.iInDXZg9fEqvWliPj .iAdjvcjLiWIuPQN42 {
  column-gap:40px;
  row-gap:40px
}
.__instant.iInDXZg9fEqvWliPj .icCowYUUBhshMyqiH {
  align-items:flex-start;
  align-self:stretch;
  flex-basis:0%;
  flex-grow:1;
  flex-shrink:1;
  height:auto;
  margin:0 20px;
  min-height:0;
  width:auto
}
.__instant.iInDXZg9fEqvWliPj .iv6mI9Hcox7gfZ4YH {
  align-self:stretch;
  max-width:100%;
  width:auto
}
.__instant.iInDXZg9fEqvWliPj .iZ3fu6QtJBCRqjR5h {
  align-self:stretch;
  flex-basis:0%;
  flex-grow:1;
  flex-shrink:1;
  height:auto;
  min-height:0;
  padding:0 24px;
  width:auto
}
.__instant.iInDXZg9fEqvWliPj .iFNjsRkiNMdSKUyKI {
  align-self:stretch;
  font-size:32px;
  width:auto
}
.__instant.iInDXZg9fEqvWliPj .icujx8mnQ7xI2HfNx {
  align-self:stretch;
  font-size:18px;
  width:auto
}
.__instant.iInDXZg9fEqvWliPj .ip2kMIY5HqCaIhT0E {
  align-self:stretch;
  flex-direction:column;
  padding:0;
  width:auto
}
.__instant.iInDXZg9fEqvWliPj .iUMSjxWW3EmahTrHh {
  align-self:stretch;
  padding:14px 24px
}
.__instant.iInDXZg9fEqvWliPj .imouqiO6sXpYMhNmZ {
  align-self:stretch;
  flex-direction:column;
  padding:0;
  width:auto
}
}
    
  {%- endstyle -%}
  <!--  -->
  {{ 'instant-InDXZg9fEqvWliPj.css' | asset_url | stylesheet_tag }}
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&amp;display=swap" rel="stylesheet">
  <div data-instant-type="root" class="i6KNePbW2hznyKIFB">
    {%- liquid
      assign loading = 'eager'
      assign fetchpriority = 'auto'
      if section.location == 'footer'
        assign loading = 'lazy'
      elsif section.location == 'header'
        assign fetchpriority = 'high'
      elsif section.location == 'template'
        if section.index == 1
          assign fetchpriority = 'high'
        elsif section.index > 2
          assign loading = 'lazy'
        endif
      endif
    -%}
    <div class="i6oQ0xCONiovj6I1T" data-instant-type="container" id="i6oQ0xCONiovj6I1T">
      <div class="iH4AvEweyLxzqq8YZ" data-instant-type="container">
        <div class="iAdjvcjLiWIuPQN42" data-instant-type="container">
          <div class="icCowYUUBhshMyqiH" data-instant-type="container">
            <div data-instant-type="image" class="iv6mI9Hcox7gfZ4YH">
              {% if section.settings.image_v6mI9Hcox7gfZ4YH and section.settings.image_v6mI9Hcox7gfZ4YH != blank %}
                {{ section.settings.image_v6mI9Hcox7gfZ4YH | image_url: width: 1280 | image_tag: class: 'instant-image instant-image__main', alt: section.settings.image_v6mI9Hcox7gfZ4YH.alt, fetchpriority: fetchpriority, loading: loading, decoding: 'async' }}
              {% else %}
                <img alt="" srcSet="https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Sweat-tec.png?v=1733757152?width=360 360w, https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Sweat-tec.png?v=1733757152?width=640 640w, https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Sweat-tec.png?v=1733757152?width=750 750w, https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Sweat-tec.png?v=1733757152?width=828 828w, https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Sweat-tec.png?v=1733757152?width=1080 1080w, https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Sweat-tec.png?v=1733757152?width=1200 1200w, https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Sweat-tec.png?v=1733757152?width=1920 1920w, https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Sweat-tec.png?v=1733757152?width=2048 2048w, https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Sweat-tec.png?v=1733757152?width=3840 3840w" src="https://cdn.shopify.com/s/files/1/0686/9581/8505/files/Sweat-tec.png?v=1733757152" width="1521" height="856" decoding="async" fetchpriority="{{ fetchpriority }}" loading="{{ loading }}" class="instant-image instant-image__main">
              {% endif %}
            </div>
          </div>
          <div class="iZ3fu6QtJBCRqjR5h" data-instant-type="container">
            <div data-instant-type="text" class="instant-rich-text ipXBEdShSQd9jQ2WP">
              <div>{{ section.settings.text_pXBEdShSQd9jQ2WP }}</div>
            </div>
            <div data-instant-type="text" class="instant-rich-text iFNjsRkiNMdSKUyKI">
              <div>{{ section.settings.text_FNjsRkiNMdSKUyKI }}</div>
            </div>
            <div data-instant-type="text" class="instant-rich-text icujx8mnQ7xI2HfNx">
              <div>{{ section.settings.text_cujx8mnQ7xI2HfNx }}</div>
            </div>
            <div class="ip2kMIY5HqCaIhT0E" data-instant-type="container">
              <a class="iUMSjxWW3EmahTrHh" data-instant-type="container" href="{{ section.settings.url_UMSjxWW3EmahTrHh | default: 'https://drye.se/pages/why-us' }}" rel="noopener noreferrer">
                <div data-instant-type="text" class="instant-rich-text irAddAeiPdjtqbzp0">
                  <div>{{ section.settings.text_rAddAeiPdjtqbzp0 }}</div>
                </div>
              </a>
              <div class="imouqiO6sXpYMhNmZ" data-instant-type="container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Product-info",
  "tag": "section",
  "enabled_on": { "templates": ["*"] },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_v6mI9Hcox7gfZ4YH",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "text_pXBEdShSQd9jQ2WP",
      "label": "Text",
      "default": "<p>Our techology</p>"
    },
    {
      "type": "richtext",
      "id": "text_FNjsRkiNMdSKUyKI",
      "label": "Text",
      "default": "<h3>Moistrue transport technology</h3>"
    },
    {
      "type": "richtext",
      "id": "text_cujx8mnQ7xI2HfNx",
      "label": "Text",
      "default": "<p>Our advanced technology effectively absorbs moisture from the inside of the glove and transports it to the outside of the fabric. By keeping hands dry, our glove not only improves the user experience but also enhances the quality of life for billions of people suffering from hand-related issues.</p>"
    },
    {
      "type": "url",
      "id": "url_UMSjxWW3EmahTrHh",
      "label": "Button URL"
    },
    {
      "type": "richtext",
      "id": "text_rAddAeiPdjtqbzp0",
      "label": "Text",
      "default": "<p>Learn more</p>"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Product-info",
      "settings": {
        "text_pXBEdShSQd9jQ2WP": "<p>Our techology</p>",
        "text_FNjsRkiNMdSKUyKI": "<h3>Moistrue transport technology</h3>",
        "text_cujx8mnQ7xI2HfNx": "<p>Our advanced technology effectively absorbs moisture from the inside of the glove and transports it to the outside of the fabric. By keeping hands dry, our glove not only improves the user experience but also enhances the quality of life for billions of people suffering from hand-related issues.</p>",
        "url_UMSjxWW3EmahTrHh": "https://drye.se/pages/why-us",
        "text_rAddAeiPdjtqbzp0": "<p>Learn more</p>"
      }
    }
  ]
}
{% endschema %}