{%- assign ss = section.settings -%}
<style>
  .reviews-section {
    background: {{section.settings.background_color}};
  }
  #shopify-section-{{ section.id }} .top .title,
  #shopify-section-{{ section.id }} .bottom swiper-container .slide-content,
  #shopify-section-{{ section.id }} .bottom swiper-container swiper-slide .author .profile .name,
  #shopify-section-{{ section.id }} .bottom swiper-container swiper-slide .author .profile .prof {
    color: {{section.settings.all_text_color}};
  }
  #shopify-section-{{ section.id }} .container .bottom prev-next-buttons > * .stripe {
    background: {{section.settings.all_text_color}};
  }
  @media screen and (min-width: 1025px) {
    #shopify-section-{{ section.id }} .top .title {
      font-size: {{ section.settings.title_font_size_desktop }}px;
      line-height: {{ section.settings.title_line_height_desktop }}px;
    }
    #shopify-section-{{ section.id }} .bottom swiper-container swiper-slide .author .profile .name {
      font-size: {{ section.settings.name_font_size_desktop }}px;
      line-height: {{ section.settings.name_line_height_desktop }}px;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    #shopify-section-{{ section.id }} .top .title {
      font-size: {{ section.settings.title_font_size_tablet }}px;
      line-height: {{ section.settings.title_line_height_tablet }}px;
    }
    #shopify-section-{{ section.id }} .bottom swiper-container swiper-slide .author .profile .name {
      font-size: {{ section.settings.name_font_size_tablet }}px;
      line-height: {{ section.settings.name_line_height_tablet }}px;
    }
  }
  @media screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} .top .title {
      font-size: {{ section.settings.title_font_size_mobile }}px;
      line-height: {{ section.settings.title_line_height_mobile }}px;
    }
    #shopify-section-{{ section.id }} .bottom swiper-container swiper-slide .author .profile .name {
      font-size: {{ section.settings.name_font_size_mobile }}px;
      line-height: {{ section.settings.name_line_height_mobile }}px;
    }
  }

  /* Override bara för Reviews(New) */
#shopify-section-{{ section.id }} .swiper-wrapper {
  padding: 0 !important;        /* ta bort 80px padding */
  align-items: stretch !important;
}

#shopify-section-{{ section.id }} swiper-slide {
  min-height: auto !important;  /* säkerställ att slides krymper till innehållet */
  height: auto !important;
}

</style>
<div class="reviews-content container p-0" id="inverseHeader" data-inversed="false">
  <div class="top">
    {%- if ss.title != blank -%}
      <h2 class="title">{{ ss.title }}</h2>
      <a href="https://se.trustpilot.com/review/hudsverige.se" target="_blank">
        <img src="{{ 'trustpilot-reviews.png' | asset_url }}" alt="Reviews trustpilot" class="reviews-image">
      </a>
    {%- endif -%}
    {%- if ss.subtitle != blank -%}
      <div class="subtitle">
        {{ ss.subtitle | split: '|' | first }}
        <span>
          {{ ss.subtitle | split: '|' | last }}
          <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.5 0.500977L18.2611 7.44794L26.3393 9.82925L21.2036 16.504L21.4351 24.9227L13.5 22.101L5.5649 24.9227L5.79644 16.504L0.660737 9.82925L8.73894 7.44794L13.5 0.500977Z" fill="#FFB800"/>
          </svg>
        </span>
      </div>
    {%- endif -%}
  </div>
  <div class="bottom">
    {%- if section.blocks.size > 0 -%}
      <swiper-container class="reviews-slider" init="false">
        {%- for block in section.blocks -%}
          {%- assign bs = block.settings -%}
          <swiper-slide>
            <div class="slide-content">
              <img
                class="quote-marks"
                src="https://cdn.shopify.com/s/files/1/0686/9581/8505/files/right_x5F_quote_x5F_alt.png?v=1744764873"
                width="30"
                alt="quotes"
              >
              {% comment %} {%- render 'icon', type: 'quote', color: section.settings.all_text_color -%} {% endcomment %}
              {%- if bs.content != blank -%}
                {% comment %} <div class="content"> {% endcomment %}
                {{ bs.content }}
                {% comment %} </div> {% endcomment %}
              {%- endif -%}
            </div>
            {%- if bs.author != blank -%}
              <div class="author">
                {%- if bs.avatar != blank -%}
  <div class="avatar">
    {{ bs.avatar
      | image_url: width: 400
      | image_tag:
        loading: 'lazy',
        class: 'avatar-img',
        sizes: '50px',
        widths: '50,100,150,200,300,400'
    }}
  </div>
{%- endif -%}
                <div class="profile">
                  <div class="name">{{ bs.author }}</div>
                  <div class="prof">{{ bs.prof }}</div>
                </div>
              </div>
            {%- endif -%}
          </swiper-slide>
        {%- endfor -%}
      </swiper-container>
      <prev-next-buttons>
        <div class="prev">
          {%- render 'icon', type: 'arrow-left-big', color: section.settings.all_text_color -%}
          <div class="stripe"></div>
        </div>
        <div class="next">
          <div class="stripe"></div>
          {%- render 'icon', type: 'arrow-right-big', color: section.settings.all_text_color -%}
        </div>
      </prev-next-buttons>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Reviews(New)",
  "tag": "section",
  "class": "reviews-section",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background",
      "default": "#111111"
    },
    {
      "type": "color",
      "id": "all_text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Title Settings"
    },
    {
      "type": "range",
      "id": "title_font_size_desktop",
      "label": "Title Font Size(Desktop)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 48,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "title_line_height_desktop",
      "label": "Title Line Height(Desktop)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 55,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "title_font_size_tablet",
      "label": "Title Font Size(Tablet)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 42,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "title_line_height_tablet",
      "label": "Title Line Height(Tablet)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "title_font_size_mobile",
      "label": "Title Font Size(Mobile)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 24,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "title_line_height_mobile",
      "label": "Title Line Height(Mobile)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 30,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "Name Settings"
    },
    {
      "type": "range",
      "id": "name_font_size_desktop",
      "label": "Name Font Size(Desktop)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 18,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "name_line_height_desktop",
      "label": "Name Line Height(Desktop)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 24,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "name_font_size_tablet",
      "label": "Name Font Size(Tablet)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 18,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "name_line_height_tablet",
      "label": "Name Line Height(Tablet)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 24,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "name_font_size_mobile",
      "label": "Name Font Size(Mobile)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 18,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "name_line_height_mobile",
      "label": "Name Line Height(Mobile)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 24,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "name": "Review",
      "type": "review",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        },
        {
          "type": "text",
          "id": "prof",
          "label": "Profession"
        },
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "Avatar"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews(New)",
      "settings": {}
    }
  ]
}
{% endschema %}
