{{ 'review-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .review-slider {
    background-color: {{ section.settings.background }};
  }

  .review-slider__play {
    background-color: {{ section.settings.button_background }};
  }

  .review-slider__play:hover {
    background-color: {{ section.settings.hover_button_background }}; 
  }

  .review-slider__play:hover svg {
    fill: {{ section.settings.hover_button_icon_color }};
  }
  
  .review-slider__play svg {
    fill: {{ section.settings.button_icon_color }};
  }

  .review-slider__popup-video {
    aspect-ratio: {{ section.settings.video_aspect_ratio }};
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: {{ section.settings.accent_color }};
  }

  .swiper-pagination-bullet-active {
    background-color: {{ section.settings.accent_color }};
  }
  
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="review-slider js-review-slider section-{{ section.id }}-padding" data-slides="{{ section.settings.slides_desktop }}">
  <div class="container">
    {% if section.settings.title != blank %}
      <h2 class="title review-slider__title">{{ section.settings.title }}</h2>
    {% endif %}
    <div class="swiper">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {% when 'slide' %}
            <div class="swiper-slide">
              <div class="review-slider__slide">
                {% if block.settings.image %}
                  <img src="{{ block.settings.image.src | image_url }}" alt="{{ block.settings.image.alt }}" width="400" height="400"/>
                {% endif %}
                {% if block.settings.video != blank and block.settings.video_url == blank %}
                  <button class="review-slider__play js-review-slider-play" type="button" title="Play video">
                    {% render 'icon-play' %}
                  </button>
                  {{
                    block.settings.video
                    | video_tag:
                      class: 'js-review-slide-video',
                      image_size: '1100x',
                      autoplay: true,
                      loop: true,
                      controls: false,
                      muted: true,
                      playsinline: true
                  }}
                {% elsif block.settings.video_url != blank and block.settings.video == blank %}
                  <button class="review-slider__play js-review-slider-play" type="button" title="Play video">
                    {% render 'icon-play' %}
                  </button>
                  {%- if block.settings.video_url.type == 'youtube' -%}
                    <iframe
                      src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1"
                      class="js-youtube js-review-slide-video"
                      allow="autoplay; encrypted-media"
                      allowfullscreen
                      title="{{ block.settings.description | escape }}"
                    ></iframe>
                  {%- else -%}
                    <iframe
                      src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}"
                      class="js-vimeo js-review-slide-video"
                      allow="autoplay; encrypted-media"
                      allowfullscreen
                      title="{{ block.settings.description | escape }}"
                    ></iframe>
                  {%- endif -%}
                {% endif %}
                {% if block.settings.title != blank %}
                <h3 class="review-slider__slide-title">{{ block.settings.title }}</h3>
                {% endif %}
              </div>
            </div>
          {% endcase %}
        {%- endfor -%}
      </div>
      
      {% if section.settings.show_pagination == true %}
        <div class="swiper-pagination"></div>
      {% endif %}
    
      {% if section.settings.show_arrows == true %}
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      {% endif %}
    </div>
  </div>
</section>

<script src="{{ 'review-slider.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "Review slider",
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "label": "Section title",
        "id": "title"
      },
      {
        "type": "range",
        "id": "slides_desktop",
        "min": 1,
        "max": 8,
        "step": 1,
        "label": "Number of slides on desktop",
        "default": 4
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background color"
      },
      {
        "type": "color",
        "id": "button_background",
        "label": "Play button background color"
      },
      {
        "type": "color",
        "id": "button_icon_color",
        "label": "Play button icon color"
      },
      {
        "type": "color",
        "id": "hover_button_background",
        "label": "Play button hover background color"
      },
      {
        "type": "color",
        "id": "hover_button_icon_color",
        "label": "Play button hover icon color"
      },
      {
        "type": "color",
        "id": "accent_color",
        "label": "Arrows and pagination color"
      },
      {
        "type": "select",
        "id": "video_aspect_ratio",
        "label": "Popup video aspect ratio",
        "options": [
          {
            "label": "9/16",
            "value": "9/16"
          },
          {
            "label": "16/9",
            "value": "16/9"
          }
        ],
        "default": "9/16"
      },
      {
        "type": "checkbox",
        "id": "show_pagination",
        "label": "Show pagination",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_arrows",
        "label": "Show arrows",
        "default": true
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 80
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 80
      }
    ],
    "blocks": [
      {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Youtube/Vimeo video",
          "accept": [
            "youtube",
            "vimeo"
          ]
        },
        {
          "type": "video",
          "id": "video",
          "label": "Shopify hosted video"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    },
    ],
    "presets": [
      {
        "name": "Review slider"
      }
    ]
  }
{% endschema %}
