{%- assign ss = section.settings -%}
<div class="reviews-content container p-0" id="inverseHeader" data-inversed="false">
  <div class="top">
    {%- if ss.title != blank -%}
      <h2 class="title">{{ ss.title }}</h2>
      <a href="https://se.trustpilot.com/review/hudsverige.se" target="_blank">
        <img src="{{ 'trustpilot-reviews.png' | asset_url }}" alt="Reviews trustpilot" class="reviews-image">
      </a>
    {%- endif -%}
    {%- if ss.subtitle != blank -%}
      <div class="subtitle">
        {{ ss.subtitle | split: '|' | first }}
        <span>
          {{ ss.subtitle | split: '|' | last }}
          <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.5 0.500977L18.2611 7.44794L26.3393 9.82925L21.2036 16.504L21.4351 24.9227L13.5 22.101L5.5649 24.9227L5.79644 16.504L0.660737 9.82925L8.73894 7.44794L13.5 0.500977Z" fill="#FFB800"/>
          </svg>
        </span>
      </div>
    {%- endif -%}
  </div>
  <div class="bottom">
    {%- if section.blocks.size > 0 -%}
      <swiper-container class="reviews-slider" init="false">
        {%- for block in section.blocks -%}
          {%- assign bs = block.settings -%}
          <swiper-slide>
            <div class="slide-content">
              {%- render 'icon', type: 'quote' -%}
              {%- if bs.content != blank -%}
                {% comment %} <div class="content"> {% endcomment %}
                {{ bs.content }}
                {% comment %} </div> {% endcomment %}
              {%- endif -%}
            </div>
            {%- if bs.author != blank -%}
              <div class="author">
                {%- if bs.avatar != blank -%}
                  <div class="avatar">
                    {{ bs.avatar | image_url: width: '50' | image_tag: loading: 'lazy' }}
                  </div>
                {%- endif -%}
                <div class="profile">
                  <div class="name">{{ bs.author }}</div>
                  <div class="prof">{{ bs.prof }}</div>
                </div>
              </div>
            {%- endif -%}
          </swiper-slide>
        {%- endfor -%}
      </swiper-container>
      <prev-next-buttons>
        <div class="prev">
          {%- render 'icon', type: 'arrow-left-big' -%}
          <div class="stripe"></div>
        </div>
        <div class="next">
          <div class="stripe"></div>
          {%- render 'icon', type: 'arrow-right-big' -%}
        </div>
      </prev-next-buttons>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Reviews",
  "tag": "section",
  "class": "reviews-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    }
  ],
  "blocks": [
    {
      "name": "Review",
      "type": "review",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        },
        {
          "type": "text",
          "id": "prof",
          "label": "Profession"
        },
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "Avatar"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews",
      "settings": {}
    }
  ]
}
{% endschema %}
