{%- style -%}
  .section-{{ section.id }} {
    background: {{ section.settings.background_color }};
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    padding-left: {{ section.settings.padding_left }}px;
    padding-right: {{ section.settings.padding_right }}px;
  }
  .section-{{ section.id }} .rich-content-wrapper {
    display: flex;
    flex-direction: {{ section.settings.direction }};
    justify-content: center;
    gap: {{ section.settings.content_gap }}px;
    width: 100%;
  }
  .section-{{ section.id }} .rich-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  .section-{{ section.id }} .rich-text-wrapper .rich-text-logo-list {
    display: flex;
  }
  .section-{{ section.id }} .rich-text-image-list {
    flex: 1;
  }  
  .section-{{ section.id }} .rich-text-wrapper .rich-text-logo-list .rich-text-logo img{
    display: block;
  }
  .section-{{ section.id }} .jow-it-works-slider {
    display: flex;
  }
  @media screen and (max-width: 1440px) {
    .section-{{ section.id }} .rich-text-wrapper {
      flex: none;
    }
  }
  @media screen and (max-width: 1024px) {
    .section-{{ section.id }} .rich-text-wrapper {
      flex: 1;
    }
  }
  @media screen and (max-width: 768px) {
    .section-{{ section.id }}.section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_tablet }}px;
      padding-bottom: {{ section.settings.padding_bottom_tablet }}px;
      padding-left: {{ section.settings.padding_left_tablet }}px;
      padding-right: {{ section.settings.padding_right_tablet }}px;
    }
    .section-{{ section.id }} .rich-content-wrapper {
      flex-direction: {{ section.settings.direction_tablet }};
      gap: {{ section.settings.content_gap_tablet }}px;
    }
  }
  @media screen and (max-width: 480px) {
    .section-{{ section.id }}.section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
      padding-left: {{ section.settings.padding_left_mobile }}px;
      padding-right: {{ section.settings.padding_right_mobile }}px;
    }
    .section-{{ section.id }} .rich-content-wrapper {
      flex-direction: {{ section.settings.direction_mobile }};
      gap: {{ section.settings.content_gap_mobile }}px;
    }
  }
{%- endstyle -%}
<div class="section-{{ section.id }} section-{{ section.id }}-padding">
  <div class="container">
    <div class="rich-content-wrapper">
      <div class="rich-text-wrapper">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'heading' %}
              {% style %}
                .block-{{block.id}}.page-title {
                  color: {{ block.settings.heading_color }};
                  font-family: ClashGrotesk-Variable;
                  font-size: {{ block.settings.heading_font_size }}px;
                  font-weight: 300;
                  line-height: {{ block.settings.heading_line_height }}px;
                  margin-bottom: {{ block.settings.heading_margin_bottom }}px;
                  text-align: {{ block.settings.alignment }};
                }
                @media screen and (max-width: 480px) {
                  .block-{{block.id}}.page-title {
                    font-size: {{ block.settings.heading_font_size_mobile}}px;
                    line-height: {{ block.settings.heading_line_height_mobile }}px;
                    margin-bottom: {{ block.settings.heading_margin_bottom_mobile }}px;
                  }
                }
              {% endstyle %}
              <h2 class="block-{{ block.id }} page-title" >{{ block.settings.heading }}</h2>
            {% when 'description' %}
              {% style %}
                .block-{{block.id}}.page-description {
                  font-size: {{ block.settings.text_font_size }}px;
                  font-weight: 300;
                  line-height: {{ block.settings.text_line_height }}px;
                  color: {{ block.settings.text_color }};
                  text-align: {{ block.settings.alignment }};
                  margin-bottom: {{ block.settings.text_margin_bottom }}px;
                }
                @media screen and (max-width: 480px) {
                  .block-{{block.id}}.page-description {
                    font-size: {{ block.settings.text_font_size_mobile}}px;
                    line-height: {{ block.settings.text_line_height_mobile }}px;
                    margin-bottom: {{ block.settings.text_margin_bottom_mobile }}px;
                  }
                }
              {% endstyle %}
              <h5 class="block-{{ block.id }} page-description">{{ block.settings.text }}</h5>
          {% endcase %}
        {% endfor %}
        <div class="rich-text-logo-list">
        {% for block in section.blocks %}
          {% if block.type == "logo" %}
            {% style %}
              .block-{{ block.id }}.rich-text-logo {
                {% if block.settings.left_padding > 0 %}
                  padding-left: {{ block.settings.left_padding }}px;
                {% endif %}
                {% if block.settings.right_padding > 0 %}
                  padding-right: {{ block.settings.right_padding }}px;
                {% endif %}
                {% if block.settings.display_border %}
                  {% if block.settings.border_position == "left" %}
                    border-left: solid 1px {{ block.settings.border_color }};
                  {% else %}
                    border-right: solid 1px {{ block.settings.border_color }};
                  {% endif %}
                {% endif %}
              }
              @media screen and (max-width: 768px) {
                .block-{{ block.id }}.rich-text-logo {
                  {% if block.settings.left_padding_tablet > 0 %}
                    padding-left: {{ block.settings.left_padding_tablet }}px;
                  {% endif %}
                  {% if block.settings.right_padding_tablet > 0 %}
                    padding-right: {{ block.settings.right_padding_tablet }}px;
                  {% endif %}
                }
              }
            {% endstyle %}
            <div class="block-{{ block.id }} rich-text-logo">
              <img
                src="{{ block.settings.logo | img_url: '360x' | append: 'x' }}"
                width="100%"
                height="auto"/>
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
      <div class="slider-wrapper rich-text-image-list">
        <swiper-container class="jow-it-works-slider" init="false">
        {% for block in section.blocks %}
          {% if block.type == "slider" %}
            <swiper-slide>
              <img
                src="{{ block.settings.slider_image | img_url: '480x' | append: 'x' }}"
                width="100%"
                height="auto"/>
            </swiper-slide>
          {% endif %}
        {% endfor %}
        </swiper-container>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    /*
    const video = document.querySelector(".section-{{ section.id }} .video-container .video-player");
    const videoThumbnail = document.querySelector(".section-{{ section.id }} .video-container .video-thumbnail-cover");
    const playBtn = document.querySelector(".section-{{ section.id }} .video-container .video-play-button");
    if (video && videoThumbnail) {      
      playBtn.addEventListener("click", function() {
        videoThumbnail.style.display = 'none';
        video.currentTime = 0;
        video.loop = true;
        video.play();
      });
    }
    */
  });
</script>

{% schema %}
{
  "name": "Text with Video",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "content_max_width",
      "min": 0,
      "max": 640,
      "step": 8,
      "unit": "px",
      "label": "Content Max Width",
      "default": 472
    },
    {
      "type": "range",
      "id": "content_gap",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Gap",
      "default": 100
    },
    {
      "type": "range",
      "id": "content_gap_tablet",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Gap (Tablet)",
      "default": 32
    },
    {
      "type": "range",
      "id": "content_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Gap (Mobile)",
      "default": 32
    },
    {
      "type": "select",
      "id": "direction",
      "options": [
        {
          "value": "row",
          "label": "Row"
        },
        {
          "value": "column",
          "label": "Column"
        }
      ],
      "default": "row",
      "label": "Direction"
    },
    {
      "type": "select",
      "id": "direction_tablet",
      "options": [
        {
          "value": "row",
          "label": "Row"
        },
        {
          "value": "column",
          "label": "Column"
        }
      ],
      "default": "column",
      "label": "Direction (Tablet)"
    },
    {
      "type": "select",
      "id": "direction_mobile",
      "options": [
        {
          "value": "row",
          "label": "Row"
        },
        {
          "value": "column",
          "label": "Column"
        }
      ],
      "default": "column",
      "label": "Direction(Mobile)"
    },
    {
      "type": "header",
      "content": "padding Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Bottom",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "label": "Left",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "label": "Right",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Top(Tablet)",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Bottom(Tablet)",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_left_tablet",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "label": "Left(Tablet)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right_tablet",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "label": "Right(Tablet)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Top(Mobile)",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Bottom(Mobile)",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_left_mobile",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "label": "Left(Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right_mobile",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "label": "Right(Mobile)",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Header",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading Color",
          "default": "#000000"
        },
        {
          "type": "select",
          "id": "alignment",
          "options": [
            {
              "value": "left",
              "label": "left"
            },
            {
              "value": "center",
              "label": "center"
            },
            {
              "value": "right",
              "label": "right"
            }
          ],
          "default": "left",
          "label": "Alignment"
        },
        {
          "type": "header",
          "content": "Settings(Desktop)"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "label": "Font Size",
          "min": 0,
          "max": 100,
          "step": 2,
          "default": 50,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "heading_line_height",
          "label": "Line Height",
          "min": 0,
          "max": 100,
          "step": 2,
          "default": 60,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "heading_margin_bottom",
          "label": "Margin Bottom",
          "min": 0,
          "max": 48,
          "step": 4,
          "default": 20,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "Settings(Mobile)"
        },
        {
          "type": "range",
          "id": "heading_font_size_mobile",
          "label": "Font Size",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 22,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "heading_line_height_mobile",
          "label": "Line Height",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 24,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "heading_margin_bottom_mobile",
          "label": "Margin Bottom",
          "min": 0,
          "max": 48,
          "step": 4,
          "default": 20,
          "unit": "px"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Text"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#000000"
        },
        {
          "type": "select",
          "id": "alignment",
          "options": [
            {
              "value": "left",
              "label": "left"
            },
            {
              "value": "center",
              "label": "center"
            },
            {
              "value": "right",
              "label": "right"
            }
          ],
          "default": "left",
          "label": "Alignment"
        },
        {
          "type": "header",
          "content": "Settings(Desktop)"
        },
        {
          "type": "range",
          "id": "text_font_size",
          "label": "Font Size",
          "min": 0,
          "max": 100,
          "step": 2,
          "default": 16,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_line_height",
          "label": "Line Height",
          "min": 0,
          "max": 100,
          "step": 2,
          "default": 24,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_margin_bottom",
          "label": "Margin Bottom",
          "min": 0,
          "max": 48,
          "step": 4,
          "default": 40,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "Settings(Mobile)"
        },
        {
          "type": "range",
          "id": "text_font_size_mobile",
          "label": "Font Size",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 16,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_line_height_mobile",
          "label": "Line Height",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 24,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_margin_bottom_mobile",
          "label": "Margin Bottom",
          "min": 0,
          "max": 48,
          "step": 4,
          "default": 20,
          "unit": "px"
        }
      ]
    },
    {
      "type": "logo",
      "name": "Logo",
      "limit": 6,
      "settings": [
        {
          "type": "text",
          "id": "logo_title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"          
        },
        {
          "type": "header",
          "content": "Border Settings"
        },
        {
          "type": "checkbox",
          "id": "display_border",
          "label": "Display border"
        },
        {
          "type": "select",
          "id": "border_position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "right",
          "label": "Border Position"
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Color",
          "default": "#000000"
        },
        {
          "type": "header",
          "content": "Padding Settings"
        },
        {
          "type": "range",
          "id": "left_padding",
          "label": "Left Padding",
          "min": 0,
          "max": 64,
          "step": 1,
          "default": 25,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "right_padding",
          "label": "Right Padding",
          "min": 0,
          "max": 64,
          "step": 1,
          "default": 25,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "left_padding_tablet",
          "label": "Left Padding (Tablet)",
          "min": 0,
          "max": 64,
          "step": 1,
          "default": 22,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "right_padding_tablet",
          "label": "Right Padding (Tablet)",
          "min": 0,
          "max": 64,
          "step": 1,
          "default": 22,
          "unit": "px"
        }
      ]
    },
    {
      "type": "slider",
      "name": "Slider Image",
      "limit": 6,
      "settings": [
        {
          "type": "text",
          "id": "slider_title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "slider_image",
          "label": "Slider Image"          
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text with Video",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "description"
        }
      ]
    }
  ]
}
{% endschema %}
